<section>
    <mat-card>
        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event,0)">
            
            <!-- Create service Request Note Screen  -->
            <mat-tab label="Create Service Request Note">
                <mat-card class="mb-2 min-height-500">
                    <mat-card-header>
                        <mat-card-title *ngIf="isCreate==0"> Create Service Request Note</mat-card-title>
                        <mat-card-title *ngIf="isCreate==1"> Update Service Request Note</mat-card-title>
                        <mat-card-title *ngIf="isCreate==2"> View Service Request Note</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>

                    <form *ngIf="createServiceRequest" [formGroup]="createServiceRequest"
                        (ngSubmit)="addServicerequest(createServiceRequest.value)">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <ng-select formControlName="cmpCode" (change)="onChangeCmp($event);"
                                    placeholder="Select Company">
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!createServiceRequest.get('cmpCode').valid && createServiceRequest.get('cmpCode').touched">
                                        <span *ngIf="createServiceRequest.get('cmpCode').errors['required']">Company
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="form-group col-md-3">
                                <ng-select formControlName="plantCode" placeholder="Select Plant"
                                    (change)="onChangePlant(createServiceRequest.value.cmpCode,$event)">
                                    <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                        {{item.plantCode}} {{item.plantName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!createServiceRequest.get('plantCode').valid && createServiceRequest.get('plantCode').touched">
                                        <span *ngIf="createServiceRequest.get('plantCode').errors['required']">Plant
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="form-group col-md-3">
                                <ng-select formControlName="projCode" placeholder="Select Project"
                                    (change)="onChangeProject(createServiceRequest.value.cmpCode,createServiceRequest.value.plantCode$event)">
                                    <ng-option *ngFor="let item of ProjectList" [value]="item.projCode">
                                        {{item.projCode}} {{item.projName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!createServiceRequest.get('projCode').valid && createServiceRequest.get('projCode').touched"><span
                                            *ngIf="createServiceRequest.get
                                    ('projCode').errors['required']
                                    "> Project is required</span></span>
                                </span>
                            </div>

                            <div class="form-group col-md-3">
                                <ng-select formControlName="bpCode" placeholder="Select Vender" >
                                    <ng-option *ngFor="let item of venderList" [value]="item.bpCode">
                                        {{item.bpCode}} {{item.bpFName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!createServiceRequest.get('bpCode').valid && createServiceRequest.get('bpCode').touched"><span
                                            *ngIf="createServiceRequest.get
                                ('bpCode').errors['required']
                                "> Vender is required</span></span>
                                </span>
                            </div>
                            <div class="row">
                                <mat-form-field class="form-group col-md-3" style="font-size: 15px;">
                                    <input placeholder="Date" formControlName="srnDate" required matInput
                                        [matDatepicker]="pickerStart" id="srnDate" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerStart></mat-datepicker>
                                    <mat-error> Date is required</mat-error>
                                </mat-form-field>
                            </div>

                        </div>
                        <!-- Labour Array  -->
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="mat-button-gradient-green" mat-button
                                    *ngIf="isCreate==0 || isCreate==1" (click)="addLaborCode()">Add
                                    Labour Details</button>
                            </div>
                        </div>
                        <mat-accordion class="row">
                            <div formArrayName="SrnDetails">
                                <div *ngFor="let item of labourDetailsArray['controls']; let i=index">
                                    <div [formGroupName]="i" class="mb-3">
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title class="row">
                                                    <div class="col-md-11">
                                                        Details
                                                    </div>
                                                    <div class="col-md-1">
                                                        <mat-icon
                                                            *ngIf="i!=0 || labourDetailsArray['controls'].length>1 && isCreate==0 || isCreate==1"
                                                            class="mat-icon-delete"
                                                            (click)="deletearr(i)" title="Delete">delete_outline</mat-icon>
                                                    </div>
                                                </mat-panel-title>

                                            </mat-expansion-panel-header>
                                            <mat-divider></mat-divider>
                                            <div class="row">
                                                <div class="col-md-4 form-group ">
                                                    <ng-select formControlName="LabourDetailsID" placeholder="Labour ID"
                                                        (change)="onChangeLabourDetailsID($event,i)">
                                                        <ng-option *ngFor="let item of labourList" [value]="item.mlaid">
                                                            {{item.mlaid}} {{item.labourName}}
                                                        </ng-option>
                                                    </ng-select>
                                                    <span style="color:#f44336"><span
                                                            *ngIf="!item.get('LabourDetailsID').valid && item.get('LabourDetailsID').touched">
                                                            <span
                                                                *ngIf="item.get('LabourDetailsID').errors['required']">Labour ID
                                                                is required</span>
                                                        </span></span>
                                                </div>
                                                <mat-form-field class="col-md-4 ">
                                                    <input type="text" matInput placeholder="Description of Services"
                                                        formControlName="Description" readonly />
                                                    <mat-error *ngIf="myErrorArray('Description','required',i)">
                                                        Description of services is required </mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="col-md-4 ">
                                                    <input type="text" matInput placeholder="Quantity"
                                                        formControlName="Quantity" readonly />
                                                    <mat-error *ngIf="myErrorArray('Quantity','required',i)">
                                                        Quantity is required </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="row">
                                                <mat-form-field class="col-md-4 ">
                                                    <input type="text" matInput placeholder="Unit "
                                                        formControlName="UnitCode" readonly />
                                                    <mat-error *ngIf="myErrorArray('UnitCode','required',i)">
                                                        Unit is required </mat-error>
                                                </mat-form-field>

                                                <mat-form-field class="col-md-4 ">
                                                    <input type="text" matInput placeholder="Rate "
                                                        formControlName="Rate" readonly />
                                                    <mat-error *ngIf="myErrorArray('Rate','required',i)">
                                                        Rate is required </mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="col-md-4 ">
                                                    <input type="text" matInput placeholder="Amount "
                                                        formControlName="Amount" readonly />
                                                    <mat-error *ngIf="myErrorArray('Amount','required',i)">
                                                        Amount is required </mat-error>
                                                </mat-form-field>

                                            </div>
                                        </mat-expansion-panel>
                                    </div>
                                </div>
                            </div>
                        </mat-accordion>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <button type="submit" class="mat-button-gradient" *ngIf="isCreate==0" mat-button>Save
                                    Service Request Note</button>
                                <button type="submit" class="mat-button-gradient" *ngIf="isCreate==1" mat-button>Update
                                    Service Request Note</button>
                            </div>
                            <!-- <div class="col-md-6">
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==0" mat-button>Send
                                        To Approver</button>
                            </div> -->
                        </div>
                    </form>
                    <pre>{{createServiceRequest.value|json}}</pre>
                </mat-card>
            </mat-tab>
            
            <mat-tab label="View Service Request Note">
                <mat-card class="mt-2 min-height-500">
                    <mat-card-header>
                        <mat-card-title>View Service Request Note</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <form *ngIf="createServiceRequestView" [formGroup]="createServiceRequestView"
                        (ngSubmit)="addCreateServiceRequestView(createServiceRequestView.value)">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <ng-select formControlName="cmpCode" (change)="onChangeCmp($event);"
                                    placeholder="Select Company" required>
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!createServiceRequestView.get('cmpCode').valid && createServiceRequestView.get('cmpCode').touched">
                                        <span *ngIf="createServiceRequestView.get('cmpCode').errors['required']">Company
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="form-group col-md-3">
                                <ng-select formControlName="plantCode" placeholder="Select Plant"
                                    (change)="onChangePlant(createServiceRequestView.value.cmpCode,$event)">
                                    <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                        {{item.plantCode}} {{item.plantName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!createServiceRequestView.get('plantCode').valid && createServiceRequestView.get('plantCode').touched">
                                        <span *ngIf="createServiceRequestView.get('plantCode').errors['required']">Plant
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="form-group col-md-3">
                                <ng-select formControlName="projCode" placeholder="Select Project"
                                    (change)="viewServiceRequestNote($event)">
                                    <ng-option *ngFor="let item of ProjectList" [value]="item.projCode">
                                        {{item.projCode}} {{item.projName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!createServiceRequestView.get('projCode').valid && createServiceRequestView.get('projCode').touched"><span
                                            *ngIf="createServiceRequestView.get
                                    ('projCode').errors['required']
                                    "> Project is required</span></span>
                                </span>
                            </div>
                        </div>
                    </form>

                    <div class=" table-responsive"
                        [ngStyle]="{display: ServiceRequestNoteList?.length >0 && dataSource ? 'block' : 'none'}">
                        <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <mat-table [dataSource]="dataSource" matSort>

                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-icon  *ngIf="!isApproved" (click)="editServiceRequestNote(row,'edit')"
                                        title="Edit">update</mat-icon>
                                    <mat-icon   *ngIf="!isApproved"(click)="editServiceRequestNote(row,null)"
                                        title="View">remove_red_eye</mat-icon>
                                    <mat-icon  *ngIf="!isApproved" (click)="deleteServiceRequestNote(row)"
                                        title="Delete">delete</mat-icon>
                                            <mat-icon  *ngIf="!isApproved" title="SendtoApprover" (click)="sendApprover(row)" >send</mat-icon>
                                            <mat-icon *ngIf="isApproved">done_outline</mat-icon>

                                </mat-cell>
                            </ng-container>
                            <!-- <ng-container matColumnDef="action" *ngIf="isApproved" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-icon>done_outline</mat-icon>
                                </mat-cell>
                            </ng-container> -->
                            <ng-container matColumnDef="vendorName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Vendor Name</mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.vendorName}} </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="srn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Service Request Note ID
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.srn}} </span>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                    </div>
                </mat-card>
            </mat-tab>
            
        </mat-tab-group>
    </mat-card>
</section>

<!-- Delete Dialog -->
<ng-template #deleteDialog>
    <mat-dialog-content>
        <div class="card-body" style="align-content: center;">
            <i class="material-icons" style="font-size: 80px; color: #FFBF00; margin-left: 30%;">
                error_outline
            </i>
            <h5 class="card-title" style="text-align: center;"><strong>Are You Sure?</strong></h5>
            <h6 class="card-title" style="text-align: center;">You won't able to revert this!</h6>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" style="margin-bottom: 0.5%;">
        <button mat-button matDialogClose color="primary" (click)="deleteSRN(row)">Yes, delete it!</button>
        <button mat-button matDialogClose color="primary">Cancel</button>
    </mat-dialog-actions>
</ng-template>