<section>
    <mat-card>
        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event,0)">
            
            <mat-tab label="Project Creation">

                <mat-card class="mt-2 min-height-500">
                    <mat-card-header>
                        <mat-card-title *ngIf="isCreate==0">Project Creation</mat-card-title>
                        <mat-card-title *ngIf="isCreate==1">Project Update</mat-card-title>
                    </mat-card-header>
                    <!-- <mat-divider></mat-divider> -->
                    <mat-card-content>
                        <!-- Project Creation Form Group -->
                        <form *ngIf="createProject" [formGroup]="createProject"
                            (ngSubmit)="addProject(createProject.value)">
                            <div class="row">

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Project Code" formControlName="projCode"
                                        id="projCode" />
                                    <mat-error *ngIf="myError('projCode', 'required')">Project is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('projCode', 'pattern')">>Please provide a valid project
                                        </mat-error>
                                        <mat-error *ngIf="myError('projCode', 'maxlength')">Max length is 10</mat-error>
                                </mat-form-field>
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="cmpCode" (change)="onChangeCmp($events)"
                                        placeholder="Select Company">
                                        <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                            {{item.cmpCode}} {{item.cmpName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createProject.get('cmpCode').valid && createProject.get('cmpCode').touched">
                                            <span *ngIf="createProject.get('cmpCode').errors['required']">Company is
                                                required</span>
                                        </span></span>

                                </div>
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="plantCode" placeholder="Select Plant">
                                        <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                            {{item.plantCode}} {{item.plantName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createProject.get('plantCode').valid && createProject.get('plantCode').touched">
                                            <span *ngIf="createProject.get('plantCode').errors['required']">Plant is
                                                required</span>
                                        </span></span>
                                </div>

                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="consultantCode" placeholder="Select Consultant">
                                        <ng-option *ngFor="let item of consultantList" [value]="item.bpCode">
                                            {{item.bpFName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createProject.get('consultantCode').valid && createProject.get('consultantCode').touched">
                                            <span
                                                *ngIf="createProject.get('consultantCode').errors['required']">Consultant
                                                is required</span>
                                        </span></span>

                                </div>

                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="activityCode" placeholder="Select Execution">
                                        <ng-option *ngFor="let item of ExecutaionList" [value]="item.activityCode">
                                            {{item.activityCode}} {{item.activityName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createProject.get('activityCode').valid && createProject.get('activityCode').touched">
                                            <span *ngIf="createProject.get('activityCode').errors['required']">Execution
                                                is required</span>
                                        </span></span>
                                </div>
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="projectTypeCode" placeholder="Select Project Type">
                                        <ng-option *ngFor="let item of projectTypeList" [value]="item.projectTypeCode">
                                            {{item.projectTypeCode}} {{item.projectTypeName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createProject.get('projectTypeCode').valid && createProject.get('projectTypeCode').touched">
                                            <span
                                                *ngIf="createProject.get('projectTypeCode').errors['required']">Project
                                                type is required</span>
                                        </span></span>
                                </div>


                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Project Name" formControlName="projName"
                                        id="projName" />
                                    <mat-error *ngIf="myError('projName', 'required')">Project name is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('projName', 'pattern')">>Please provide a valid project
                                        name</mat-error>
                                        <mat-error *ngIf="myError('projName', 'maxlength')">Max length is 45</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Project Description"
                                        formControlName="projDesc" id="projDesc" />
                                    <mat-error *ngIf="myError('projDesc', 'required')">Project description is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('projDesc', 'pattern')">>Please provide a valid project
                                        description</mat-error>
                                        <mat-error *ngIf="myError('projDesc', 'maxlength')">Max length is 45</mat-error>
                                </mat-form-field>
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="countryCode" (change)="onChangeCountry($event)"
                                        placeholder="Select Country">
                                        <ng-option *ngFor="let item of CountryList" [value]="item.countryCode">
                                            {{item.countryCode}} {{item.countryName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createProject.get('countryCode').valid && createProject.get('countryCode').touched">
                                            <span *ngIf="createProject.get('countryCode').errors['required']">Country
                                                is required</span>
                                        </span></span>

                                </div>
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="stateCode" placeholder="Select State">
                                        <ng-option *ngFor="let item of StateList" [value]="item.stateCode">
                                            {{item.stateCode}} {{item.stateName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createProject.get('stateCode').valid && createProject.get('stateCode').touched">
                                            <span *ngIf="createProject.get('stateCode').errors['required']">State
                                                is required</span>
                                        </span></span>

                                </div>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="City" formControlName="city" id="city" />
                                    <mat-error *ngIf="myError('city', 'required')">City is required</mat-error>
                                    <mat-error *ngIf="myError('city', 'pattern')">Please provide a valid
                                        city</mat-error>
                                        <mat-error *ngIf="myError('city', 'maxlength')">Max length is 45</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Street" formControlName="street"
                                        id="street" />
                                    <mat-error *ngIf="myError('street', 'required')">Street is required</mat-error>
                                    <mat-error *ngIf="myError('street', 'pattern')">Please provide a valid
                                        Street</mat-error>
                                        <mat-error *ngIf="myError('street', 'maxlength')">Max length is 45</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Address Line 1"
                                        formControlName="addressLine1" id="addressLine1" />
                                        <mat-error *ngIf="myError('addressLine1', 'maxlength')">Max length is 50</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Address Line 2"
                                        formControlName="addressLine2" id="addressLine2" />
                                        <mat-error *ngIf="myError('addressLine2', 'maxlength')">Max length is 50</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Postal Code" formControlName="postalCode"
                                        id="postalCode" />
                                    <mat-error *ngIf="myError('postalCode', 'required')">Postal code is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('postalCode', 'pattern')">Please provide a valid postal
                                        code</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Project Cost"
                                        formControlName="projectCost" id="projectCost" />
                                    <mat-error *ngIf="myError('projectCost', 'required')">Project cost is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('projectCost', 'pattern')">Please provide a valid project
                                        cost</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3" style="font-size: 15px;">
                                    <mat-label>Start Date</mat-label>
                                    <input formControlName="projectStartDate" required matInput [min]="startMinDate"
                                        [matDatepicker]="pickerStart" id="projectStartDate" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerStart></mat-datepicker>
                                    <mat-error *ngIf="myError('projectStartDate', 'required')">Start date is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('projectStartDate', 'pattern')">Please provide a valid start
                                        date</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3" style="font-size: 15px;">
                                    <mat-label>End Date</mat-label>
                                    <input formControlName="projectEndDate" required matInput [min]="endMinDate"
                                        [matDatepicker]="pickerEnd" id="projectEndDate" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerEnd></mat-datepicker>
                                    <mat-error *ngIf="myError('projectEndDate', 'required')">End date is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('projectEndDate', 'pattern')">Please provide a valid end
                                        date</mat-error>
                                </mat-form-field>
                            </div>
                            <!-- ******** -->

                            <mat-expansion-panel class="mb-3" #mapanel="matExpansionPanel">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="row">
                                        <div class="col-md-11">
                                            Client Details
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-divider></mat-divider>

                                <div class="row">
                                    <div class="col-md-3 form-group ">
                                        <ng-select formControlName="clientCode" placeholder="Select Client Name"
                                            (change)="onChangeClient($event)">
                                            <ng-option *ngFor="let item of clientList" [value]="item.bpCode">
                                                {{item.bpCode}} {{item.bpFName}} {{item.bpMName}} {{item.bpLName}}
                                            </ng-option>
                                        </ng-select>
                                        <span style="color:#f44336"><span
                                                *ngIf="!createProject.get('clientCode').valid && createProject.get('clientCode').touched">
                                                <span *ngIf="createProject.get('clientCode').errors['required']">Client
                                                    name
                                                    is required</span>
                                            </span></span>

                                    </div>

                                    <div class="col-md-6" style="margin-top: 1%;margin-left: 5%;">
                                        <button type="button" *ngIf="isCreate==0 || isCreate==1"
                                            class="mat-button-gradient-green" mat-button (click)="openDialog()">Add New
                                            Client
                                        </button>

                                    </div>
                                </div>

                                <mat-expansion-panel #mapanel="matExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title class="row">
                                            <div class="col-md-11">
                                                Contact Person Details
                                            </div>

                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-divider></mat-divider>
                                    <!-- Client Contact Person Details Array -->
                                    <div formArrayName="projectContactPersns">
                                        <div *ngFor="let CLI of client()['controls'];  let i = index">
                                            <div [formGroupName]="i">


                                                <div class="row">
                                                    <div class="col-md-3 form-group ">
                                                        <ng-select class="pb-3" formControlName="cpRole"
                                                            placeholder="Select Contact Person Role">
                                                            <ng-option *ngFor="let item of RoleList" [value]="item">
                                                                {{item}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <span style="color:#f44336"><span
                                                                *ngIf="!CLI.get('cpRole').valid && CLI.get('cpRole').touched">
                                                                <span
                                                                    *ngIf="CLI.get('cpRole').errors['required']">Contact
                                                                    person role
                                                                    is required</span>
                                                            </span></span>


                                                    </div>

                                                    <div class="col-md-3 form-group ">
                                                        <ng-select formControlName="bpCode"
                                                            placeholder="Select Contact Person Name">
                                                            <ng-option *ngFor="let item of clientContactPersonList"
                                                                [value]="item.bpCode">
                                                                {{item.bpCode}} {{item.bpFName}} {{item.bpMName}}
                                                                {{item.bpLName}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <span style="color:#f44336"><span
                                                                *ngIf="!CLI.get('bpCode').valid && CLI.get('bpCode').touched">
                                                                <span
                                                                    *ngIf="CLI.get('bpCode').errors['required']">Contact
                                                                    person name
                                                                    is required</span>
                                                            </span></span>
                                                    </div>

                                                    <div class="col-md-3" style="margin-top: 1%">
                                                        <button *ngIf="isCreate==0 || isCreate==1" type="button"
                                                            class="mat-button-gradient-green" mat-button
                                                            (click)="addContactPerson(i)">Add
                                                        </button>
                                                    </div>

                                                    <div class="col-md-3" style="margin-top: 1%">
                                                        <mat-icon class="mat-icon-delete" *ngIf="i!=0"title="Delete"
                                                            (click)="removeContactPerson(i)">delete_outline</mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button *ngIf="isCreate==0 || isCreate==1" type="button"
                                                class="mat-button-gradient-green" mat-button (click)="openModal()">Add
                                                Contact Person
                                            </button>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-expansion-panel>
                            <!-- ********* -->

                            <div class="row">
                                <div class="col-md-12">
                                    <button *ngIf="isCreate==0 || isCreate==1" type="button"
                                        class="mat-button-gradient-green" mat-button (click)="addBlock()">Add
                                        Project Block
                                    </button>
                                </div>
                            </div>
                            <!-- Block Form Aarray -->
                            <mat-accordion class="row" #accordion="matAccordion" multi>
                                <div formArrayName="blocks">
                                    <div *ngFor="let block of blocks()['controls'];  let i = index">
                                        <div [formGroupName]="i" class="mb-3">

                                            <mat-expansion-panel #mapanel="matExpansionPanel">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="row">
                                                        <div class="col-md-11">
                                                            Project Block Details
                                                        </div>
                                                        <div class="col-md-1">
                                                            <mat-icon *ngIf="i!=0 || this.isCreate != 2"
                                                                class="mat-icon-delete"title="Delete"
                                                                (click)="removeBlock(i)">delete_outline</mat-icon>
                                                        </div>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-divider></mat-divider>

                                                <div class="row">
                                                    <mat-form-field class="col-md-6">
                                                        <input type="text" matInput placeholder="Block Name"
                                                            formControlName="blockName" />
                                                        <mat-error *ngIf="myErrorArray('blockName', 'required',i)">Block
                                                            name is
                                                            required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('blockName', 'pattern',i)">Please
                                                            provide
                                                            a valid block name</mat-error>
                                                            <mat-error *ngIf="myErrorArray('blockName', 'maxlength',i)">Max length is 45</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-6">
                                                        <input type="text" matInput placeholder="Block Description"
                                                            formControlName="Description" />
                                                        <mat-error
                                                            *ngIf="myErrorArray('Description', 'required',i)">Block
                                                            description is
                                                            required</mat-error>
                                                        <mat-error
                                                            *ngIf="myErrorArray('Description', 'pattern',i)">Please
                                                            provide a valid description</mat-error>
                                                            <mat-error *ngIf="myErrorArray('Description', 'maxlength',i)">Max length is 45</mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <!-- Building Form Array -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button *ngIf="isCreate==0 || isCreate==1" type="button"
                                                            class="mat-button-gradient-green" mat-button
                                                            (click)="addBuilding(i)">Add Project Building
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- Building Form Array -->
                                                <div formArrayName="buildings">
                                                    <div
                                                        *ngFor="let building of buildings(i)['controls']; let j = index">
                                                        <div [formGroupName]="j" class="mb-3">

                                                            <mat-expansion-panel #mapanel="matExpansionPanel">
                                                                <mat-expansion-panel-header>
                                                                    <mat-panel-title class="row">
                                                                        <div class="col-md-11">
                                                                            Project Building Details
                                                                        </div>
                                                                        <div class="col-md-1">
                                                                            <mat-icon class="mat-icon-delete"
                                                                                *ngIf="j!=0"title="Delete"
                                                                                (click)="removeBuildingArray(i,j)">delete_outline</mat-icon>
                                                                        </div>
                                                                    </mat-panel-title>
                                                                </mat-expansion-panel-header>

                                                                <mat-divider></mat-divider>

                                                                <div class="row">
                                                                    <mat-form-field class="col-md-6">
                                                                        <input matInput placeholder="Building Name"
                                                                            formControlName="buildingName" />
                                                                        <mat-error>Building name is required</mat-error>
                                                                    </mat-form-field>

                                                                    <mat-form-field class="col-md-6">
                                                                        <input matInput
                                                                            placeholder="Building Description"
                                                                            formControlName="Description" />
                                                                        <mat-error>Building description is
                                                                            required</mat-error>
                                                                            <mat-error *ngIf="myErrorArray('Description', 'maxlength',i)">Max length is 45</mat-error>
                                                                    </mat-form-field>
                                                                </div>

                                                                <!-- Floor Form Array -->
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <button type="button"
                                                                            *ngIf="isCreate==0 || isCreate==1"
                                                                            class="mat-button-gradient-green" mat-button
                                                                            (click)="addFloor(i,j)">Add Floor
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <!-- Floor Form Array -->
                                                                <div formArrayName="Floors">
                                                                    <div
                                                                        *ngFor="let Floor of Floors(i,j)['controls']; let k = index">
                                                                        <div [formGroupName]="k" class="mb-3">

                                                                            <mat-expansion-panel
                                                                                #mapanel="matExpansionPanel">
                                                                                <mat-expansion-panel-header>
                                                                                    <mat-panel-title class="row">
                                                                                        <div class="col-md-11">
                                                                                            Project Floors Details
                                                                                        </div>
                                                                                        <div class="col-md-1">
                                                                                            <mat-icon
                                                                                                class="mat-icon-delete"title="Delete"
                                                                                                (click)="removeFloorArray(i,j,k)">delete_outline</mat-icon>
                                                                                        </div>
                                                                                    </mat-panel-title>
                                                                                </mat-expansion-panel-header>

                                                                                <mat-divider></mat-divider>

                                                                                <div class="row">
                                                                                    <mat-form-field class="col-md-6">
                                                                                        <input matInput
                                                                                            placeholder="Floor Name"
                                                                                            formControlName="floorName" />
                                                                                        <!-- <mat-error>Building name is required</mat-error> -->
                                                                                    </mat-form-field>

                                                                                    <mat-form-field class="col-md-6">
                                                                                        <input matInput
                                                                                            placeholder="Floor Description"
                                                                                            formControlName="floorDesc" />

                                                                                    </mat-form-field>
                                                                                </div>
                                                                            </mat-expansion-panel>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </mat-expansion-panel>
                                                        </div>
                                                    </div>
                                                </div>

                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </mat-accordion>
                            <!-- Store Form Aarry -->
                            <mat-accordion class="row" #accordion="matAccordion" multi>
                                <div formArrayName="store">
                                    <div *ngFor="let store of stores()['controls'];  let i = index">
                                        <div [formGroupName]="i" class="mb-3">
                                            <mat-expansion-panel #mapanel="matExpansionPanel">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="row">
                                                        <div class="col-md-11">
                                                            Project Store Details
                                                        </div>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-divider></mat-divider>

                                                <div class="row">
                                                    <mat-form-field class="col-md-6 form-group">
                                                        <input type="text" matInput placeholder="Store Name"
                                                            formControlName="storeName" />
                                                        <mat-error
                                                            *ngIf="storeErrorArray('storeName', 'required',i)">Store
                                                            name
                                                            is required</mat-error>
                                                        <mat-error
                                                            *ngIf="storeErrorArray('storeName', 'pattern',i)">Please
                                                            provide a
                                                            valid store name</mat-error>
                                                            <mat-error *ngIf="storeErrorArray('storeName', 'maxlength',i)">Max length is 45</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-6 form-group">
                                                        <input type="text" matInput placeholder="Store Description"
                                                            formControlName="Description"
                                                            [ngClass]="{ 'is-invalid': submitted &&  store.get('Description')?.invalid }" />
                                                        
                                                        <mat-error *ngIf="storeErrorArray('Description', 'required',i)">Store description is required</mat-error>
                                                        <mat-error *ngIf="storeErrorArray('Description', 'maxlength',i)">Max length is 50</mat-error>
                                                    </mat-form-field>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button type="button" class="mat-button-gradient-green"
                                                            *ngIf="isCreate==0 || isCreate==1" mat-button
                                                            (click)="addSubStore(i)">Add Sub Store
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- Sub Store Form Array -->
                                                <div formArrayName="subStore">
                                                    <div
                                                        *ngFor="let subStore of subStores(i)['controls']; let j = index">
                                                        <div [formGroupName]="j" class="mb-3">

                                                            <mat-expansion-panel #mapanel="matExpansionPanel">
                                                                <mat-expansion-panel-header>
                                                                    <mat-panel-title class="row">
                                                                        <div class="col-md-11">
                                                                            Sub Store Details
                                                                        </div>
                                                                        <div class="col-md-1">
                                                                            <mat-icon class="mat-icon-delete"
                                                                                *ngIf="isCreate==0 || isCreate==1"title="Delete"
                                                                                (click)="removeSubStores(i,j)">delete_outline</mat-icon>
                                                                        </div>
                                                                    </mat-panel-title>
                                                                </mat-expansion-panel-header>
                                                                <mat-divider></mat-divider>
                                                                <div class="row">

                                                                    <mat-form-field class="col-md-6 form-group">
                                                                        <input type="text" matInput
                                                                            placeholder="Sub Store Name"
                                                                            formControlName="storeName"
                                                                            [ngClass]="{ 'is-invalid': submitted &&  subStore.get('storeName')?.invalid }" />
                                                                        <mat-error>Sub-store name is
                                                                            required</mat-error>
                                                                    </mat-form-field>

                                                                    <mat-form-field class="col-md-6 form-group">
                                                                        <input type="text" matInput
                                                                            placeholder=" Sub Store Description"
                                                                            formControlName="Description"
                                                                            [ngClass]="{ 'is-invalid': submitted &&  subStore.get('Description')?.invalid }" />
                                                                        <mat-error>Sub-store description is
                                                                            required</mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                            </mat-expansion-panel>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </mat-accordion>

                            <!-- <mat-accordion class="row"> -->
                            <mat-expansion-panel #mapanel="matExpansionPanel">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="row">
                                        <div class="col-md-11">
                                            Key Person Details
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-divider></mat-divider>
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <button type="button" *ngIf="isCreate==0 || isCreate==1"
                                            (click)="addkeyPerson()" class="mat-button-gradient-green" mat-button>Add
                                            Key Person
                                        </button>
                                    </div>
                                </div>
                                <!-- Sub Store Form Array -->
                                <div formArrayName="projectKeypersons">
                                    <div *ngFor="let key of keyPerson.controls;  let i = index">
                                        <div [formGroupName]="i" class="mb-3">
                                            <mat-expansion-panel #mapanel="matExpansionPanel">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="row">
                                                        <div class="col-md-11">
                                                            Key person Details
                                                        </div>
                                                        <div class="col-md-1">
                                                            <mat-icon class="mat-icon-delete" *ngIf="i!=0"title="Delete"
                                                                (click)="removekeyPerson(i)">delete_outline</mat-icon>
                                                        </div>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-divider></mat-divider>
                                                <div class="row">
                                                    <div class="col-md-6 form-group ">
                                                        <ng-select formControlName="designationCode"
                                                            placeholder="Select Designation">
                                                            <ng-option *ngFor="let item of designationList"
                                                                [value]="item.designationCode">
                                                                {{item.designationCode}} {{item.designation}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <span style="color:#f44336"><span
                                                                *ngIf="!key.get('designationCode').valid && key.get('designationCode').touched">
                                                                <span
                                                                    *ngIf="key.get('designationCode').errors['required']">Designation
                                                                
                                                                    is required</span>
                                                            </span></span>
                                                    </div>

                                                    <div class="col-md-6 form-group ">
                                                        <ng-select formControlName="bpCode" placeholder="Select User Name">
                                                            <ng-option *ngFor="let item of bpCodeList"
                                                                [value]="item.bpCode">
                                                                {{item.bpCode}} {{item.bpFName}} {{item.bpMName}}
                                                                {{item.bpLName}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <span style="color:#f44336"><span
                                                                *ngIf="!key.get('bpCode').valid && key.get('bpCode').touched">
                                                                <span *ngIf="key.get('bpCode').errors['required']">User
                                                                    name
                                                                    is required</span>
                                                            </span></span>
                                                    </div>

                                                </div>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                            <!-- </mat-accordion> -->

                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==0"
                                        mat-button>Save Project</button>
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==1"
                                        mat-button>Update Project</button>
                                </div>
                            </div>
                          
                        </form>
                    </mat-card-content>
                </mat-card>

            </mat-tab>

            <mat-tab label="View Project">
                <mat-card class="mt-2 min-height-500">
                    <mat-card-header>
                        <mat-card-title>View Project </mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <form [formGroup]="ViewTablePrj" *ngIf="ViewTablePrj" >
                        <div class="row">

                            <ng-select (change)="onChangeCompany($event)" class="form-group col-md-3"
                                placeholder="Select Company" formControlName="cmpCode">
                                <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                    {{item.cmpCode}} {{item.cmpName}}
                                </ng-option>
                            </ng-select>
                            <span style="color:#f44336"><span
                                *ngIf="!ViewTablePrj.get('cmpCode').valid && ViewTablePrj.get('cmpCode').touched">
                                <span *ngIf="ViewTablePrj.get('cmpCode').errors['required']">Company is
                                    required</span>
                            </span></span>
                        </div>
                    </form>
                    
                    <div class=" table-responsive"
                        [ngStyle]="{display: projectList?.length >0 && dataSource ? 'block' : 'none'}">
                        <!-- Table Filter -->
                        <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <!-- Table -->
                        <mat-table [dataSource]="dataSource" matSort>
                            <!-- Update Company Column -->
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-icon (click)="editProject(row,'edit')" title="Edit">update</mat-icon>
                                    <mat-icon (click)="editProject(row,'view')"
                                        title="View">remove_red_eye</mat-icon>
                                    <mat-icon (click)="deleteProject(row)" title="Delete">delete</mat-icon>
                                </mat-cell>

                            </ng-container>
                            <ng-container matColumnDef="projName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Project Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.projName}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="activityCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Executaion</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.activityName}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="projectTypeCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Project Type</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.projectTypeName}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="addressLine1">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Address Line1 </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.addressLine1}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="addressLine2">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Address Line2 </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.addressLine2}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="street">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Street </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.street}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="city">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>City </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="postalCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Postal Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.postalCode}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="projectCost">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Project Cost </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.projectCost}} </mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="projectStartDate">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Project Start Date</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.projectStartDate |date: 'yyyy-MM-dd'}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="projectEndDate">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Project End Date</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.projectEndDate |date: 'yyyy-MM-dd'}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="createBy">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Create By </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.createBy}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="createOn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Create On</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.createOn | date:'yyyy-MM-dd'}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="updateBy">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Update By </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.updateBy}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="updateOn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Update On</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.updateOn | date:'yyyy-MM-dd'}} </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayProjectColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayProjectColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                    </div>
                </mat-card>
            </mat-tab>

            
        </mat-tab-group>
    </mat-card>
</section>





<ng-template #clientDialog>
    <mat-dialog-content>
        <mat-card-header>
            <mat-card-title>Contact Person</mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>
        <form *ngIf="createPerson" [formGroup]="createPerson" (ngSubmit)="submitForm()">
            <div class="row">
                <mat-form-field class="col-md-3 form-group">
                    <mat-label>Person Type</mat-label>
                    <mat-select type="text" matInput placeholder="Person Type" formControlName="persontype">
                        <mat-option value="Commertial">Commertial</mat-option>
                        <mat-option value="Technical">Technical</mat-option>
                    </mat-select>
                    <mat-error *ngIf="Error('persontype', 'required')">Person type is required</mat-error>
                    <mat-error *ngIf="Error('persontype', 'pattern')">Please provide a valid person type</mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-3 ">
                    <input type="text" matInput placeholder="Name" formControlName="name" />
                    <mat-error *ngIf="Error('name', 'required')">Name
                        is required</mat-error>
                    <mat-error *ngIf="Error('name', 'pattern')">Please
                        provide a valid name</mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-3 ">
                    <input type="text" matInput placeholder="Phone" formControlName="phone" />
                    <mat-error *ngIf="Error('phone', 'required')">Phone is
                        required</mat-error>
                    <mat-error *ngIf="Error('phone', 'pattern')">Please provide a valid
                        phone</mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-3 ">
                    <input type="text" matInput placeholder="Email Id" formControlName="emailId" />
                    <mat-error *ngIf="Error('emailId', 'required')">Email Id is
                        required</mat-error>
                    <mat-error *ngIf="Error('emailId', 'pattern')">Please provide a valid
                        email id</mat-error>
                </mat-form-field>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <button type="submit" matDialogClose class="mat-button-gradient" mat-button>Add</button>

                    <button mat-button matDialogClose color="primary">Cancel</button>
                </div>
            </div>
        </form>
    </mat-dialog-content>
</ng-template>