<section>
    <mat-card>
        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event,0)">
            <mat-tab label="View & Upload BOQ">
                <mat-card class="mt-2 min-height-500 ">
                    <mat-card-header>
                        <mat-card-title>BOQ Upload</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>

                    <form *ngIf="bulkUploadBOQ" [formGroup]="bulkUploadBOQ" (ngSubmit)="bulkUploadBOQs()">
                        <div class="row">
                            <div class="col-md-2 form-group ">
                                <ng-select formControlName="cmpCode" placeholder="Select Company"
                                    (change)="onChangeCompany($event)">
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!bulkUploadBOQ.get('cmpCode').valid && bulkUploadBOQ.get('cmpCode').touched">
                                        <span *ngIf="bulkUploadBOQ.get('cmpCode').errors['required']">Company
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="col-md-2 form-group ">
                                <ng-select formControlName="plantCode" placeholder="Select Plant"
                                    (change)="onChangePlant(bulkUploadBOQ.value.cmpCode,bulkUploadBOQ.value.plantCode)">
                                    <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                        {{item.plantCode}} {{item.plantName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!bulkUploadBOQ.get('plantCode').valid && bulkUploadBOQ.get('plantCode').touched">
                                        <span *ngIf="bulkUploadBOQ.get('plantCode').errors['required']">Plant
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="col-md-2 form-group ">
                                <ng-select formControlName="projCode" placeholder="Select Project"
                                    (change)="onChangeProject(bulkUploadBOQ.value.cmpCode,$event)">
                                    <ng-option *ngFor="let item of ProjectList" [value]="item.projCode">
                                        {{item.projCode}} {{item.projName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!bulkUploadBOQ.get('projCode').valid && bulkUploadBOQ.get('projCode').touched">
                                        <span *ngIf="bulkUploadBOQ.get('projCode').errors['required']">Project
                                            is required</span>
                                    </span></span>
                            </div>
                            <mat-form-field class="col-md-2" style="font-size: 15px;">
                                <mat-label>Choose file</mat-label>
                                <input matInput formControlName="DocumentFileUpload" readonly>
                                <button type="button" mat-icon-button matSuffix (click)="fileInput.click()">
                                    <mat-icon>attach_file</mat-icon>
                                </button>
                                <input hidden (change)="selectFile($event)" #fileInput type="file"
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                    id="file">
                            </mat-form-field>

                            <div class="col-md-2">
                                <button type="submit" class="float-right mat-button-gradient" mat-button
                                    [disabled]="bulkUploadBOQ?.invalid!">Upload BOQ</button>

                            </div>
                        </div>

                    </form>

                    <mat-card-header>
                        <mat-card-title>View BOQ</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <div class=" table-responsive" [ngStyle]="{display: BOQList.length > 0  ? 'block' : 'none'}">
                        <!-- Table Filter -->
                        <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <!-- Table -->
                        <mat-table [dataSource]="dataSource" matSort>
                            <!-- Update Company Column -->
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <!-- <mat-icon (click)="edit(row)" >update</mat-icon> -->
                                    <button mat-icon-button (click)="view(row);" title="View"
                                        [disabled]="BtnDisabled==1"><mat-icon>remove_red_eye</mat-icon></button>
                                    <button mat-icon-button  title="Download"
                                        (click)="downloadUplodedView(row)"><mat-icon>download</mat-icon></button>
                                </mat-cell>
                            </ng-container>
                            <!-- Company Code Column -->
                            <ng-container matColumnDef="cmpCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{BOQList[0][0].cmpName}} </mat-cell>
                            </ng-container>

                            <!-- Plant Code Column -->
                            <ng-container matColumnDef="plantCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{BOQList[0][0].plantName}} </mat-cell>
                            </ng-container>

                            <!-- BOQ Id Column -->
                            <ng-container matColumnDef="boqId">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> BOQ Id </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.boqId}} </mat-cell>
                            </ng-container>

                            <!-- Account Group Id Column -->
                            <ng-container matColumnDef="actGroupId">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Account Group Id </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.actGroupId}} </mat-cell>
                            </ng-container>

                            <!-- Project Code Column -->
                            <ng-container matColumnDef="projCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{BOQList[0][0].projName}} </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                    </div>


                </mat-card>
            </mat-tab>

            <mat-tab label="Download BOQ Template">
                <mat-card class="mt-2 min-height-500">
                    <mat-card-header>
                        <mat-card-title>Download BOQ Template</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <form *ngIf="uploadBOQ" [formGroup]="uploadBOQ">
                        <div class="row">
                            <div class="col-md-3 form-group">
                            <ng-select  formControlName="cmpCode"
                                placeholder="Select Company" (change)="onChangeCompany($event)">
                                <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                    {{item.cmpCode}} {{item.cmpName}}
                                </ng-option>
                            </ng-select>
                            <span style="color:#f44336"><span
                                *ngIf="!uploadBOQ.get('cmpCode').valid && uploadBOQ.get('cmpCode').touched">
                                <span *ngIf="uploadBOQ.get('cmpCode').errors['required']">Company
                                    is required</span>
                            </span></span>
                    </div>
<div class="col-md-3 form-group ">
                            <ng-select  formControlName="plantCode"
                                placeholder="Select Plant" (change)="onChangePlant(uploadBOQ.value.cmpCode,$event)">
                                <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                    {{item.plantCode}} {{item.plantName}}
                                </ng-option>
                            </ng-select>
                            <span style="color:#f44336"><span
                                *ngIf="!uploadBOQ.get('plantCode').valid && uploadBOQ.get('plantCode').touched">
                                <span *ngIf="uploadBOQ.get('plantCode').errors['required']">Plant
                                    is required</span>
                            </span></span>
                    </div>
                    <div class="col-md-3 form-group ">
                            <ng-select  formControlName="projCode"
                                placeholder="Select Project" (change)="onChangeProject(uploadBOQ.value.cmpCode,$event)">
                                <ng-option *ngFor="let item of ProjectList" [value]="item.projCode">
                                    {{item.projCode}} {{item.projName}}
                                </ng-option>
                            </ng-select>
                            <span style="color:#f44336"><span
                                *ngIf="!uploadBOQ.get('projCode').valid && uploadBOQ.get('projCode').touched">
                                <span *ngIf="uploadBOQ.get('projCode').errors['required']">Project
                                    is required</span>
                            </span></span>
                    </div>

                            <div class="col-md-3">
                                <button type="button" class="mat-button-gradient" (click)="downloadUploadBOQ()"
                                    mat-button>Download
                                    BOQ</button>
                            </div>
                        </div>
                    </form>
                    <!-- </mat-card-content> -->
                    <div class="row">
                        <div cdkDropListGroup>
                            <div class="example-container  ">
                                <h5>Activity Head</h5>

                                <div cdkDropList [cdkDropListData]="ActivityHead" class="example-list"
                                    (cdkDropListDropped)="drop($event)">
                                    <mat-card class="example-box" *ngFor="let item of ActivityHead"
                                        cdkDrag>{{item.actGroupDesc}}</mat-card>
                                </div>
                            </div>

                            <div class="example-container ">
                                <h5>Selected Activity Head</h5>

                                <div cdkDropList [cdkDropListData]="SelectedActivityHead" class="example-list"
                                    (cdkDropListDropped)="drop($event)">
                                    <div class="example-box" *ngFor="let item of SelectedActivityHead" cdkDrag>
                                        {{item.actGroupDesc}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </mat-card>

            </mat-tab>

        </mat-tab-group>
    </mat-card>
</section>



<!-- View Dialog -->
<ng-template #viewDialog>

    <mat-dialog-content>

        <mat-card>
            <button mat-icon-button color="warn" class="float-right" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
            </button>
            <!-- Header -->
            <mat-card-header>
                <mat-card-title>BOQ Details View</mat-card-title>
            </mat-card-header>

            <mat-divider class="mt-2"></mat-divider>


            <!-- Container -->
            <div class="table-responsive">

                <!-- Table Filter -->
                <!-- <mat-form-field class="col-md-3 float-right filter-class">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field> -->
                <!-- Table -->
                <mat-table [dataSource]="viewDataSource" matSort class="mt-3">

                    <!--actGroupId Code Column -->
                    <ng-container matColumnDef="actGroupId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ActGroupId Code </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.actGroupId}} </mat-cell>
                    </ng-container>

                    <!--actSeqNo Code Column -->
                    <ng-container matColumnDef="actSeqNo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ActSeqNo </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.actSeqNo}} </mat-cell>
                    </ng-container>

                    <!-- displaySequence Column -->
                    <ng-container matColumnDef="displaySequence">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> DisplaySequence </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.displaySequence}} </mat-cell>
                    </ng-container>

                    <!-- actDesc Column -->
                    <ng-container matColumnDef="actDesc">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ActDesc </mat-header-cell>
                        <mat-cell *matCellDef="let row" class=" truncate-cell"> {{row.actDesc}} </mat-cell>
                    </ng-container>

                    <!-- quntity Column -->
                    <ng-container matColumnDef="quntity">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Quntity </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.quntity}} </mat-cell>
                    </ng-container>

                    <!-- displayUnit Column -->
                    <ng-container matColumnDef="displayUnit">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> DisplayUnit </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.displayUnit}} </mat-cell>
                    </ng-container>

                    <!-- rate Column -->
                    <ng-container matColumnDef="rate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Rate </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.rate}} </mat-cell>
                    </ng-container>

                    <!-- rate Column -->
                    <ng-container matColumnDef="amount">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.amount}} </mat-cell>
                    </ng-container>

                    <!-- subSequence -->


                    <mat-header-row *matHeaderRowDef="displayedColumnsview"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumnsview;">
                    </mat-row>
                </mat-table>

                <!-- <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator> -->
            </div>



        </mat-card>
    </mat-dialog-content>

</ng-template>