<section>
    <!-- Mat Card -->
    <mat-card>
        <!-- Mat Tab Group -->
        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event,0)">
            <!-- Mat Tab -->
            <mat-tab label="Create Company">
                <!-- Mat Card -->
                <mat-card class="mt-2 min-height-500">
                    <!-- Mat Card Header-->
                    <mat-card-header>
                        <mat-card-title *ngIf="isCreate==0">Create Company</mat-card-title>
                        <mat-card-title *ngIf="isCreate==1">Update Company </mat-card-title>
                        <mat-card-title *ngIf="isCreate==2">View Company</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <!-- Mat Card Content -->
                    <mat-card-content>
                        <form *ngIf="createCompany" [formGroup]="createCompany"
                            (ngSubmit)="addCompany(createCompany.value)">
                            <div class="row">

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Company Code" formControlName="cmpCode" />
                                    <mat-error *ngIf="myError('cmpCode', 'required')">Company code is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('cmpCode', 'maxlength')">Max length is 10</mat-error>
                                    <mat-error *ngIf="myError('cmpCode', 'pattern')">Please provide a valid
                                        company</mat-error>

                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Company Name" formControlName="cmpName"
                                        id="cmpName" />
                                    <mat-error *ngIf="myError('cmpName', 'required')">Company name is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('cmpName', 'maxlength')">Maximum size is 45</mat-error>
                                    <mat-error *ngIf="myError('cmpName', 'pattern')">Please provide a valid company
                                        name</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Short Key" formControlName="shortKey" />
                                    <mat-error *ngIf="myError('shortKey', 'required')">Short key is required</mat-error>
                                    <mat-error *ngIf="myError('shortKey', 'maxlength')">Maximum size is 15</mat-error>
                                    <mat-error *ngIf="myError('shortKey', 'pattern')">Please provide a valid Short
                                        Key</mat-error>
                                </mat-form-field>


                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Company PAN" formControlName="cmpPAN"
                                        id="cmpPAN" />
                                    <mat-error *ngIf="myError('cmpPAN', 'required')">Company pan is required</mat-error>
                                    <mat-error *ngIf="myError('cmpPAN', 'pattern')">Please provide a valid company
                                        pan</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Company CIN" formControlName="cin"
                                        id="cin" />
                                    <mat-error *ngIf="myError('cin', 'required')">Company cin is required</mat-error>
                                    <mat-error *ngIf="myError('cin', 'pattern')">Please provide a valid company
                                        cin</mat-error>
                                </mat-form-field>

                                <div class="col-md-3 form-group ">
                                    
                                        <ng-select formControlName="countryCode" (change)="onChangeCountry($event);"
                                            placeholder="Select Country" >
                                            <ng-option *ngFor="let item of CountryList" [value]="item.countryCode">
                                                {{item.countryCode}} {{item.countryName}}
                                            </ng-option>
                                        </ng-select>
                                        <span style="color:#f44336">
                                        <span *ngIf="!createCompany.get('countryCode').valid && createCompany.get('countryCode').touched">
                                            <span *ngIf="createCompany.get('countryCode').errors['required']">Country
                                                is required</span>
                                        </span></span>
                                </div>
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="stateCode" placeholder=" Select State">
                                        <ng-option *ngFor="let item of StateList" [value]="item.stateCode">
                                            {{item.stateCode}} {{item.stateName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createCompany.get('stateCode').valid && createCompany.get('stateCode').touched">
                                            <span *ngIf="createCompany.get('stateCode').errors['required']">State
                                                is required</span>
                                        </span></span>
                                </div>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="City" formControlName="city" id="city" />
                                    <mat-error *ngIf="myError('city', 'required')">City is required</mat-error>
                                    <mat-error *ngIf="myError('city', 'maxlength')">Maximum size is 45</mat-error>
                                    <mat-error *ngIf="myError('city', 'pattern')">Please provide a valid
                                        city</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Street" formControlName="street"
                                        id="street" />
                                    <mat-error *ngIf="myError('street', 'required')">Street is required</mat-error>
                                    <mat-error *ngIf="myError('street', 'maxlength')">Maximum size is 45</mat-error>
                                    <mat-error *ngIf="myError('street', 'pattern')">Please provide a valid
                                        street</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Address Line 1"
                                        formControlName="addressLine1" id="addressLine1" />
                                    <mat-error *ngIf="myError('addressLine1', 'maxlength')">Maximum size is
                                        50</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Address Line 2"
                                        formControlName="addressLine2" id="addressLine2" />
                                    <mat-error *ngIf="myError('addressLine2', 'maxlength')">Maximum size is
                                        50</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Postal Code" formControlName="postalCode"
                                        id="postalCode" />
                                    <mat-error *ngIf="myError('postalCode', 'required')">Postal code is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('postalCode', 'pattern')">Please provide a valid postal
                                        code</mat-error>
                                </mat-form-field>



                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Phone" formControlName="phone"
                                        id="phone" />
                                    <mat-error *ngIf="myError('phone', 'required')">Phone is required</mat-error>
                                    <mat-error *ngIf="myError('phone', 'pattern')">Please provide a valid
                                        phone</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Email Id" formControlName="email"
                                        id="email" />
                                    <mat-error *ngIf="myError('email', 'required')">Email is required</mat-error>
                                    <mat-error *ngIf="myError('email', 'pattern')">Please provide a valid
                                        email</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Company website"
                                        formControlName="cmpWebSiteURL" id="cmpWebSiteURL" />
                                    <mat-error *ngIf="myError('cmpWebSiteURL', 'required')">Cmp website url is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('cmpWebSiteURL', 'pattern')">Please provide a valid cmp
                                        website url</mat-error>
                                    <mat-error *ngIf="myError('cmpWebSiteURL', 'maxlength')">Maximum size is
                                        50</mat-error>
                                </mat-form-field>


                                <!-- Size of image less then 2MB Or 5MB -->
                                <mat-form-field class="col-md-3 form-group">

                                    <input matInput placeholder="Select Images" readonly
                                        [value]="selectedFileNames ? selectedFileNames : ''" (click)="removefile()" />

                                    <input type="file" id="fileInput" name="fileInput" accept="image/*"
                                        [multiple]="false" (change)="selectFiles($event)" />

                                    <button mat-icon-button matSuffix *ngIf="previews && isCreate==0 || isCreate==1"
                                        matTooltip="Remove selected file" [matTooltipPosition]="'above'" type="button"
                                        color="warn">
                                        <mat-icon (click)="removefile()">close</mat-icon>
                                    </button>
                                    <!-- <mat-error *ngIf="myError('cmpLogo', 'pattern')">Please select logo size lessthen 5MB </mat-error> -->
                                </mat-form-field>

                                <div class="col-md-3 form-group">
                                    <img *ngIf="previews" [src]="previews" class="preview">
                                </div>


                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <button type="button" class="mat-button-gradient-green" mat-button
                                        *ngIf="isCreate==0 || isCreate==1" (click)="addGSTNArr()">Add
                                        GSTN</button>
                                </div>
                            </div>


                            <mat-accordion class="row">
                                <div formArrayName="plants">
                                    <div *ngFor="let element of plantsArray['controls']; let i=index">
                                        <div [formGroupName]="i" class="mb-3">
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="row">
                                                        <div class="col-md-11">
                                                            State Wise GSTN Registration
                                                        </div>
                                                        <div class="col-md-1">
                                                            <mat-icon
                                                                *ngIf="i!=0 && isCreate==0 || i!=0 && isCreate==1 || plantsArray['controls'].length > 1 && isCreate==0 ||  plantsArray['controls'].length > 1 && isCreate==1"
                                                                class="mat-icon-delete" title="Delete"
                                                                (click)="deletearr(i)">delete_outline</mat-icon>
                                                        </div>
                                                    </mat-panel-title>

                                                </mat-expansion-panel-header>
                                                <mat-divider></mat-divider>
                                                <div class="row">
                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Plant "
                                                            formControlName="plantCode" />
                                                        <mat-error *ngIf="myErrorArray('plantCode', 'required',i)">Plant
                                                            is required</mat-error>
                                                        <mat-error
                                                            *ngIf="myErrorArray('plantCode', 'maxlength',i)">Maximum
                                                            size is 10</mat-error>
                                                        <mat-error *ngIf="myErrorArray('plantCode', 'pattern',i)">Please
                                                            provide a valid plant code</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Plant Name"
                                                            formControlName="plantName" />
                                                        <mat-error *ngIf="myErrorArray('plantName', 'required',i)">Plant
                                                            name is required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('plantName', 'pattern',i)">Please
                                                            provide a valid plant name</mat-error>
                                                        <mat-error
                                                            *ngIf="myErrorArray('plantName', 'maxlength',i)">Maximum
                                                            size is 50</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Short Key"
                                                            formControlName="shortKey" />
                                                        <mat-error *ngIf="myErrorArray('shortKey', 'required',i)">Short
                                                            key is required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('shortKey', 'pattern',i)">Please
                                                            provide a valid short key</mat-error>
                                                        <mat-error
                                                            *ngIf="myErrorArray('shortKey', 'maxlength',i)">Maximum size
                                                            is 10</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="GST Number"
                                                            formControlName="gstNumber" />
                                                        <mat-error *ngIf="myErrorArray('gstNumber', 'required',i)">GST
                                                            number is required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('gstNumber', 'pattern',i)">Please
                                                            provide a valid gst number</mat-error>

                                                    </mat-form-field>
                                                    <div class="col-md-4 ">
                                                        <ng-select formControlName="countryCode"
                                                            (change)="onChangeCountrySub($event,i);"
                                                            placeholder="Select Country">
                                                            <ng-option *ngFor="let item of CountryList"
                                                                [value]="item.countryCode">
                                                                {{item.countryCode}} {{item.countryName}}
                                                            </ng-option>
                                                        </ng-select>

                                                        <span style="color:#f44336"><span
                                                                *ngIf="!element.get('countryCode').valid && element.get('countryCode').touched">
                                                                <span
                                                                    *ngIf="element.get('countryCode').errors['required']">Country
                                                                    is required</span>
                                                            </span></span>
                                                    </div>

                                                    <div class="col-md-4 ">
                                                        <ng-select formControlName="stateCode"
                                                            placeholder="Select State">
                                                            <ng-option *ngFor="let item of jsonlist[i]"
                                                                [value]="item.stateCode">
                                                                {{item.stateCode}} {{item.stateName}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <span style="color:#f44336"><span
                                                                *ngIf="!element.get('stateCode').valid && element.get('stateCode').touched">
                                                                <span
                                                                    *ngIf="element.get('stateCode').errors['required']">State
                                                                    is required</span>
                                                            </span></span>
                                                    </div>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="City"
                                                            formControlName="city" />
                                                        <mat-error *ngIf="myErrorArray('city', 'required',i)">City
                                                            is required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('city', 'maxlength',i)">Maximum
                                                            size is 50</mat-error>
                                                        <mat-error *ngIf="myErrorArray('city', 'pattern',i)">Please
                                                            provide
                                                            a valid city</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Street"
                                                            formControlName="street" />
                                                        <mat-error *ngIf="myErrorArray('street', 'required',i)">Street
                                                            is required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('street', 'pattern',i)">Please
                                                            provide
                                                            a valid street</mat-error>
                                                        <mat-error *ngIf="myErrorArray('street', 'maxlength',i)">Maximum
                                                            size is 50</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Address Line1"
                                                            formControlName="addressLine1" />
                                                        <mat-error
                                                            *ngIf="myErrorArray('addressLine1', 'maxlength',i)">Maximum
                                                            size is 50</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Address Line2"
                                                            formControlName="addressLine2" />
                                                        <mat-error
                                                            *ngIf="myErrorArray('addressLine2', 'maxlength',i)">Maximum
                                                            size is 50</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Postal Code"
                                                            formControlName="postalCode" />
                                                        <mat-error
                                                            *ngIf="myErrorArray('postalCode', 'required',i)">Postal code
                                                            is required</mat-error>
                                                        <mat-error
                                                            *ngIf="myErrorArray('postalCode', 'pattern',i)">Please
                                                            provide
                                                            a valid postal code</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Email"
                                                            formControlName="email" />
                                                        <mat-error *ngIf="myErrorArray('email', 'required',i)">Email
                                                            is required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('email', 'pattern',i)">Please
                                                            provide
                                                            a valid email</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Phone"
                                                            formControlName="phone" />
                                                        <mat-error *ngIf="myErrorArray('phone', 'required',i)">Phone
                                                            is required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('phone', 'pattern',i)">Please
                                                            provide
                                                            a valid phone</mat-error>
                                                    </mat-form-field>

                                                </div>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </mat-accordion>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==0"
                                        mat-button>Save Company</button>
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==1"
                                        mat-button>Update Company</button>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>

            </mat-tab>

            <mat-tab label="View Company">
                <!-- Mat Card -->
                <mat-card class="mt-2 min-height-500">
                    <!-- Header -->
                    <mat-card-header>
                        <mat-card-title>Company Details</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <!-- Container -->
                    <div class=" table-responsive"
                        [ngStyle]="{display: CompanyList?.length >0 && dataSource ? 'block' : 'none'}">
                        <!-- Table Filter -->
                        <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <!-- Table -->
                        <mat-table [dataSource]="dataSource" matSort>
                            <!-- Update Company Column -->
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-icon (click)="editCompany(row)" title="Edit">update</mat-icon>
                                    <mat-icon (click)="viewCompany(row)" title="View">remove_red_eye</mat-icon>
                                    <mat-icon (click)="deleteMe(row)" title="Delete">delete</mat-icon>
                                </mat-cell>
                            </ng-container>

                            <!-- Company Code Column -->
                            <ng-container matColumnDef="cmpCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Company Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.cmpCode}} </span>
                                </mat-cell>
                            </ng-container>

                            <!-- State Code Column -->
                            <ng-container matColumnDef="stateCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> State Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.stateCode}} </span>
                                </mat-cell>
                            </ng-container>

                            <!-- Company Name Column -->
                            <ng-container matColumnDef="cmpName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.cmpName}} </span>
                                </mat-cell>
                            </ng-container>

                            <!-- Short Key Column -->
                            <ng-container matColumnDef="shortKey">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Short Key </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.shortKey}} </span>
                                </mat-cell>
                            </ng-container>

                            <!-- Street Column -->
                            <ng-container matColumnDef="street">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Street </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.street}} </span>
                                </mat-cell>
                            </ng-container>

                            <!-- Company PAN Column -->
                            <ng-container matColumnDef="cmpPAN">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company PAN </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.cmpPAN}} </span>
                                </mat-cell>
                            </ng-container>

                            <!-- Company CIN Column -->
                            <ng-container matColumnDef="cmpCIN">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company CIN </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.cin}} </span>
                                </mat-cell>
                            </ng-container>

                            <!-- Address Line1 Column -->
                            <ng-container matColumnDef="addressLine1">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Address Line1 </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.addressLine1}}
                                    </span> </mat-cell>
                            </ng-container>

                            <!-- Address Line2 Column -->
                            <ng-container matColumnDef="addressLine2">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Address Line2 </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.addressLine2}}
                                    </span> </mat-cell>
                            </ng-container>

                            <!-- City Column -->
                            <ng-container matColumnDef="city">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>City </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.city}} </span>
                                </mat-cell>
                            </ng-container>

                            <!-- Postal Code Column -->
                            <ng-container matColumnDef="postalCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Postal Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.postalCode}} </span>
                                </mat-cell>
                            </ng-container>

                            <!-- Company Logo Column -->
                            <ng-container matColumnDef="cmpLogo">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company Logo</mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.cmpLogo}} </span>
                                </mat-cell>
                            </ng-container>

                            <!-- Company WebSite URL Column -->
                            <ng-container matColumnDef="cmpWebSiteURL">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company WebSite URL
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.cmpWebSiteURL}}
                                    </span> </mat-cell>
                            </ng-container>


                            <!-- Contact Person email Column -->
                            <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.email}} </span>
                                </mat-cell>
                            </ng-container>

                            <!-- Contact Person Phone Column -->
                            <ng-container matColumnDef="phone">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Phone</mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.phone}} </span>
                                </mat-cell>
                            </ng-container>

                            <!-- Create By Column -->
                            <ng-container matColumnDef="createBy">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Create By </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.createBy}} </span>
                                </mat-cell>
                            </ng-container>

                            <!-- Create On Column -->
                            <ng-container matColumnDef="createOn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Create On</mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.createOn |
                                        date:'yyyy-MM-dd'}} </span> </mat-cell>
                            </ng-container>

                            <!-- Update By Column -->
                            <ng-container matColumnDef="updateBy">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Update By </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.updateBy}} </span>
                                </mat-cell>
                            </ng-container>

                            <!-- Update On Column -->
                            <ng-container matColumnDef="updateOn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Update On</mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.updateOn |
                                        date:'yyyy-MM-dd'}} </span> </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                    </div>
                </mat-card>

            </mat-tab>
  
        </mat-tab-group>
    </mat-card>
</section>


<!-- Delete Company Dialog -->
<ng-template #deleteDialog>

    <mat-dialog-content>
        <div class="card-body" style="align-content: center;">

            <i class="material-icons" style="font-size: 80px; color: #FFBF00; margin-left: 30%;">
                error_outline
            </i>

            <h5 class="card-title" style="text-align: center;"><strong>Are You Sure?</strong></h5>
            <h6 class="card-title" style="text-align: center;">You won't able to revert this!</h6>


        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" style="margin-bottom: 0.5%;">
        <button mat-button matDialogClose color="primary" (click)="deleteCompany()">Yes, delete it!</button>
        <button mat-button matDialogClose color="primary">Cancel</button>
    </mat-dialog-actions>
</ng-template>