<section>
    <mat-card>
        <!-- Header -->
        <mat-card-header>
            <mat-card-title>Dashboard</mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>
        <mat-card class="mt-2 min-height-500">

        </mat-card>
    </mat-card>
</section>