<section>
    <mat-card>
        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event,0)">
            
            <!-- Create service Request Note Screen  -->
            <mat-tab label="Create Daily Duety Slip">
                <mat-card class="mb-2 min-height-500">
                    <mat-card-header>
                        <mat-card-title *ngIf="isCreate==0"> Create Daily Duety Slip</mat-card-title>
                        <mat-card-title *ngIf="isCreate==1"> Update Daily Duety Slip</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>

                    <form *ngIf="createDailyDuetySlip" [formGroup]="createDailyDuetySlip"
                        (ngSubmit)="addDailyDuetySlip(createDailyDuetySlip.value)">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <ng-select formControlName="cmpCode" placeholder="Select Company"
                                    (change)="onchangeCmp($event)">
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!createDailyDuetySlip.get('cmpCode').valid && createDailyDuetySlip.get('cmpCode').touched">
                                        <span *ngIf="createDailyDuetySlip.get('cmpCode').errors['required']">Company
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="form-group col-md-3">
                                <ng-select formControlName="plantCode" placeholder="Select Plant"
                                    (change)="onChangePlant(createDailyDuetySlip.value.cmpCode,$event)">
                                    <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                        {{item.plantCode}} {{item.plantName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!createDailyDuetySlip.get('plantCode').valid && createDailyDuetySlip.get('plantCode').touched">
                                        <span *ngIf="createDailyDuetySlip.get('plantCode').errors['required']">Plant
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="form-group col-md-3">
                                <ng-select formControlName="ProjCode" placeholder="Select Project"
                                    (change)="onChangeProject(createDailyDuetySlip.value.cmpCode,createDailyDuetySlip.value.plantCode,$event)">
                                    <ng-option *ngFor="let item of ProjectList" [value]="item.projCode">
                                        {{item.projCode}} {{item.projName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!createDailyDuetySlip.get('ProjCode').valid && createDailyDuetySlip.get('ProjCode').touched"><span
                                            *ngIf="createDailyDuetySlip.get
                                    ('ProjCode').errors['required']
                                    "> Project is required</span></span>
                                </span>
                            </div>
                            <div class="form-group col-md-3">
                                <mat-checkbox (change)="activityHead()" formControlName="isChecked">
                                    {{isChecked ? 'IDC Head' : 'BOQ Head'}}
                                </mat-checkbox>
                            </div>
                            <div class="row">
                                <!-- IDC Head  -->
                                <div class="form-group col-md-3" *ngIf="isChecked">
                                    <ng-select formControlName="idcActivityID" placeholder="Select IDC Head"
                                        (change)="onChangeIDCHead($event)">
                                        <ng-option *ngFor="let item of IDCList" [value]="item.idcActivityID">
                                            {{item.idcActivityID}} {{item.description}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createDailyDuetySlip.get('idcActivityID').valid && createDailyDuetySlip.get('idcActivityID').touched"><span
                                                *ngIf="createDailyDuetySlip.get
                                    ('idcActivityID').errors['required']
                                    "> IDC head is required</span></span>
                                    </span>
                                </div>
                                <div class="form-group col-md-3" *ngIf="isChecked">
                                    <ng-select formControlName="idcSubHeadID" placeholder=" Select IDC Sub Head">
                                        <ng-option *ngFor="let item of subList" [value]="item.idcSubHeadID">
                                            {{item.idcSubHeadID}} {{item.description}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createDailyDuetySlip.get('idcSubHeadID').valid && createDailyDuetySlip.get('idcSubHeadID').touched"><span
                                                *ngIf="createDailyDuetySlip.get
                                    ('idcSubHeadID').errors['required']
                                    "> IDC sub head is required</span></span>
                                    </span>
                                </div>
                                <!-- BOQ Head  -->
                                <div class="form-group col-md-3" *ngIf="!isChecked">
                                    <ng-select formControlName="actGroupId" placeholder="Select BOQ Head "
                                        (change)="onChangeBOQHead($event)">
                                        <ng-option *ngFor="let item of BOQList" [value]="item.actGroupId">
                                            {{item.actGroupId}} {{item.actGroupDesc}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createDailyDuetySlip.get('actGroupId').valid && createDailyDuetySlip.get('actGroupId').touched"><span
                                                *ngIf="createDailyDuetySlip.get
                                    ('actGroupId').errors['required']
                                    "> BOQ head is required</span></span>
                                    </span>
                                </div>
                                <div class="form-group col-md-3" *ngIf="!isChecked">
                                    <ng-select formControlName="actSeqNo" placeholder=" Select BOQ Sub Head">
                                        <ng-option *ngFor="let item of subCpList" [value]="item.nActSeqNo">
                                            {{item.nActSeqNo}}
                                            {{item.actDesc}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createDailyDuetySlip.get('actSeqNo').valid && createDailyDuetySlip.get('actSeqNo').touched"><span
                                                *ngIf="createDailyDuetySlip.get
                                        ('actSeqNo').errors['required']
                                        "> BOQ sub head is required</span></span>
                                    </span>
                                </div>
                            </div>


                        </div>
                        <!-- Labour Array  -->
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="mat-button-gradient-green" mat-button
                                    *ngIf="isCreate==0 || isCreate==1" (click)="addLaborCode()">Add
                                    Labour Details</button>
                            </div>
                        </div>
                        <mat-accordion class="row">
                            <div formArrayName="SrnDetails">
                                <div *ngFor="let item of labourDetailsArray['controls']; let i=index">
                                    <div [formGroupName]="i" class="mb-3">
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title class="row">
                                                    <div class="col-md-11">
                                                        Details
                                                    </div>
                                                    <div class="col-md-1">
                                                        <mat-icon
                                                            *ngIf="i!=0 || labourDetailsArray['controls'].length>1 && isCreate==0 || isCreate==1"
                                                            class="mat-icon-delete"
                                                            (click)="deletearr(i)" title="Delete">delete_outline</mat-icon>
                                                    </div>
                                                </mat-panel-title>

                                            </mat-expansion-panel-header>
                                            <mat-divider></mat-divider>
                                            <div class="row">
                                                <div class="col-md-4 form-group ">
                                                    <ng-select formControlName="LabourDetailsID" placeholder="Labour ID"
                                                        (change)="onChangeMLA($event,i)">
                                                        <ng-option *ngFor="let item of labourList" [value]="item.mlaid">
                                                            {{item.mlaid}} {{item.labourName}}
                                                        </ng-option>
                                                    </ng-select>
                                                    <span style="color:#f44336"><span
                                                            *ngIf="!item.get('LabourDetailsID').valid && item.get('LabourDetailsID').touched">
                                                            <span
                                                                *ngIf="item.get('LabourDetailsID').errors['required']">Labour ID
                                                                is required</span>
                                                        </span></span>
                                                </div>
                                                <mat-form-field class="col-md-4 ">
                                                    <input type="text" matInput placeholder="Description of Services"
                                                        formControlName="Description" readonly />
                                                    <mat-error *ngIf="myErrorArray('Description','required',i)">
                                                        Description of services is required </mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="col-md-4 ">
                                                    <input type="text" matInput placeholder="Quantity"
                                                        formControlName="Quantity" readonly />
                                                    <mat-error *ngIf="myErrorArray('Quantity','required',i)">
                                                        Quantity is required </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="row">
                                                <mat-form-field class="col-md-4 ">
                                                    <input type="text" matInput placeholder="Unit "
                                                        formControlName="UnitCode" readonly />
                                                    <mat-error *ngIf="myErrorArray('UnitCode','required',i)">
                                                        Unit is required </mat-error>
                                                </mat-form-field>

                                                <mat-form-field class="col-md-4 ">
                                                    <input type="text" matInput placeholder="Rate "
                                                        formControlName="Rate" readonly />
                                                    <mat-error *ngIf="myErrorArray('Rate','required',i)">
                                                        Rate is required </mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="col-md-4 ">
                                                    <input type="text" matInput placeholder="Amount "
                                                        formControlName="Amount" readonly />
                                                    <mat-error *ngIf="myErrorArray('Amount','required',i)">
                                                        Amount is required </mat-error>
                                                </mat-form-field>

                                            </div>
                                        </mat-expansion-panel>
                                    </div>
                                </div>
                            </div>
                        </mat-accordion> -->
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <button type="submit" class="mat-button-gradient" *ngIf="isCreate==0" mat-button>Save
                                    Daily Duety Slip</button>
                                <button type="submit" class="mat-button-gradient" *ngIf="isCreate==1" mat-button>Update
                                    Daily Duety Slip</button>
                            </div>
                        </div>
                    </form>
                </mat-card>
            </mat-tab>

            <mat-tab label="View Daily Duety Slip">
                <mat-card class="mt-2 min-height-500">
                    <mat-card-header>
                        <mat-card-title>View Daily Duety Slip</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>

                </mat-card>
            </mat-tab>
            
        </mat-tab-group>
    </mat-card>
</section>