<section>
    <mat-card>
        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event,0)">
            
            <mat-tab label="Create Vendor">
                <!-- Mat Card -->
                <mat-card class="mt-2 min-height-500">
                    <!-- Header -->
                    <mat-card-header>
                        <!-- <mat-card-title>Vendor Creation</mat-card-title> -->
                        <mat-card-title *ngIf="isCreate==0">Create Vendor</mat-card-title>
                        <mat-card-title *ngIf="isCreate==1">Update Vendor </mat-card-title>
                        <mat-card-title *ngIf="isCreate==2">View Vendor</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <mat-card-content>

                        <form *ngIf="createVendor" [formGroup]="createVendor"
                            (ngSubmit)="addVendor(createVendor.value)">

                            <div class="row">

                                <div class="col-md-3 form-group">
                                    <ng-select formControlName="cmpCode" placeholder="Select Company">
                                        <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                            {{item.cmpCode}} {{item.cmpName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createVendor.get('cmpCode').valid && createVendor.get('cmpCode').touched">
                                            <span *ngIf="createVendor.get('cmpCode').errors['required']">Company
                                                is required</span>
                                        </span></span>
                                </div>
                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Vendor Code" formControlName="bpCode"
                                        />
                                    <!-- <mat-error *ngIf="myError('bpCode', 'required')">Vendor code is required</mat-error> -->
                                    <!-- <mat-error *ngIf="myError('bpCode', 'pattern')">Please provide a valid -->
                                    <!-- vendor</mat-error> -->
                                    <mat-error *ngIf="myError('bpCode', 'maxlength')">Max length is 10</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="First name" formControlName="bpFName"
                                        id="bpFName" />
                                    <mat-error *ngIf="myError('bpFName', 'required')">First name is required</mat-error>
                                    <mat-error *ngIf="myError('bpFName', 'pattern')">Please provide a valid first name
                                    </mat-error>
                                    <mat-error *ngIf="myError('bpFName', 'maxlength')">Max length is 50</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Middle name" formControlName="bpMName"
                                        id="bpMName" />
                                    <mat-error *ngIf="myError('bpMName', 'required')">Middle name is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('bpMName', 'pattern')">Please provide a valid middle name
                                    </mat-error>
                                    <mat-error *ngIf="myError('bpMName', 'maxlength')">Max length is 35</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Last name" formControlName="bpLName"
                                        id="bpLName" />
                                    <mat-error *ngIf="myError('bpLName', 'required')">Last name is required</mat-error>
                                    <mat-error *ngIf="myError('bpLName', 'pattern')">Please provide a valid last name
                                    </mat-error>
                                    <mat-error *ngIf="myError('bpLName', 'maxlength')">Max length is 35</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Short Key" formControlName="shortKey"
                                        id="shortKey" />
                                    <!-- <mat-error *ngIf="myError('shortKey', 'required')">Short Key is required</mat-error>
                                        <mat-error *ngIf="myError('shortKey', 'pattern')">Please provide a valid Short Key
                                        </mat-error> -->
                                </mat-form-field>

                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="countryCode" (change)="onChangeCountry($event);"
                                        placeholder="Select Country">
                                        <ng-option *ngFor="let item of CountryList" [value]="item.countryCode">
                                            {{item.countryCode}} {{item.countryName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createVendor.get('countryCode').valid && createVendor.get('countryCode').touched">
                                            <span *ngIf="createVendor.get('countryCode').errors['required']">Country
                                                is required</span>
                                        </span></span>
                                </div>

                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="stateCode" placeholder="Select State">
                                        <ng-option *ngFor="let item of StateList" [value]="item.stateCode">
                                            {{item.stateCode}} {{item.stateName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createVendor.get('stateCode').valid && createVendor.get('stateCode').touched">
                                            <span *ngIf="createVendor.get('stateCode').errors['required']">State
                                                is required</span>
                                        </span></span>
                                </div>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" formControlName="City" matInput placeholder="City" />
                                    <mat-error *ngIf="myError('City', 'required')">City is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('City', 'pattern')">Please provide
                                        a valid
                                        City</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" formControlName="Street" matInput placeholder="Street" />
                                    <mat-error *ngIf="myError('Street', 'required')">Street is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('Street', 'pattern')">Please
                                        provide a valid
                                        Street</mat-error>

                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" formControlName="AddressLine1" matInput
                                        placeholder="Address Line 1" />

                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" formControlName="AddressLine2" matInput
                                        placeholder="Address Line 2" />
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" formControlName="PostalCode" matInput
                                        placeholder="Postal Code" />
                                    <mat-error *ngIf="myError('PostalCode', 'required')">PostalCode is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('PostalCode', 'pattern')">Please
                                        provide a valid
                                        PostalCode</mat-error>
                                </mat-form-field>



                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" formControlName="Phone" matInput placeholder="Phone" />
                                    <mat-error *ngIf="myError('Phone', 'required')">Phone is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('Phone', 'pattern')">Please
                                        provide a valid
                                        Phone</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" formControlName="Email" matInput placeholder="Email" />
                                    <mat-error *ngIf="myError('Email', 'required')">Email is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('Email', 'pattern')">Please
                                        provide a valid
                                        Email</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" formControlName="PAN" matInput placeholder="PAN" />
                                    <mat-error *ngIf="myError('PAN', 'required')">PAN is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('PAN', 'pattern')">Please provide
                                        a valid
                                        PAN</mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="GST Number" formControlName="gstNumber"
                                        id="gstNumber" />
                                    <mat-error *ngIf="myError('gstNumber', 'required')">GST number is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('gstNumber', 'pattern')">Please provide a valid gst number
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Remark" formControlName="Remark" />

                                </mat-form-field>


                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="mat-button-gradient-green" mat-button  
                                         *ngIf=" isCreate==0 || isCreate==1"
                                            (click)="addBanks()">Add
                                            Banks Details</button>
                                    </div>
                                </div>

                                <mat-accordion class="row">
                                    <div formArrayName="banks">
                                        <div *ngFor="let item of BanksGroupArr['controls']; let i=index">
                                            <div [formGroupName]="i" class="mb-3">
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title class="row">
                                                            <div class="col-md-11">
                                                                Banks Details
                                                            </div>
                                                            <div class="col-md-1">
                                                                <mat-icon
                                                                    *ngIf="i!=0 || BanksGroupArr['controls'].length>1 && isCreate==0 || isCreate==1"
                                                                    class="mat-icon-delete" title="Delete"
                                                                    (click)="deletearr(i)">delete_outline</mat-icon>
                                                            </div>
                                                        </mat-panel-title>

                                                    </mat-expansion-panel-header>
                                                    <mat-divider></mat-divider>
                                                    <div class="row">


                                                        <mat-form-field class="col-md-3 ">
                                                            <input type="text" matInput placeholder="Bank Name"
                                                                formControlName="BankName" />
                                                            <mat-error
                                                                *ngIf="myErrorArray('BankName','required',i)">Bank
                                                                name
                                                                is required</mat-error>
                                                        </mat-form-field>

                                                        <mat-form-field class="col-md-3 ">
                                                            <input type="text" matInput placeholder="IFSE"
                                                                formControlName="IFSE" />
                                                            <mat-error *ngIf="myErrorArray('IFSE', 'required',i)">IFSE
                                                                is required</mat-error>
                                                            <mat-error *ngIf="myErrorArray('IFSE', 'pattern',i)">Please
                                                                provide a valid ifsc</mat-error>
                                                        </mat-form-field>

                                                        <mat-form-field class="col-md-3 ">
                                                            <input type="text" matInput placeholder="Account Number"
                                                                formControlName="AccountNumber" />
                                                            <mat-error
                                                                *ngIf="myErrorArray('AccountNumber','required',i)">Account
                                                                number is required</mat-error>
                                                        </mat-form-field>

                                                        <mat-form-field class="col-md-3 ">
                                                            <input type="text" matInput placeholder="Branch Address"
                                                                formControlName="BranchAddress" />
                                                            <mat-error
                                                                *ngIf="myErrorArray('BranchAddress','required',i)">
                                                                branch address is required </mat-error>
                                                        </mat-form-field>
                                                        
                                                        <div class="col-md-3 form-group ">
                                                            <ng-select formControlName="AccountType"
                                                                placeholder="Select Account Type">
                                                                <ng-option *ngFor="let item of AccountTypeList"
                                                                    [value]="item.value">
                                                                    {{item.type}}
                                                                </ng-option>
                                                            </ng-select>
                                                            <span style="color:#f44336"><span
                                                                    *ngIf="!item.get('AccountType').valid && item.get('AccountType').touched">
                                                                    <span
                                                                        *ngIf="item.get('AccountType').errors['required']">Account
                                                                        type
                                                                        is required</span>
                                                                </span></span>
                                                        </div>
                                                    </div>
                                                </mat-expansion-panel>
                                            </div>
                                        </div>
                                    </div>
                                </mat-accordion>


                                <div class="row" hidden>
                                    <div class="col-md-12">
                                        <button type="button" class="mat-button-gradient-green" mat-button
                                            (click)="addContact()">Add
                                            Contact Person</button>
                                    </div>
                                </div>

                                <mat-accordion class="row">
                                    <div formArrayName="contactPersons">
                                        <div *ngFor="let item of contactArray['controls']; let i=index">
                                            <div [formGroupName]="i" class="mb-3">
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title class="row">
                                                            <div class="col-md-11">
                                                                Contact Person
                                                            </div>
                                                            <!-- <div class="col-md-1">
                                                                <mat-icon
                                                                    *ngIf="i!=0 || BanksGroupArr['controls'].length>1 && isCreate==0 || isCreate==1"
                                                                    class="mat-icon-delete" title="Delete"
                                                                    (click)="deleteContact(i)">delete_outline</mat-icon>
                                                            </div> -->
                                                        </mat-panel-title>

                                                    </mat-expansion-panel-header>
                                                    <mat-divider></mat-divider>
                                                    <div class="row">


                                                        <mat-form-field class="col-md-3 ">
                                                            <input type="text" matInput placeholder="First Name"
                                                                formControlName="bpFName" />
                                                            <mat-error
                                                                *ngIf="myErrorContact('bpFName','required',i)">First
                                                                name
                                                                is required</mat-error>
                                                        </mat-form-field>

                                                        <mat-form-field class="col-md-3 ">
                                                            <input type="text" matInput placeholder="Middle Name"
                                                                formControlName="bpMName" />
                                                            <mat-error
                                                                *ngIf="myErrorContact('bpMName','required',i)">Middle
                                                                name
                                                                is required</mat-error>
                                                        </mat-form-field>

                                                        <mat-form-field class="col-md-3 ">
                                                            <input type="text" matInput placeholder="Last Name"
                                                                formControlName="bpLName" />
                                                            <mat-error
                                                                *ngIf="myErrorContact('bpLName','required',i)">last
                                                                name
                                                                is required</mat-error>
                                                        </mat-form-field>

                                                        <div class="col-md-3 form-group ">
                                                            <ng-select formControlName="countryCode"
                                                                (change)="onChangeCountry($event);"
                                                                placeholder="Select Country">
                                                                <ng-option *ngFor="let item of CountryList"
                                                                    [value]="item.countryCode">
                                                                    {{item.countryCode}} {{item.countryName}}
                                                                </ng-option>
                                                            </ng-select>
                                                            <span style="color:#f44336"><span
                                                                    *ngIf="!item.get('countryCode').valid && item.get('countryCode').touched">
                                                                    <span
                                                                        *ngIf="item.get('countryCode').errors['required']">Country
                                                                        is required</span>
                                                                </span></span>
                                                        </div>

                                                        <div class="col-md-3 form-group ">
                                                            <ng-select formControlName="stateCode"
                                                                placeholder="Select State">
                                                                <ng-option *ngFor="let item of StateList"
                                                                    [value]="item.stateCode">
                                                                    {{item.stateCode}} {{item.stateName}}
                                                                </ng-option>
                                                            </ng-select>
                                                            <span style="color:#f44336"><span
                                                                    *ngIf="!item.get('stateCode').valid && item.get('stateCode').touched">
                                                                    <span
                                                                        *ngIf="item.get('stateCode').errors['required']">State
                                                                        is required</span>
                                                                </span></span>
                                                        </div>

                                                        <mat-form-field class="col-md-3 form-group">
                                                            <input type="text" formControlName="City" matInput
                                                                placeholder="City" />
                                                            <mat-error *ngIf="myErrorContact('City', 'required',i)">City
                                                                is
                                                                required</mat-error>
                                                            <mat-error
                                                                *ngIf="myErrorContact('City', 'pattern',i)">Please
                                                                provide
                                                                a valid
                                                                City</mat-error>
                                                        </mat-form-field>

                                                        <mat-form-field class="col-md-3 form-group">
                                                            <input type="text" formControlName="Street" matInput
                                                                placeholder="Street" />
                                                            <mat-error
                                                                *ngIf="myErrorContact('Street', 'required',i)">Street is
                                                                required</mat-error>
                                                            <mat-error
                                                                *ngIf="myErrorContact('Street', 'pattern',i)">Please
                                                                provide a valid
                                                                Street</mat-error>

                                                        </mat-form-field>

                                                        <mat-form-field class="col-md-3 form-group">
                                                            <input type="text" formControlName="AddressLine1" matInput
                                                                placeholder="Address Line 1" />

                                                        </mat-form-field>

                                                        <mat-form-field class="col-md-3 form-group">
                                                            <input type="text" formControlName="AddressLine2" matInput
                                                                placeholder="Address Line 2" />
                                                        </mat-form-field>

                                                        <mat-form-field class="col-md-3 form-group">
                                                            <input type="text" formControlName="PostalCode" matInput
                                                                placeholder="Postal Code" />
                                                            <mat-error
                                                                *ngIf="myErrorContact('PostalCode', 'required',i)">PostalCode
                                                                is
                                                                required</mat-error>
                                                            <mat-error
                                                                *ngIf="myErrorContact('PostalCode', 'pattern',i)">Please
                                                                provide a valid
                                                                PostalCode</mat-error>
                                                        </mat-form-field>



                                                        <mat-form-field class="col-md-3 form-group">
                                                            <input type="text" formControlName="Phone" matInput
                                                                placeholder="Phone" />
                                                            <mat-error
                                                                *ngIf="myErrorContact('Phone', 'required',i)">Phone is
                                                                required</mat-error>
                                                            <mat-error
                                                                *ngIf="myErrorContact('Phone', 'pattern',i)">Please
                                                                provide a valid
                                                                Phone</mat-error>
                                                        </mat-form-field>

                                                        <mat-form-field class="col-md-3 form-group">
                                                            <input type="text" formControlName="Email" matInput
                                                                placeholder="Email" />
                                                            <mat-error
                                                                *ngIf="myErrorContact('Email', 'required',i)">Email is
                                                                required</mat-error>
                                                            <mat-error
                                                                *ngIf="myErrorContact('Email', 'pattern',i)">Please
                                                                provide a valid
                                                                Email</mat-error>
                                                        </mat-form-field>


                                                    </div>
                                                </mat-expansion-panel>
                                            </div>
                                        </div>
                                    </div>
                                </mat-accordion>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==0"
                                        mat-button>Save Vendor</button>
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==1"
                                        mat-button>Update Vendor</button>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
            
            <mat-tab label="View Vendor">
                <!-- Mat Card -->
                <mat-card class="mt-2 min-height-500">
                    <!-- Header -->
                    <mat-card-header>
                        <mat-card-title>Vendor Details</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <form [formGroup]="ViewVendor" *ngIf="ViewVendor">
                        <div class="row">
                            <ng-select (change)="onChangeCompany($event)" class="form-group col-md-3"
                                placeholder="Select Company" formControlName="cmpCode">
                                <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                    {{item.cmpCode}} {{item.cmpName}}
                                </ng-option>
                            </ng-select>
                            <span style="color:#f44336"><span
                                    *ngIf="!ViewVendor.get('cmpCode').valid && ViewVendor.get('cmpCode').touched">
                                    <span *ngIf="ViewVendor.get('cmpCode').errors['required']">Company
                                        is required</span>
                                </span></span>
                        </div>
                    </form>
                    <!-- Container -->
                    <div class="table-responsive"
                        [ngStyle]="{display: VendorList?.length >0 && dataSource ? 'block' : 'none'}">
                        <!-- Table Filter -->
                        <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <!-- Table -->
                        <mat-table [dataSource]="dataSource" matSort>
                            <!-- Update vendor Column -->
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-icon (click)="editVendor(row,'edit')" title="Edie">update</mat-icon>
                                    <mat-icon (click)="editVendor(row,null)" title="View">remove_red_eye</mat-icon>
                                    <mat-icon (click)="deleteMe(row)" title="Delete">delete</mat-icon>
                                </mat-cell>
                            </ng-container>

                            <!-- Company Code Column -->
                            <!-- <ng-container matColumnDef="cmpCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Company Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span> {{row.cmpCode}}
                                    </span></mat-cell>
                            </ng-container> -->

                            <!-- Plant Code Column -->
                            <ng-container matColumnDef="bpFName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span> {{row.bpFName}}
                                    </span></mat-cell>
                            </ng-container>

                            <!-- bpFName Column -->
                            <ng-container matColumnDef="bpLName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span> {{row.bpLName}}
                                    </span></mat-cell>
                            </ng-container>


                            <!-- bp Code Column -->
                            <ng-container matColumnDef="bpCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Vendor Code</mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span> {{row.bpCode}}
                                    </span></mat-cell>
                            </ng-container>



                            <!-- Short Key Column -->
                            <ng-container matColumnDef="pan">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Pan</mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span> {{row.pan}}
                                    </span></mat-cell>
                            </ng-container>

                            <!-- phone Code Column -->
                            <ng-container matColumnDef="phone">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Phone </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span> {{row.phone}}
                                    </span></mat-cell>
                            </ng-container>

                            <!-- Company PAN Column -->
                            <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span> {{row.email}}
                                    </span></mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                    </div>



                </mat-card>
            </mat-tab>
            
        </mat-tab-group>
    </mat-card>
</section>

<!-- Delete Dialog -->
<ng-template #deleteDialog>
    <mat-dialog-content>
        <div class="card-body" style="align-content: center;">
            <i class="material-icons" style="font-size: 80px; color: #FFBF00; margin-left: 30%;">
                error_outline
            </i>
            <h5 class="card-title" style="text-align: center;"><strong>Are You Sure?</strong></h5>
            <h6 class="card-title" style="text-align: center;">You won't able to revert this!</h6>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" style="margin-bottom: 0.5%;">
        <button mat-button matDialogClose color="primary" (click)="deleteVendor()">Yes, delete it!</button>
        <button mat-button matDialogClose color="primary">Cancel</button>
    </mat-dialog-actions>
</ng-template>