<section>
    <mat-card>
        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event,0)">
          
            <mat-tab label="Create Employee">
                <!-- Mat Card -->
                <mat-card class="mt-2 min-height-500">
                    <!-- Header -->
                    <mat-card-header>
                        <mat-card-title>Employee Creation</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <form *ngIf="createEmployee" [formGroup]="createEmployee"
                            (ngSubmit)="addEmployee(createEmployee.value)">

                            <div class="row">
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="cmpCode" (change)="onChangeCmp($event);"
                                        placeholder="Select Company">
                                        <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                            {{item.cmpCode}} {{item.cmpName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createEmployee.get('cmpCode').valid && createEmployee.get('cmpCode').touched">
                                            <span *ngIf="createEmployee.get('cmpCode').errors['required']">Company
                                                is required</span>
                                        </span></span>
                                </div>
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="plantCode" placeholder="Select Plant">
                                        <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                            {{item.plantCode}} {{item.plantName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createEmployee.get('plantCode').valid && createEmployee.get('plantCode').touched">
                                            <span *ngIf="createEmployee.get('plantCode').errors['required']">Plant
                                                is required</span>
                                        </span></span>
                                </div>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Employee Code" formControlName="bpCode"
                                        id="bpCode" />
                                    <!-- <mat-error *ngIf="myError('bpCode', 'required')">Employee code is required</mat-error>
                                    <mat-error *ngIf="myError('bpCode', 'pattern')">Please provide a valid
                                        bpcode</mat-error>
                                        <mat-error *ngIf="myError('bpCode', 'maxlength')">Max length is 10</mat-error> -->
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="First Name" formControlName="bpFName"
                                        id="bpFName" />
                                    <mat-error *ngIf="myError('bpFName', 'required')">First name is required</mat-error>
                                    <mat-error *ngIf="myError('bpFName', 'pattern')">Please provide a valid first name
                                    </mat-error>
                                    <mat-error *ngIf="myError('bpFName', 'maxlength')">Max length is 50</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Middle Name" formControlName="bpMName"
                                        id="bpMName" />
                                    <mat-error *ngIf="myError('bpMName', 'required')">Middle name is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('bpMName', 'pattern')">Please provide a valid middle name
                                    </mat-error>
                                    <mat-error *ngIf="myError('bpMName', 'maxlength')">Max length is 35</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Last Name" formControlName="bpLName"
                                        id="bpLName" />
                                    <mat-error *ngIf="myError('bpLName', 'required')">Last name is required</mat-error>
                                    <mat-error *ngIf="myError('bpLName', 'pattern')">Please provide a valid last name
                                    </mat-error>
                                    <mat-error *ngIf="myError('bpLName', 'maxlength')">Max length is 35</mat-error>
                                </mat-form-field>

                                <!-- <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Short Key" formControlName="shortKey"
                                        id="shortKey" />
                                    <mat-error *ngIf="myError('shortKey', 'required')">Short Key is required</mat-error>
                                    <mat-error *ngIf="myError('shortKey', 'pattern')">Please provide a valid Short Key
                                    </mat-error>
                                </mat-form-field> -->

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="PAN" formControlName="pan" id="pan" />
                                    <mat-error *ngIf="myError('pan', 'required')">PAN is required</mat-error>
                                    <mat-error *ngIf="myError('pan', 'pattern')">Please provide a valid pan </mat-error>
                                </mat-form-field>

                                <!-- <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="GST Number" formControlName="gstNumber"
                                        id="gstNumber" />
                                    <mat-error *ngIf="myError('gstNumber', 'required')">GST number is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('gstNumber', 'pattern')">Please provide a valid GST number
                                    </mat-error>
                                </mat-form-field> -->
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="countryCode" (change)="onChangeCountry($event);"
                                        placeholder="Select Country">
                                        <ng-option *ngFor="let item of CountryList" [value]="item.countryCode">
                                            {{item.countryCode}} {{item.countryName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createEmployee.get('countryCode').valid && createEmployee.get('countryCode').touched">
                                            <span *ngIf="createEmployee.get('countryCode').errors['required']">Country
                                                is required</span>
                                        </span></span>
                                </div>

                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="stateCode" placeholder="Select State">
                                        <ng-option *ngFor="let item of StateList" [value]="item.stateCode">
                                            {{item.stateCode}} {{item.stateName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createEmployee.get('stateCode').valid && createEmployee.get('stateCode').touched">
                                            <span *ngIf="createEmployee.get('stateCode').errors['required']">State
                                                is required</span>
                                        </span></span>
                                </div>



                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="City" formControlName="city" id="city" />
                                    <mat-error *ngIf="myError('city', 'required')">City is required</mat-error>
                                    <mat-error *ngIf="myError('city', 'pattern')">Please provide a valid
                                        city</mat-error>
                                        <mat-error *ngIf="myError('city', 'maxlength')">Max length is 45</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Street" formControlName="street"
                                        id="street" />
                                    <mat-error *ngIf="myError('street', 'required')">Street is required</mat-error>
                                    <mat-error *ngIf="myError('street', 'pattern')">Please provide a valid
                                        street</mat-error>
                                        <mat-error *ngIf="myError('street', 'maxlength')">Max length is 45</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Address Line 1"
                                        formControlName="addressLine1" id="addressLine1" />
                                        <mat-error *ngIf="myError('addressLine1', 'maxlength')">Max length is 50</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Address Line 2"
                                        formControlName="addressLine2" />
                                        <mat-error *ngIf="myError('addressLine2', 'maxlength')">Max length is 50</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Postal Code" formControlName="postalCode"
                                        id="postalCode" />
                                    <mat-error *ngIf="myError('postalCode', 'required')">Postal code is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('postalCode', 'pattern')">Please provide a valid postal
                                        code</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Email" formControlName="email"
                                        id="email" />
                                    <mat-error *ngIf="myError('email', 'required')">Email is required</mat-error>
                                    
                                    <mat-error *ngIf="myError('email', 'pattern')">Please provide a valid email
                                        </mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Phone" formControlName="phone"
                                        id="phone" />
                                    <mat-error *ngIf="myError('phone', 'required')">Phone is required</mat-error>                                 
                                    <mat-error *ngIf="myError('phone', 'pattern')">Please provide a valid
                                        phone</mat-error>
                                </mat-form-field>


                                <!-- Employee Details  -->
                                <div formArrayName="details">
                                    <div *ngFor="let item of detailsArray['controls']; let i=index">
                                        <div [formGroupName]="i" class="mb-3">
                                            <div class="row">

                                                <div class="col-md-3 form-group ">
                                                    <ng-select formControlName="empGender" placeholder="Select Gender">
                                                        <ng-option *ngFor="let item of GenderList" [value]="item.ID">
                                                            {{item.Name}}
                                                        </ng-option>
                                                    </ng-select>
                                                    <span style="color:#f44336"><span
                                                            *ngIf="!item.get('empGender').valid && item.get('empGender').touched">
                                                            <span
                                                                *ngIf="item.get('empGender').errors['required']">Gender
                                                                is required</span>
                                                        </span></span>
                                                </div>

                                                <div class="col-md-3 form-group ">
                                                    <ng-select formControlName="bloodGroup" placeholder="Select Blood Group">
                                                        <ng-option *ngFor="let item of bloodGroupList" [value]="item">
                                                            {{item}}
                                                        </ng-option>
                                                    </ng-select>
                                                    <span style="color:#f44336"><span
                                                            *ngIf="!item.get('bloodGroup').valid && item.get('bloodGroup').touched">
                                                            <span
                                                                *ngIf="item.get('bloodGroup').errors['required']">Blood
                                                                group is required</span>
                                                        </span></span>
                                                </div>



                                                <mat-form-field class="col-md-3 ">
                                                    <input type="text" matInput placeholder="Emergency Contact"
                                                        formControlName="emergencyContact" id="emergencyContact" />
                                                    <mat-error
                                                        *ngIf="myErrorDetailsArray('emergencyContact', 'required',i)">Emergency
                                                        contact is
                                                        required</mat-error>

                                                    <mat-error
                                                        *ngIf="myErrorDetailsArray('emergencyContact', 'pattern',i)">Please
                                                        provide
                                                        a valid emergency contact</mat-error>
                                                </mat-form-field>

                                                <mat-form-field class="col-md-3" style="font-size: 15px;">
                                                    <mat-label>Date Of Birth</mat-label>
                                                    <input formControlName="dateOfBirth" required matInput
                                                        [min]="minDate" [matDatepicker]="picker1" id="dateOfBirth"
                                                        max="2018-09-13" readonly>
                                                    <mat-datepicker-toggle matSuffix
                                                        [for]="picker1"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                                    <mat-error
                                                        *ngIf="myErrorDetailsArray('dateOfBirth', 'required',i)">Date
                                                        of
                                                        birth is required</mat-error>
                                                    <mat-error
                                                        *ngIf="myErrorDetailsArray('dateOfBirth', 'pattern',i)">Please
                                                        provide a
                                                        valid date of birth</mat-error>
                                                </mat-form-field>


                                                <mat-form-field class="col-md-3 ">
                                                    <input type="text" matInput placeholder="Education"
                                                        formControlName="education" id="education" />
                                                    <mat-error
                                                        *ngIf="myErrorDetailsArray('education', 'required',i)">Education
                                                        is
                                                        required</mat-error>
                                                        <mat-error *ngIf="myErrorDetailsArray('education', 'maxlength',i)">Max length is 25</mat-error>
                                                </mat-form-field>
                                                <div class="col-md-3 form-group ">
                                                    <ng-select formControlName="descCode" placeholder="Select Designation">
                                                        <ng-option *ngFor="let item of DesignationList"
                                                            [value]="item.descCode">
                                                            {{item.descCode}} {{item.designationDesc}}
                                                        </ng-option>

                                                    </ng-select>
                                                    <span style="color:#f44336"><span
                                                            *ngIf="!item.get('descCode').valid && item.get('descCode').touched">
                                                            <span
                                                                *ngIf="item.get('descCode').errors['required']">Designation
                                                                is required</span>
                                                        </span></span>
                                                </div>
                                                <div class="col-md-3 form-group ">
                                                    <ng-select formControlName="deptCode" placeholder=" Select Department">
                                                        <ng-option *ngFor="let item of DepartmentList"
                                                            [value]="item.deptCode">
                                                            {{item.deptCode}}{{item.deptDesc}}
                                                        </ng-option>
                                                    </ng-select>
                                                    <span style="color:#f44336"><span
                                                            *ngIf="!item.get('deptCode').valid && item.get('deptCode').touched">
                                                            <span
                                                                *ngIf="item.get('deptCode').errors['required']">Department
                                                                is required</span>
                                                        </span></span>
                                                </div>


                                                <mat-form-field class="col-md-3 form-group">

                                                    <input matInput placeholder="Select Images" readonly
                                                        [value]="selectedFileNames ? selectedFileNames : ''" />

                                                    <input type="file" id="fileInput" name="fileInput" accept="image/*"
                                                        formControlName="employeePhoto" [multiple]="false"
                                                        (change)="selectFiles($event)" />

                                                    <button mat-icon-button matSuffix
                                                        *ngIf="previews && isCreate==0 || isCreate==1"
                                                        matTooltip="Remove selected file" [matTooltipPosition]="'above'"
                                                        type="button" color="warn">
                                                        <mat-icon (click)="removefile()">close</mat-icon>
                                                    </button>
                                                    <mat-error
                                                        *ngIf="myErrorDetailsArray('employeePhoto', 'required',i)">Employee
                                                        photo
                                                        is required</mat-error>
                                                    <mat-error
                                                        *ngIf="myErrorDetailsArray('employeePhoto', 'pattern',i)">Please
                                                        provide a
                                                        valid employee photo</mat-error>
                                                </mat-form-field>

                                                <div class="col-md-3 ">
                                                    <img *ngIf="previews" [src]="previews" class="preview">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="mat-button-gradient-green" mat-button
                                            *ngIf="isCreate==0 || isCreate==1" (click)="addBanks()">Add
                                            Banks</button>
                                    </div>
                                </div>

                                <mat-accordion class="row">
                                    <div formArrayName="Banks">
                                        <div *ngFor="let item of BanksGroupArr['controls']; let i=index">
                                            <div [formGroupName]="i" class="mb-3">
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title class="row">
                                                            <div class="col-md-11">
                                                                Banks Details
                                                            </div>
                                                            <div class="col-md-1">
                                                                <mat-icon
                                                                    *ngIf="i!=0 || BanksGroupArr['controls'].length>1 && isCreate==0 || isCreate==1"
                                                                    class="mat-icon-delete"title="Delete"
                                                                    (click)="deletearr(i)">delete_outline</mat-icon>
                                                            </div>
                                                        </mat-panel-title>

                                                    </mat-expansion-panel-header>
                                                    <mat-divider></mat-divider>
                                                    <div class="row">


                                                        <mat-form-field class="col-md-3 ">
                                                            <input type="text" matInput placeholder="Bank Name"
                                                                formControlName="BankName" />
                                                            <mat-error
                                                                *ngIf="myErrorArray('BankName','required',i)">Bank
                                                                name
                                                                is required</mat-error>
                                                                <mat-error *ngIf="myErrorArray('BankName', 'maxlength',i)">Max length is 25</mat-error>
                                                        </mat-form-field>

                                                        <mat-form-field class="col-md-3 ">
                                                            <input type="text" matInput placeholder="IFSE"
                                                                formControlName="IFSE" />
                                                            <mat-error *ngIf="myErrorArray('IFSE', 'required',i)">IFSE
                                                                is required</mat-error>
                                                            <mat-error *ngIf="myErrorArray('IFSE', 'pattern',i)">Please
                                                                provide a valid ifse</mat-error>
                                                        </mat-form-field>

                                                        <mat-form-field class="col-md-3 ">
                                                            <input type="text" matInput placeholder="Account Number"
                                                                formControlName="AccountNumber" />
                                                            <mat-error
                                                                *ngIf="myErrorArray('AccountNumber','required',i)">Account
                                                                number is required</mat-error>
                                                        </mat-form-field>

                                                        <mat-form-field class="col-md-3 ">
                                                            <input type="text" matInput placeholder="Branch Address"
                                                                formControlName="BranchAddress" />
                                                            <mat-error
                                                                *ngIf="myErrorArray('BranchAddress','required',i)">
                                                                Branch address is required </mat-error>
                                                                <mat-error *ngIf="myErrorArray('BranchAddress', 'maxlength',i)">Max length is 50</mat-error>
                                                        </mat-form-field>
                                                        <div class="col-md-3 form-group ">
                                                            <ng-select formControlName="AccountType"
                                                                placeholder="Select Account Type">
                                                                <ng-option *ngFor="let item of AccountTypeList"
                                                                    [value]="item.value">
                                                                    {{item.type}}
                                                                </ng-option>
                                                            </ng-select>
                                                            <span style="color:#f44336"><span
                                                                    *ngIf="!item.get('AccountType').valid && item.get('AccountType').touched">
                                                                    <span
                                                                        *ngIf="item.get('AccountType').errors['required']">Account type
                                                                        is required</span>
                                                                </span></span>
                                                        </div>

                                                    </div>
                                                </mat-expansion-panel>
                                            </div>
                                        </div>
                                    </div>
                                </mat-accordion>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==0"
                                        mat-button>Save Employee</button>
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==1"
                                        mat-button>Update Employee</button>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </mat-tab>

            <mat-tab label="View Employee">
                <!-- Mat Card -->
                <mat-card class="mt-2 min-height-500">
                    <!-- Header -->
                    <mat-card-header>
                        <mat-card-title>Employee Details</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <form [formGroup]="ViewTableEmp" *ngIf="ViewTableEmp" >
                        <div class="row">
                            <ng-select (change)="onChangeCompany($event)" class="form-group col-md-3"
                                placeholder="Select Company"formControlName="cmpCode">
                                <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                    {{item.cmpCode}} {{item.cmpName}}
                                </ng-option>
                            </ng-select>
                            <span style="color:#f44336"><span
                                *ngIf="!ViewTableEmp.get('cmpCode').valid && ViewTableEmp.get('cmpCode').touched">
                                <span *ngIf="ViewTableEmp.get('cmpCode').errors['required']">Company
                                    is required</span>
                            </span></span>
                        </div>
                    </form>
                  
                    <!-- Container -->
                    <div class="table-responsive"
                        [ngStyle]="{display: EmployeeList?.length >0 && dataSource ? 'block' : 'none'}">
                        <!-- Table Filter -->
                        <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <!-- Table -->
                        <mat-table [dataSource]="dataSource" matSort>
                            <!-- Update Employee Column -->
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-icon (click)="editEmployee(row,'edit')"
                                        title="Edie">update</mat-icon>
                                    <mat-icon (click)="editEmployee(row,null)"
                                        title="View">remove_red_eye</mat-icon>
                                    <mat-icon (click)="deleteMe(row)" title="Delete">delete</mat-icon>
                                </mat-cell>
                            </ng-container>

                            <!-- Company Code Column -->
                            <ng-container matColumnDef="cmpCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Company Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span> {{row.cmpCode}}
                                    </span></mat-cell>
                            </ng-container>

                            <!-- Plant Code Column -->
                            <ng-container matColumnDef="bpFName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> bpFName </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span> {{row.bpFName}}
                                    </span></mat-cell>
                            </ng-container>
                            <!-- bp Code Column -->
                            <ng-container matColumnDef="bpMName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> bpMName </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span> {{row.bpMName}}
                                    </span></mat-cell>
                            </ng-container>

                            <!-- bpFName Column -->
                            <ng-container matColumnDef="bpLName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> bpLName </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span> {{row.bpLName}}
                                    </span></mat-cell>
                            </ng-container>

                            <!-- Short Key Column -->
                            <ng-container matColumnDef="pan">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>pan </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span> {{row.pan}}
                                    </span></mat-cell>
                            </ng-container>

                            <!-- Account Group Code Column -->
                            <ng-container matColumnDef="phone">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>phone </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span> {{row.phone}}
                                    </span></mat-cell>
                            </ng-container>

                            <!-- Company PAN Column -->
                            <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>email </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span> {{row.email}}
                                    </span></mat-cell>
                            </ng-container>



                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                    </div>



                </mat-card>
            </mat-tab>

        </mat-tab-group>
    </mat-card>
</section>


<!-- Delete Dialog -->
<ng-template #deleteDialog>
    <mat-dialog-content>
        <div class="card-body" style="align-content: center;">
            <i class="material-icons" style="font-size: 80px; color: #FFBF00; margin-left: 30%;">
                error_outline
            </i>
            <h5 class="card-title" style="text-align: center;"><strong>Are You Sure?</strong></h5>
            <h6 class="card-title" style="text-align: center;">You won't able to revert this!</h6>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" style="margin-bottom: 0.5%;">
        <button mat-button matDialogClose color="primary" (click)="deleteEmployee()">Yes, delete it!</button>
        <button mat-button matDialogClose color="primary">Cancel</button>
    </mat-dialog-actions>
</ng-template>