.mat-button-gradient{
    background-image: linear-gradient(to right, #6a241e , #494944);
    color: whitesmoke;
    margin-bottom: 2% !important;
}
.mat-button-gradient-green{
    background-image: linear-gradient(to right, #1c630a , #494944);
    color: whitesmoke;
    margin-bottom: 2% !important;
}
.mat-icon-delete{
    color:#EC7063;
    float: right;
}
.float-left{
    float: left !important;
}
.float-right{
    float: right !important;
}