<section>
    <mat-card>

        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event.index,0)">

            <mat-tab label=" View Project Master">
                <mat-card class="mt-2 min-height-500">

                    <mat-card-header>
                        <mat-card-title> View Project Master</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>

                    <form [formGroup]="getmaster" *ngIf="getmaster" (ngSubmit)="getmasterdata()">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <ng-select (change)="getprojectmaster($event,getmaster.value.getExecutionType)"
                                    formControlName="cmpCode" placeholder="Select Company">
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!getmaster.get('cmpCode').valid && getmaster.get('cmpCode').touched">
                                        <span *ngIf="getmaster.get('cmpCode').errors['required']">Company
                                            is required</span>
                                    </span></span>
                            </div>

                            <div class="form-group col-md-3">
                                <ng-select (change)="getprojectmaster(getmaster.value.cmpCode,$event)"
                                    formControlName="getExecutionType" placeholder="Select Project Master">
                                    <ng-option *ngFor="let item of ProjectTypeList" [value]="item.Code">
                                        {{item.Name}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!getmaster.get('getExecutionType').valid && getmaster.get('getExecutionType').touched">
                                        <span *ngIf="getmaster.get('getExecutionType').errors['required']">Project
                                            Master
                                            is required</span>
                                    </span></span>
                            </div>

                        </div>
                    </form>

                    <div class="table-responsive"
                        [ngStyle]="{display: projectmasterList?.length >0 ? 'block' : 'none'}">

                        <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>

                        <mat-table mat-table [dataSource]="dataSource" matSort>

                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-icon (click)="editMaster(row)"title="Edit">update</mat-icon>
                                    <mat-icon (click)="deleteMaster(row)"title="Delete">delete</mat-icon>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="cmpName"
                                *ngIf="getmaster.value.getExecutionType=='projectType'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company Name </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.cmpName}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="projectTypeName"
                                *ngIf="getmaster.value.getExecutionType=='projectType'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Project Type Name</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.projectTypeName}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="cmpName"
                                *ngIf="getmaster.value.getExecutionType=='projectExecution'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company Name </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.cmpName}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="activityCode"
                                *ngIf="getmaster.value.getExecutionType=='projectExecution'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Activity Code</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.activityCode}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="activityName"
                                *ngIf="getmaster.value.getExecutionType=='projectExecution'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Activity Name</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.activityName}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="cmpName"
                                *ngIf="getmaster.value.getExecutionType=='projectDesignation'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company Name </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.cmpName}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="designationCode"
                                *ngIf="getmaster.value.getExecutionType=='projectDesignation'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Designation Code</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.designationCode}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="designation"
                                *ngIf="getmaster.value.getExecutionType=='projectDesignation'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.designation}} </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>

                    </div>

                </mat-card>
            </mat-tab>

            <mat-tab label=" Create Project Master">
                <mat-card class="mb-5 min-height-500">
                    <mat-card-header>
                        <mat-card-title *ngIf="isCreate==0">Project Master</mat-card-title>
                        <mat-card-title *ngIf="isCreate==1">Project Update</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>

                    <form *ngIf="master" [formGroup]="master">
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <ng-select (change)="addExecution()" formControlName="masterDataType"
                                    placeholder="Select Project Master">
                                    <ng-option *ngFor="let item of ProjectTypeList" [value]="item.Code">
                                        {{item.Name}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!master.get('masterDataType').valid && master.get('masterDataType').touched">
                                        <span *ngIf="master.get('masterDataType').errors['required']">Project Master
                                            is required</span>
                                    </span></span>
                            </div>

                            <div class="row" *ngIf="master.controls.masterDataType.value=='projectExecution'">

                                <div class="col-md-3 form-group ">

                                    <ng-select formControlName="cmpCode" placeholder="Company Code">
                                        <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                            {{item.cmpCode}} {{item.cmpName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!master.get('cmpCode').valid && master.get('cmpCode').touched">
                                            <span *ngIf="master.get('cmpCode').errors['required']">Company 
                                                is required</span>
                                        </span></span>
                                </div>


                          <mat-form-field class="form-group col-md-3">
                                    <input type="text" matInput placeholder="Activity Name"
                                        formControlName="activityName">
                                    <mat-error
                                        *ngIf="master.get('activityName')?.invalid && (master.get('activityName')?.dirty || master.get('activityName')?.touched)">
                                        Activity Name is required</mat-error>
                                </mat-form-field>

                            </div>
                            <div class="row" *ngIf="master.value.masterDataType=='projectType'">

                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="cmpCode" placeholder="Company  Code">
                                        <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                            {{item.cmpCode}} {{item.cmpName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!master.get('cmpCode').valid && master.get('cmpCode').touched">
                                            <span *ngIf="master.get('cmpCode').errors['required']">Company code
                                                is required</span>
                                        </span></span>

                                </div>


                                <mat-form-field class="form-group col-md-3">
                                    <input type="text" matInput placeholder="Project Type Name"
                                        formControlName="projectTypeName">
                                    <mat-error *ngIf="master.get('projectTypeName')?.touched">Project type name is
                                        required</mat-error>
                                </mat-form-field>

                            </div>

                            <div class="row" *ngIf="master.value.masterDataType=='projectDesignation'">

                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="cmpCode" placeholder="Company  Code">
                                        <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                            {{item.cmpCode}} {{item.cmpName}}
                                        </ng-option>
                                        <mat-error *ngIf="master.get('cmpCode').touched">cmpCode is required</mat-error>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!master.get('cmpCode').valid && master.get('cmpCode').touched">
                                            <span *ngIf="master.get('cmpCode').errors['required']">Company 
                                                is required</span>
                                        </span></span>
                                </div>

                                <mat-form-field class="form-group col-md-3">
                                    <input type="text" matInput placeholder="Designation Name"
                                        formControlName="designation">
                                    <mat-error *ngIf="master.get('designation').touched">Designation Name is
                                        required</mat-error>
                                </mat-form-field>


                            </div>
                            <div class="row mt-3">

                                <div class="col-md-6">
                                    <button type="button" (click)="addMaster()" class="mat-button-gradient"
                                        *ngIf="isCreate==0" mat-button>Save
                                        Project Master</button>
                                    <button type="button" (click)="addMaster()" class="mat-button-gradient"
                                        *ngIf="isCreate==1" mat-button>Update Project Master</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card>
            </mat-tab>

            <mat-tab label="Upload Project Master">
                <mat-card class="mt-2 min-height-500">

                    <mat-card-header>
                        <mat-card-title>Upload Project Master</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>

                    <form *ngIf="uploadMaster" [formGroup]="uploadMaster">

                        <div class="row">
                            <div class="col-md-2 form-group ">
                                <ng-select formControlName="cmpCode" placeholder="Select Company">
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!uploadMaster.get('cmpCode').valid && uploadMaster.get('cmpCode').touched">
                                        <span *ngIf="uploadMaster.get('cmpCode').errors['required']">Company 
                                            is required</span>
                                    </span></span>
                            </div>

                            <div class="col-md-2 form-group ">
                                <ng-select formControlName="uploadDataType" placeholder="Select Project Master">
                                    <ng-option *ngFor="let item of ProjectTypeList" [value]="item.Code">
                                        {{item.Name}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!uploadMaster.get('uploadDataType').valid && uploadMaster.get('uploadDataType').touched">
                                        <span *ngIf="uploadMaster.get('uploadDataType').errors['required']"> Project
                                            Master
                                            is required</span>
                                    </span></span>
                            </div>

                            <mat-form-field class="col-md-2 form-group" style="font-size: 15px;">
                                <mat-label>Choose file</mat-label>
                                <input matInput formControlName="FileUpload" readonly>
                                <button type="button" mat-icon-button matSuffix (click)="fileInput.click()">
                                    <mat-icon>attach_file</mat-icon>
                                </button>
                                <input hidden (change)="selectFile($event)" #fileInput type="file"
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                    id="file">
                            </mat-form-field>

                            <div class="col-md-2 ">
                                <button class="mat-button-gradient" type="button" (click)="addMaster()"
                                    mat-button>Upload
                                    Project Master</button>
                            </div>

                            <div class="col-md-2 ">
                                <button type="button" class="mat-button-gradient" (click)="downloadFile()"
                                    mat-button>Download
                                    Project Master</button>
                            </div>

                        </div>

                    </form>

                </mat-card>
            </mat-tab>

        </mat-tab-group>

    </mat-card>
</section>

<!-- Delete Company Dialog -->
<ng-template #deleteDialog>

    <mat-dialog-content>
        <div class="card-body" style="align-content: center;">
            <i class="material-icons" style="font-size: 80px; color: #FFBF00; margin-left: 30%;">
                error_outline
            </i>
            <h5 class="card-title" style="text-align: center;"><strong>Are You Sure?</strong></h5>
            <h6 class="card-title" style="text-align: center;">You won't able to revert this!</h6>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end" style="margin-bottom: 0.5%;">
        <button mat-button matDialogClose color="primary" (click)="deleteMasterData()">Yes, delete it!</button>
        <button mat-button matDialogClose color="primary">Cancel</button>
    </mat-dialog-actions>

</ng-template>