<section>
    <mat-card>
        <mat-tab-group>
            <mat-tab label="Summary of Labour">
                <mat-card class="mb-2 min-height-500">
                    <!-- <mat-card-header>
                        <mat-card-title>Summary of Labour</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider> -->
                    <form *ngIf="createSummaryLabour" [formGroup]="createSummaryLabour"
                        (ngSubmit)="addServicerequest(createSummaryLabour.value)">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <ng-select formControlName="cmpCode" (change)="onChangeCmp($event);"
                                    placeholder="Select Company">
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!createSummaryLabour.get('cmpCode').valid && createSummaryLabour.get('cmpCode').touched">
                                        <span *ngIf="createSummaryLabour.get('cmpCode').errors['required']">Company
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="form-group col-md-3">
                                <ng-select formControlName="plantCode" placeholder="Select Plant"
                                    (change)="onChangePlant(createSummaryLabour.value.cmpCode,$event)">
                                    <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                        {{item.plantCode}} {{item.plantName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!createSummaryLabour.get('plantCode').valid && createSummaryLabour.get('plantCode').touched">
                                        <span *ngIf="createSummaryLabour.get('plantCode').errors['required']">Plant
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="form-group col-md-3">
                                <ng-select formControlName="projCode" placeholder="Select Project">
                                    <ng-option *ngFor="let item of ProjectList" [value]="item.projCode">
                                        {{item.projCode}} {{item.projName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!createSummaryLabour.get('projCode').valid && createSummaryLabour.get('projCode').touched"><span
                                            *ngIf="createSummaryLabour.get
                                    ('projCode').errors['required']
                                    "> Project is required</span></span>
                                </span>
                            </div>
                            <div class="form-group col-md-3">
                                <ng-select formControlName="master" placeholder="Select Master"
                                    (change)="viewSummaryMLA($event)">
                                    <ng-option *ngFor="let item of ISMasterList" [value]="item.Type">
                                        <!-- {{item.Type}} -->
                                         {{item.name}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!createSummaryLabour.get('master').valid && createSummaryLabour.get('master').touched"><span
                                            *ngIf="createSummaryLabour.get
                                    ('master').errors['required']
                                    "> Master is required</span></span>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class=" table-responsive"
                        [ngStyle]="{display: masterList.length >0 && dataSource ? 'block' : 'none'}">
                        <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>

                        <mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Download</mat-header-cell>
                                <mat-cell *matCellDef="let row">                                    
                                      <mat-icon (click)="downloadExcel(masterList)">get_app</mat-icon>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="mlaID">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    {{row.mlaid}} 
                                  </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                   {{row.description}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="unit">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Unit</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.standardrUnitCode}} 
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="rate">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Rate </mat-header-cell>
                                <mat-cell *matCellDef="let row">{{row.rate |number:'0.'}} 
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="quantity">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Quantity</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                 {{row.quantity|number:'0.'}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Amount</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                  {{row.rate*row.quantity |number:'0.'}} 
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                    </div>
                </mat-card>
              
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</section>