<section>
    <mat-card>
        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event.index,0)">

            <mat-tab label="Create Client">
                <mat-card class="mt-2 min-height-500">
                    <mat-card-header>
                        <mat-card-title *ngIf="isCreate==0">Client Creation</mat-card-title>
                        <mat-card-title *ngIf="isCreate==1">Client Update</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <form *ngIf="createClient" [formGroup]="createClient"
                            (ngSubmit)="addClient(createClient.value)">

                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <ng-select formControlName="cmpCode" placeholder="Select Company">
                                        <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                            {{item.cmpCode}} {{item.cmpName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createClient.get('cmpCode').valid && createClient.get('cmpCode').touched">
                                            <span *ngIf="createClient.get('cmpCode').errors['required']">Company
                                                is required</span>
                                        </span></span>
                                </div>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Client Code" formControlName="bpCode"
                                        id="bpCode" />
                                    <!-- <mat-error *ngIf="myError('bpCode', 'required')">Client code is required</mat-error>
                                    <mat-error *ngIf="myError('bpCode', 'pattern')">Please provide a valid
                                        client code</mat-error>
                                        <mat-error *ngIf="myError('bpCode', 'maxlength')">Max length is 10</mat-error> -->
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Client Name" formControlName="bpFName"
                                        id="bpFName" />
                                    <mat-error *ngIf="myError('bpFName', 'required')">Client name is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('bpFName', 'pattern')">Please provide a valid client
                                        name</mat-error>
                                        <mat-error *ngIf="myError('bpFName', 'maxlength')">Max length is 50</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Short Key" formControlName="shortKey"
                                        id="shortKey" />
                                    <mat-error *ngIf="myError('shortKey', 'required')">Short Key is required</mat-error>
                                    <mat-error *ngIf="myError('shortKey', 'pattern')">Please provide a valid short Key
                                    </mat-error>
                                    <mat-error *ngIf="myError('shortKey', 'maxlength')">Max length is 10</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="PAN" formControlName="pan" id="pan" />
                                    <mat-error *ngIf="myError('pan', 'required')">PAN is required</mat-error>
                                    <mat-error *ngIf="myError('pan', 'pattern')">Please provide a valid pan </mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="GST Number" formControlName="gstNumber"
                                        id="gstNumber" />
                                    <mat-error *ngIf="myError('gstNumber', 'required')">GST number is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('gstNumber', 'pattern')">Please provide a valid gst number
                                    </mat-error>
                                </mat-form-field>

                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="countryCode" (change)="onChangeCountry($event);"
                                        placeholder="Select Country">
                                        <ng-option *ngFor="let item of CountryList" [value]="item.countryCode">
                                            {{item.countryCode}} {{item.countryName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createClient.get('countryCode').valid && createClient.get('countryCode').touched">
                                            <span *ngIf="createClient.get('countryCode').errors['required']">Country
                                                is required</span>
                                        </span></span>
                                </div>
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="stateCode" placeholder="Select State">
                                        <ng-option *ngFor="let item of StateList" [value]="item.stateCode">
                                            {{item.stateCode}} {{item.stateName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!createClient.get('stateCode').valid && createClient.get('stateCode').touched">
                                            <span *ngIf="createClient.get('stateCode').errors['required']">State
                                                is required</span>
                                        </span></span>
                                </div>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="City" formControlName="city" id="city" />
                                    <mat-error *ngIf="myError('city', 'required')">City is required</mat-error>
                                    <mat-error *ngIf="myError('city', 'pattern')">Please provide a valid
                                        city</mat-error>
                                        <mat-error *ngIf="myError('city', 'maxlength')">Max length is 45</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Street" formControlName="street"
                                        id="street" />
                                    <mat-error *ngIf="myError('street', 'required')">Street is required</mat-error>
                                    <mat-error *ngIf="myError('street', 'pattern')">Please provide a valid
                                        street</mat-error>
                                        <mat-error *ngIf="myError('street', 'maxlength')">Max length is 45</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Address Line 1"
                                        formControlName="addressLine1" id="addressLine1" />
                                        <mat-error *ngIf="myError('addressLine1', 'maxlength')">Max length is 50</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Address Line 2"
                                        formControlName="addressLine2" />
                                        <mat-error *ngIf="myError('addressLine2', 'maxlength')">Max length is 50</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Postal Code" formControlName="postalCode"
                                        id="postalCode" />
                                    <mat-error *ngIf="myError('postalCode', 'required')">Postal code is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('postalCode', 'pattern')">Please provide a valid postal
                                        code</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Email" formControlName="email"
                                        id="email" />
                                    <mat-error *ngIf="myError('email', 'required')">Email is required</mat-error>
                                    <mat-error *ngIf="myError('email', 'maxlength')"></mat-error>
                                    <mat-error *ngIf="myError('email', 'pattern')">Please provide a valid email
                                       </mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Phone" formControlName="phone"
                                        id="phone" />
                                    <mat-error *ngIf="myError('phone', 'required')">Phone is required</mat-error>
                                    <mat-error *ngIf="myError('phone', 'maxlength')"></mat-error>
                                    <mat-error *ngIf="myError('phone', 'pattern')">Please provide a valid
                                        phone</mat-error>
                                </mat-form-field>



                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="mat-button-gradient-green" mat-button
                                            *ngIf="isCreate==0 || isCreate==1" (click)="addPerson()">Add
                                            Contact Person</button>
                                    </div>
                                </div>
                                <mat-accordion class="row">
                                    <div formArrayName="relationPersons">
                                        <div *ngFor="let person of relationPersonsArr['controls']; let i=index">
                                            <div [formGroupName]="i" class="mb-3">
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title class="row">
                                                            <div class="col-md-11">
                                                                Contact Person Details
                                                            </div>
                                                            <div class="col-md-1" *ngIf="isCreate==0 || isCreate==1">
                                                                <mat-icon
                                                                    *ngIf="i!=0 || relationPersonsArr['controls'].length>1"
                                                                    class="mat-icon-delete"title="Delete"
                                                                    (click)="deletearr(i)">delete_outline</mat-icon>
                                                            </div>
                                                        </mat-panel-title>

                                                    </mat-expansion-panel-header>
                                                    <mat-divider></mat-divider>
                                                    <div class="row">
                                                        <div class="col-md-3 form-group ">
                                                            <ng-select formControlName="remark"
                                                                placeholder="Contact Person Role">
                                                                <ng-option *ngFor="let item of CPRoleList"
                                                                    [value]="item">
                                                                    {{item}}
                                                                </ng-option>

                                                            </ng-select>
                                                            <span style="color:#f44336"><span
                                                                    *ngIf="!person.get('remark').valid && person.get('remark').touched">
                                                                    <span
                                                                        *ngIf="person.get('remark').errors['required']">Contact person 
                                                                        is required</span>
                                                                </span></span>
                                                        </div>

                                                        <mat-form-field class="col-md-3 ">
                                                            <input type="text" matInput placeholder="Name"
                                                                formControlName="bpFName" />
                                                            <mat-error
                                                                *ngIf="myErrorArray('bpFName', 'required',i)">Name
                                                                is required</mat-error>
                                                            <mat-error
                                                                *ngIf="myErrorArray('bpFName', 'pattern',i)">Please
                                                                provide a valid name</mat-error>
                                                                <mat-error *ngIf="myErrorArray('bpFName', 'maxlength',i)">Max length is 50</mat-error>
                                                        </mat-form-field>

                                                        <mat-form-field class="col-md-3 ">
                                                            <input type="text" matInput placeholder="Phone"
                                                                formControlName="phone" />
                                                            <mat-error *ngIf="myErrorArray('phone', 'required',i)">Phone
                                                                is
                                                                required</mat-error>
                                                            <mat-error *ngIf="myErrorArray('phone', 'pattern',i)">Please
                                                                provide
                                                                a
                                                                valid
                                                                phone</mat-error>
                                                        </mat-form-field>

                                                        <mat-form-field class="col-md-3 ">
                                                            <input type="text" matInput placeholder="Email"
                                                                formControlName="email" />
                                                            <mat-error *ngIf="myErrorArray('email', 'required',i)">Email
                                                                
                                                                is
                                                                required</mat-error>
                                                            <mat-error *ngIf="myErrorArray('email', 'pattern',i)">Please
                                                                provide a
                                                                valid
                                                                email </mat-error>
                                                        </mat-form-field>

                                                    </div>
                                                </mat-expansion-panel>
                                            </div>
                                        </div>
                                    </div>
                                </mat-accordion>
                            </div>


                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==0"
                                        mat-button>Save Client</button>
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==1"
                                        mat-button>Update Client</button>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </mat-tab>

            <mat-tab label="View Client">
                <!-- Mat Card -->
                <mat-card class="mt-2 min-height-500">
                    <!-- Header -->
                    <mat-card-header>
                        <mat-card-title>Client Details</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <form [formGroup]="viewtableClient" *ngIf="viewtableClient" >
                    
                            <ng-select (change)="onChangeCompany($event)" class="form-group col-md-3"
                                placeholder="Select Company" formControlName="cmpCode">
                                <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                    {{item.cmpCode}} {{item.cmpName}}
                                </ng-option>
                            </ng-select>
                            <span style="color:#f44336"><span
                                *ngIf="!viewtableClient.get('cmpCode').valid && viewtableClient.get('cmpCode').touched">
                                <span *ngIf="viewtableClient.get('cmpCode').errors['required']">Company
                                    is required</span>
                            </span></span>
                        
                    </form>
                    

                    
                    <!-- Container -->
                    <div class=" table-responsive"
                        [ngStyle]="{display: BusinessPartnerList?.length >0 && dataSource ? 'block' : 'none'}">
                        <!-- Table Filter -->
                        <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <!-- Table -->
                        <mat-table [dataSource]="dataSource" matSort>
                            <!-- Update Client Column -->
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-icon (click)="editClient(row)" title="Edit">update</mat-icon>
                                    <mat-icon (click)="viewClient(row)" title="View">remove_red_eye</mat-icon>
                                    <mat-icon (click)="deleteMe(row)" title="Delete">delete</mat-icon>
                                </mat-cell>
                            </ng-container>

                            <!-- Client Code Column -->
                            <ng-container matColumnDef="cmpCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.cmpCode}}
                                </mat-cell>
                            </ng-container>

                            <!-- Plant Code Column -->
                            <ng-container matColumnDef="plantCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.plantCode}}
                                </mat-cell>
                            </ng-container>
                            <!-- bp Code Column -->
                            <ng-container matColumnDef="bpCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Client Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.bpCode}}
                                </mat-cell>
                            </ng-container>

                            <!-- bpFName Column -->
                            <ng-container matColumnDef="bpFName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.bpFName}}
                                </mat-cell>
                            </ng-container>

                            <!-- Short Key Column -->
                            <ng-container matColumnDef="shortKey">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Short Key </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.shortKey}}
                                </mat-cell>
                            </ng-container>

                            <!-- Account Group Code Column -->
                            <ng-container matColumnDef="actGroupCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Account Group Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.actGroupCode}}
                                </mat-cell>
                            </ng-container>

                            <!-- Client PAN Column -->
                            <ng-container matColumnDef="pan">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Client PAN </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.pan}}
                                </mat-cell>
                            </ng-container>

                            <!-- GST Number Column -->
                            <ng-container matColumnDef="gstNumber">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>GST Number </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.gstNumber}}
                                </mat-cell>
                            </ng-container>

                            <!-- Street Column -->
                            <ng-container matColumnDef="street">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Street</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.street}}
                                </mat-cell>
                            </ng-container>

                            <!-- City Column -->
                            <ng-container matColumnDef="city">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>City </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.city}}
                                </mat-cell>
                            </ng-container>

                            <!-- Postal Code Column -->
                            <ng-container matColumnDef="postalCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Postal Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.postalCode}}
                                </mat-cell>
                            </ng-container>


                            <!-- Contact Person email Column -->
                            <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.email}}
                                </mat-cell>
                            </ng-container>

                            <!-- Contact Person Phone Column -->
                            <ng-container matColumnDef="phone">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Phone</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.phone}}
                                </mat-cell>
                            </ng-container>

                            <!-- Create By Column -->
                            <ng-container matColumnDef="createBy">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Create By </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.createBy}}
                                </mat-cell>
                            </ng-container>

                            <!-- Create On Column -->
                            <ng-container matColumnDef="createOn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Create On</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.createOn |
                                    date:'yyyy-MM-dd'}} </mat-cell>
                            </ng-container>

                            <!-- Update By Column -->
                            <ng-container matColumnDef="updateBy">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Update By </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.updateBy}}
                                </mat-cell>
                            </ng-container>

                            <!-- Update On Column -->
                            <ng-container matColumnDef="updateOn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Update On</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.updateOn |
                                    date:'yyyy-MM-dd'}} </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                    </div>



                </mat-card>
            </mat-tab>

        </mat-tab-group>
    </mat-card>
</section>

<!-- View Client Dialog -->
<ng-template #viewDialog>

    <mat-dialog-content>

        <mat-card>
            <button mat-icon-button color="warn" class="float-right" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
            </button>
            <!-- Header -->
            <mat-card-header>
                <mat-card-title>Client Details View</mat-card-title>
            </mat-card-header>

            <mat-divider class="mt-2"></mat-divider>
            <div class="col-md-12 row fs-14-5 mt-4">
                <div class="col-md-3 ">
                    Client Code : {{updateRow.cmpCode}}
                </div>
                <div class="col-md-3 ">
                    Client Name : {{updateRow.cmpName}}
                </div>
                <div class="col-md-3">
                    Short Key : {{updateRow.shortKey}}
                </div>
                <div class="col-md-3">
                    PAN Number : {{updateRow.cmpPAN}}
                </div>
                <div class="col-md-3   ">
                    CIN Number : {{updateRow.cin}}
                </div>
                <div class="col-md-3   ">
                    Country :{{updateRow.countryCode}}
                </div>
                <div class="col-md-3   ">
                    State : {{updateRow.stateCode}}
                </div>
                <div class="col-md-3   ">
                    City : {{updateRow.city}}
                </div>
                <div class="col-md-3   ">
                    Street : {{updateRow.street}}
                </div>
                <div class="col-md-3   ">
                    Address Line 1 :{{updateRow.addressLine1}}
                </div>
                <div class="col-md-3   ">
                    Address Line 2 : {{updateRow.addressLine2}}
                </div>
                <div class="col-md-3   ">
                    Postal Code : {{updateRow.postalCode}}
                </div>
                <div class="col-md-3   ">
                    Phone : {{updateRow.phone}}
                </div>
                <div class="col-md-3   ">
                    Email : {{updateRow.email}}
                </div>
                <div class="col-md-3   ">
                    Website : {{updateRow.cmpWebSiteURL}}
                </div>
            </div>

            <mat-divider class="mt-1"></mat-divider>

            <mat-card-header class="mt-2">
                <mat-card-title>GSTN Details View</mat-card-title>
            </mat-card-header>

            <mat-divider></mat-divider>
            <!-- Container -->
            <div class="table-responsive">

                <!-- Table Filter -->
                <mat-form-field class="col-md-3 float-right filter-class">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
                <!-- Table -->
                <mat-table [dataSource]="viewDataSource" matSort>

                    <!-- Client Code Column -->
                    <ng-container matColumnDef="cmpCode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Client Code </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.cmpCode}} </mat-cell>
                    </ng-container>

                    <!-- State Code Column -->
                    <ng-container matColumnDef="plantCode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Code </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.plantCode}} </mat-cell>
                    </ng-container>

                    <!-- Client Name Column -->
                    <ng-container matColumnDef="plantName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Name </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.plantName}} </mat-cell>
                    </ng-container>

                    <!-- Short Key Column -->
                    <ng-container matColumnDef="shortKey">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Short Key </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.shortKey}} </mat-cell>
                    </ng-container>

                    <!-- GST Number Column -->
                    <ng-container matColumnDef="gstNumber">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> GST Number </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.gstNumber}} </mat-cell>
                    </ng-container>

                    <!-- Street Column -->
                    <ng-container matColumnDef="street">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Street </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.street}} </mat-cell>
                    </ng-container>

                    <!-- Address Line1 Column -->
                    <ng-container matColumnDef="addressLine1">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Address Line1 </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.addressLine1}} </mat-cell>
                    </ng-container>

                    <!-- Address Line2 Column -->
                    <ng-container matColumnDef="addressLine2">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Address Line2 </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.addressLine2}} </mat-cell>
                    </ng-container>

                    <!-- City Column -->
                    <ng-container matColumnDef="city">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>City </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
                    </ng-container>

                    <!-- Postal Code Column -->
                    <ng-container matColumnDef="postalCode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Postal Code </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.postalCode}} </mat-cell>
                    </ng-container>

                    <!-- Country Code Column -->
                    <ng-container matColumnDef="countryCode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Country Code </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.countryCode}} </mat-cell>
                    </ng-container>

                    <!-- State Code Column -->
                    <ng-container matColumnDef="stateCode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>State Code </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.stateCode}} </mat-cell>
                    </ng-container>

                    <!-- Contact Person email Column -->
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                    </ng-container>

                    <!-- Contact Person Phone Column -->
                    <ng-container matColumnDef="phone">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Phone</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
                    </ng-container>

                    <!-- Create By Column -->
                    <ng-container matColumnDef="createBy">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Create By </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.createBy}} </mat-cell>
                    </ng-container>

                    <!-- Create On Column -->
                    <ng-container matColumnDef="createOn">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Create On</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.createOn|date:'yyyy-MM-dd'}} </mat-cell>
                    </ng-container>

                    <!-- Update By Column -->
                    <ng-container matColumnDef="updateBy">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Update By </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.updateBy}} </mat-cell>
                    </ng-container>

                    <!-- Update On Column -->
                    <ng-container matColumnDef="updateOn">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Update On</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.updateOn |date:'yyyy-MM-dd'}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumn"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumn;">
                    </mat-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
            </div>



        </mat-card>
    </mat-dialog-content>

</ng-template>

<!-- Delete Client Dialog -->
<ng-template #deleteDialog>

    <mat-dialog-content>
        <div class="card-body" style="align-content: center;">

            <i class="material-icons" style="font-size: 80px; color: #FFBF00; margin-left: 30%;">
                error_outline
            </i>

            <h5 class="card-title" style="text-align: center;"><strong>Are You Sure?</strong></h5>
            <h6 class="card-title" style="text-align: center;">You won't able to revert this!</h6>


        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" style="margin-bottom: 0.5%;">
        <button mat-button matDialogClose color="primary" (click)="deleteClient()">Yes, delete it!</button>
        <button mat-button matDialogClose color="primary">Cancel</button>
    </mat-dialog-actions>
</ng-template>