<section>
    <mat-card>
        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event,0)">
            
            <mat-tab label="Create Project Rate Allocation">
                <mat-card class="mt-2 min-height-500 ">
                    <mat-card-header>
                        <mat-card-title>Project Rate Allocation</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>

                    <form *ngIf="ProjectMaterialLabour" [formGroup]="ProjectMaterialLabour"
                        (ngSubmit)="ProjectMaterialLabourApplySupply()">
                        <div class="row">
                            <div class="col-md-2 form-group ">
                                <ng-select formControlName="cmpCode" placeholder="Select Company"
                                    (change)="onChangeCompany($event)">
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!ProjectMaterialLabour.get('cmpCode').valid && ProjectMaterialLabour.get('cmpCode').touched">
                                        <span *ngIf="ProjectMaterialLabour.get('cmpCode').errors['required']">Company
                                            is required</span>
                                    </span></span>
                            </div>

                            <div class="col-md-2 form-group ">
                                <ng-select formControlName="plantCode" placeholder="Select Plant"
                                    (change)="onChangePlant(ProjectMaterialLabour.value.cmpCode, $event)">
                                    <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                        {{item.plantCode}} {{item.plantName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!ProjectMaterialLabour.get('plantCode').valid && ProjectMaterialLabour.get('plantCode').touched">
                                        <span *ngIf="ProjectMaterialLabour.get('plantCode').errors['required']">Plant
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="col-md-2 form-group ">
                                <ng-select formControlName="projCode" placeholder="Select Project"
                                    (change)="onChangeProject($event)">
                                    <ng-option *ngFor="let item of ProjectList" [value]="item.projCode">
                                        {{item.projCode}} {{item.projName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!ProjectMaterialLabour.get('projCode').valid && ProjectMaterialLabour.get('projCode').touched">
                                        <span *ngIf="ProjectMaterialLabour.get('projCode').errors['required']">Project
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="col-md-2 form-group ">
                                <ng-select formControlName="isMaster" placeholder="Select Master"
                                    (change)="AddMaster($event)">
                                    <ng-option *ngFor="let item of IsMasterList" [value]="item">
                                        {{item}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!ProjectMaterialLabour.get('isMaster').valid && ProjectMaterialLabour.get('isMaster').touched">
                                        <span *ngIf="ProjectMaterialLabour.get('isMaster').errors['required']">Master
                                            is required</span>
                                    </span></span>
                            </div>

                            <!-- <div class="col-md-2 form-group"> -->
                            <mat-form-field style="font-size: 15px;" class="col-md-2 form-group">
                                <mat-label>Choose file</mat-label>
                                <input matInput formControlName="FileUpload" readonly>
                                <button type="button" mat-icon-button matSuffix (click)="fileInput.click()">
                                    <mat-icon>attach_file</mat-icon>
                                </button>
                                <input hidden (change)="selectFileMaterial($event)" #fileInput type="file"
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                    id="file">
                            </mat-form-field>
                            <!-- </div> -->
                            <div class="col-md-2 form-group">
                                <button type="button" (click)="ProjectRateAllocation()"
                                    [disabled]="(MaterialJSON.length >0)? false:true || (LabourJSON.length >0)? false:true || (ApplySupplyJSON.length >0)? false:true"
                                    class="float-right mat-button-gradient" mat-button>Upload Rate Allocation</button>
                            </div>
                            <!-- Material Form Aarry -->
                            <mat-accordion class="row" #accordion="matAccordion">
                                <div formArrayName="material" class="mb-3"
                                    *ngIf="getmaterialdetails()['controls'].length>0">

                                    <mat-expansion-panel #mapanel="matExpansionPanel" [expanded]="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title class="row">
                                                <div class="col-md-10">
                                                    Assign Project Material
                                                </div>
                                                <div class="col-md-2">
                                                    <mat-label>Download Material <mat-icon class="mat-icon-delete"
                                                            title="Download"
                                                            (click)="exportMaterial()">download</mat-icon> </mat-label>
                                                </div>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <mat-divider></mat-divider>
                                        <div *ngFor="let det of getmaterialdetails()['controls'];  let i = index">

                                            <div [formGroupName]="i" class="mb-3">
                                                <div class="row">
                                                    <div class="col-md-3 form-group ">
                                                        <ng-select formControlName="materialId"
                                                            placeholder="Select Material"
                                                            (change)="onchangeMaterialGroup($event)">
                                                            <ng-option *ngFor="let item of MaterialList"
                                                                [value]="item.materialID">
                                                                {{item.materialID}} {{item.descripption}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <span style="color:#f44336"><span
                                                                *ngIf="!det.get('materialId').valid && det.get('materialId').touched">
                                                                <span
                                                                    *ngIf="det.get('materialId').errors['required']">Material

                                                                    is required</span>
                                                            </span></span>
                                                    </div>

                                                    <div class="col-md-3 form-group ">
                                                        <ng-select formControlName="SubMaterialId"
                                                            placeholder="Select Sub Material"
                                                            (change)="onchangeSubMaterialGroup($event)">
                                                            <ng-option
                                                                *ngFor="let item of SortedMaterialList.subMaterial"
                                                                [value]="item.materialSubID">
                                                                {{item.materialSubID}} {{item.descripption}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <span style="color:#f44336"><span
                                                                *ngIf="!det.get('SubMaterialId').valid && det.get('SubMaterialId').touched">
                                                                <span
                                                                    *ngIf="det.get('SubMaterialId').errors['required']">Sub
                                                                    Material
                                                                    is required</span>
                                                            </span></span>
                                                    </div>

                                                    <div class="col-md-3 form-group ">
                                                        <ng-select formControlName="actualMaterialId"
                                                            placeholder="Select Actual Material"
                                                            (change)="onchangeActualMaterialGroup($event,i)">
                                                            <ng-option
                                                                *ngFor="let item of ActualMaterialList.materialDetails"
                                                                [value]="item.materialDetailID">
                                                                {{item.materialDetailID}} {{item.descripption}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <span style="color:#f44336"><span
                                                                *ngIf="!det.get('actualMaterialId').valid && det.get('actualMaterialId').touched">
                                                                <span
                                                                    *ngIf="det.get('actualMaterialId').errors['required']">Actual
                                                                    Material
                                                                    is required</span>
                                                            </span></span>
                                                    </div>

                                                    <mat-form-field class="col-md-3 form-group">
                                                        <input type="text" matInput placeholder="Unit"
                                                            formControlName="unit" readonly
                                                            [ngClass]="{ 'is-invalid': submitted &&  material.get('unit')?.invalid }" />
                                                        <mat-error>Unit is required</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-3 form-group">
                                                        <input type="text" matInput placeholder="Rate"
                                                            formControlName="rate"
                                                            [ngClass]="{ 'is-invalid': submitted &&  material.get('rate')?.invalid }" />
                                                        <mat-error>Rate is required</mat-error>
                                                    </mat-form-field>
                                                    <div class="col-md-3">
                                                        <mat-icon class="mat-icon-delete mt-3" title="Delete"
                                                            (click)="removeMaterial(i,j)">delete_outline</mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <button type="button" class="mat-button-gradient-green" mat-button
                                                    (click)="addmaterialdetails()">Add Material
                                                </button>
                                            </div>

                                            <div class="col-md-4">
                                                <button type="button" (click)="ProjectRateAllocation()"
                                                    [disabled]="(ProjectMaterialLabour.valid)? false:true"
                                                    class="float-right mat-button-gradient" mat-button>Save
                                                    Material</button>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </div>

                                <div formArrayName="labour" class="mb-3"
                                    *ngIf="getlabourdetails()['controls'].length>0">

                                    <mat-expansion-panel #mapanel="matExpansionPanel" [expanded]="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title class="row">
                                                <div class="col-md-10">
                                                    Assign Project Labour
                                                </div>
                                                <div class="col-md-2">
                                                    <mat-label> Download Labour <mat-icon class="mat-icon-delete"
                                                            title="Download"
                                                            (click)="exportLabour()">download</mat-icon> </mat-label>
                                                </div>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <mat-divider></mat-divider>
                                        <div *ngFor="let det of getlabourdetails()['controls'];  let i = index">

                                            <div [formGroupName]="i" class="mb-3">
                                                <div class="row">
                                                    <div class="col-md-3 form-group">
                                                        <ng-select formControlName="labourId"
                                                            (change)="onchangeLabourGroup($event)"
                                                            placeholder="Select labour">
                                                            <ng-option *ngFor="let item of LabourList"
                                                                [value]="item.labourID">
                                                                {{item.labourID}} {{item.descripption}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <span style="color:#f44336"><span
                                                                *ngIf="!det.get('labourId').valid && det.get('labourId').touched">
                                                                <span
                                                                    *ngIf="det.get('labourId').errors['required']">Labour
                                                                    is required</span>
                                                            </span></span>

                                                    </div>
                                                    <div class="col-md-3 form-group ">
                                                        <ng-select formControlName="subLabourId"
                                                            (change)="onchangeLabourSubGroup($event,i)"
                                                            placeholder="Select Sub Labour">
                                                            <ng-option
                                                                *ngFor="let item of SortedLabourList.labourDetails"
                                                                [value]="item.labourDetailsID">
                                                                {{item.labourDetailsID}} {{item.descripption}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <span style="color:#f44336"><span
                                                                *ngIf="!det.get('subLabourId').valid && det.get('subLabourId').touched">
                                                                <span
                                                                    *ngIf="det.get('subLabourId').errors['required']">Sub
                                                                    Labour
                                                                    is required</span>
                                                            </span></span>

                                                    </div>

                                                    <mat-form-field class="col-md-3 form-group">
                                                        <input type="text" matInput placeholder="Standard Unit" readonly
                                                            formControlName="unit"
                                                            [ngClass]="{ 'is-invalid': submitted &&  labourErrorArray.get('unit')?.invalid }" />
                                                        <mat-error>Unit is required</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-2 form-group">
                                                        <input type="text" matInput placeholder="Rate"
                                                            formControlName="rate"
                                                            [ngClass]="{ 'is-invalid': submitted &&  labourErrorArray.get('rate')?.invalid }" />
                                                        <mat-error>Rate is required</mat-error>
                                                    </mat-form-field>
                                                    <div class="col-md-1">
                                                        <mat-icon class="mat-icon-delete mt-3" title="Delete"
                                                            (click)="removelabour(i,j)">delete_outline</mat-icon>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <button type="button" class="mat-button-gradient-green" mat-button
                                                    (click)="addlabourdetails()">Add Labour
                                                </button>
                                            </div>

                                            <div class="col-md-4">
                                                <button type="button" (click)="ProjectRateAllocation()"
                                                    [disabled]="(ProjectMaterialLabour.valid)? false:true"
                                                    class="float-right mat-button-gradient" mat-button>Save
                                                    Labour</button>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>


                                </div>

                                <div formArrayName="applySupply" class="mb-3"
                                    *ngIf="getapplysupplydetails()['controls'].length>0">

                                    <mat-expansion-panel #mapanel="matExpansionPanel" [expanded]="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title class="row">
                                                <div class="col-md-10">
                                                    Assign Project Apply Supply
                                                </div>
                                                <div class="col-md-2">
                                                    <mat-label>Download Apply Supply <mat-icon class="mat-icon-delete"
                                                            title="Download"
                                                            (click)="exportApplySupply()">download</mat-icon>
                                                    </mat-label>
                                                </div>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <mat-divider></mat-divider>
                                        <div *ngFor="let det of getapplysupplydetails()['controls'];  let i = index">

                                            <div [formGroupName]="i" class="mb-3">
                                                <div class="row">
                                                    <div class="col-md-3 form-group ">
                                                        <ng-select formControlName="applySupplyDetailsID"
                                                            placeholder="Select Apply Supply"
                                                            (change)="onchangeApplySypplyGroup($event)">
                                                            <ng-option *ngFor="let item of ApplySupplyList"
                                                                [value]="item.applySupplyID">
                                                                {{item.applySupplyID}} {{item.descripption}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <span style="color:#f44336"><span
                                                                *ngIf="!det.get('applySupplyDetailsID').valid && det.get('applySupplyDetailsID').touched">
                                                                <span
                                                                    *ngIf="det.get('applySupplyDetailsID').errors['required']">Apply
                                                                    Supply
                                                                    is required</span>
                                                            </span></span>

                                                    </div>

                                                    <div class="col-md-3 form-group ">
                                                        <ng-select formControlName="applysupplyId"
                                                            placeholder="Select Sub Apply Supply"
                                                            (change)="onchangeSubApplySypplyGroup($event,i)">
                                                            <ng-option
                                                                *ngFor="let item of SortedApplySypplyList.applySupplyDetails"
                                                                [value]="item.applySupplyDetailsID">
                                                                {{item.applySupplyDetailsID}} {{item.descripption}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <span style="color:#f44336"><span
                                                                *ngIf="!det.get('applysupplyId').valid && det.get('applysupplyId').touched">
                                                                <span
                                                                    *ngIf="det.get('applysupplyId').errors['required']">Sub
                                                                    Apply Supply
                                                                    is required</span>
                                                            </span></span>

                                                    </div>

                                                    <mat-form-field class="col-md-3 form-group">
                                                        <input type="text" matInput placeholder="Unit"
                                                            formControlName="unit" readonly
                                                            [ngClass]="{ 'is-invalid': submitted &&  applysupplyErrorArray.get('unit')?.invalid }" />
                                                        <mat-error>Unit is required</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-3 form-group">
                                                        <input type="text" matInput placeholder="Rate"
                                                            formControlName="rate">
                                                        <!-- [ngClass]="{ 'is-invalid': submitted &&  applysupplyErrorArray.get('rate')?.invalid }" /> -->

                                                        <!-- <mat-error *ngIf="applysupplyErrorArray('rate', 'required',i)">Rate is required </mat-error>
                                                            <mat-error *ngIf="applysupplyErrorArray('rate', 'maxlength',i)">Maximum size is 10</mat-error>
                                                        -->
                                                    </mat-form-field>

                                                    <div class="col-md-3">
                                                        <mat-icon class="mat-icon-delete mt-3" title="Delete"
                                                            (click)="removeapplysupply(i,j)">delete_outline</mat-icon>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <button type="button" class="mat-button-gradient-green" mat-button
                                                    (click)="addapplysupplydetails()">Add Apply supply
                                                </button>
                                            </div>

                                            <div class="col-md-4">
                                                <button type="button" (click)="ProjectRateAllocation()"
                                                    class="float-right mat-button-gradient" mat-button>Save Apply
                                                    Supply</button>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>


                                </div>


                            </mat-accordion>


                        </div>

                    </form>

                </mat-card>
            </mat-tab>
            
            <mat-tab label="View Project Rate Allocation">
                <mat-card class="mt-2 min-height-500 ">
                    <mat-card-header>
                        <mat-card-title>Project Rate Allocation</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <form *ngIf="ViewProjectMaterialLabour" [formGroup]="ViewProjectMaterialLabour"
                        (ngSubmit)="ViewProjectMaterialLabourApplySupply()">
                        <div class="row">
                            <div class="col-md-3 form-group ">
                                <ng-select formControlName="cmpCode" placeholder="Select Company"
                                    (change)="onChangeCompany($event)">
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!ViewProjectMaterialLabour.get('cmpCode').valid && ViewProjectMaterialLabour.get('cmpCode').touched">
                                        <span
                                            *ngIf="ViewProjectMaterialLabour.get('cmpCode').errors['required']">Company
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="col-md-3 form-group ">
                                <ng-select formControlName="plantCode" placeholder="Select Plant"
                                    (change)="onChangePlant(ViewProjectMaterialLabour.value.cmpCode,$event)">
                                    <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                        {{item.plantCode}} {{item.plantName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!ViewProjectMaterialLabour.get('plantCode').valid && ViewProjectMaterialLabour.get('plantCode').touched">
                                        <span
                                            *ngIf="ViewProjectMaterialLabour.get('plantCode').errors['required']">Plant
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="col-md-3 form-group ">
                                <ng-select formControlName="projCode" placeholder="Select Project"
                                    (change)="onChangeProject($event)">
                                    <ng-option *ngFor="let item of ProjectList" [value]="item.projCode">
                                        {{item.projCode}} {{item.projName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!ViewProjectMaterialLabour.get('projCode').valid && ViewProjectMaterialLabour.get('projCode').touched">
                                        <span
                                            *ngIf="ViewProjectMaterialLabour.get('projCode').errors['required']">Project
                                            is required</span>
                                    </span></span>
                            </div>

                            <div class="col-md-3 form-group ">
                                <ng-select formControlName="isMaster" placeholder="Select Master"
                                    (change)="ViewProjectMaterialLabourApplySupply()">
                                    <ng-option *ngFor="let item of IsMasterList" [value]="item">
                                        {{item}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!ViewProjectMaterialLabour.get('isMaster').valid && ViewProjectMaterialLabour.get('isMaster').touched">
                                        <span
                                            *ngIf="ViewProjectMaterialLabour.get('isMaster').errors['required']">Master
                                            is required</span>
                                    </span></span>
                            </div>

                        </div>
                    </form>
                    <!-- Container -->
                    <div class=" table-responsive"
                        [ngStyle]="{display: rateAllocationList.length >0 && dataSource ? 'block' : 'none'}">
                        <!-- Table Filter -->
                        <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <!-- Table -->
                        <mat-table [dataSource]="dataSource" matSort>
                            <!-- Update Column -->
                            <!-- <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-icon (click)="editCompany(row)" title="Edit">update</mat-icon>
                                    <mat-icon (click)="viewCompany(row)"title="View"
                                        >remove_red_eye</mat-icon>
                                    <mat-icon (click)="deleteMe(row)"title="Delete" >delete</mat-icon>
                                </mat-cell>
                            </ng-container> -->

                            <!-- Company Code Column -->
                            <ng-container matColumnDef="cmpCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Company Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.cmpCode}}
                                </mat-cell>
                            </ng-container>

                            <!-- Plant Code Column -->
                            <ng-container matColumnDef="plantCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.plantCode}}
                                </mat-cell>
                            </ng-container>

                            <!-- Project Code  Column -->
                            <ng-container matColumnDef="projCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Project Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.projCode}}
                                </mat-cell>
                            </ng-container>

                            <!-- Material Detail ID Column -->
                            <ng-container matColumnDef="materialDetailID"
                                *ngIf="ViewProjectMaterialLabour.value.isMaster=='Material'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Material ID </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.materialDetailID}}
                                </mat-cell>
                            </ng-container>
                            <!-- labourDetailsID Column -->
                            <ng-container matColumnDef="labourDetailsID"
                                *ngIf="ViewProjectMaterialLabour.value.isMaster=='Labour'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Labour ID </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.labourDetailsID}}
                                </mat-cell>
                            </ng-container>
                            <!-- applySupplyDetailsID Column -->
                            <ng-container matColumnDef="applySupplyDetailsID"
                                *ngIf="ViewProjectMaterialLabour.value.isMaster=='Apply Supply'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Apply Supply ID </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.applySupplyDetailsID}}
                                </mat-cell>
                            </ng-container>

                            <!-- standardrUnitCode Column -->
                            <ng-container matColumnDef="standardrUnitCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Unit Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.standardrUnitCode}}
                                </mat-cell>
                            </ng-container>

                            <!-- Rete Column -->
                            <ng-container matColumnDef="rate">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Rate </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.rate}}
                                </mat-cell>
                            </ng-container>


                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                    </div>

                </mat-card>

            </mat-tab>
            

        </mat-tab-group>
    </mat-card>
</section>