
    <router-outlet></router-outlet>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#d4531d" type = "square-jelly-box" [fullScreen] = "true"><p style="color: #e49326" > Loading... </p></ngx-spinner>
  