<section>
    <mat-card>
        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event.index,0)">

            <mat-tab label="View Data Master">
                <mat-card class="mt-2 min-height-500">
                    <mat-card-header>
                        <mat-card-title>View Data Master</mat-card-title>

                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <form [formGroup]="viewMasterData" *ngIf="viewMasterData" (ngSubmit)="getmasterdata()">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <ng-select (change)="getMasterData()" formControlName="cmpCode"
                                    placeholder="Company Code" required>
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!viewMasterData.get('cmpCode').valid && viewMasterData.get('cmpCode').touched">
                                        <span *ngIf="viewMasterData.get('cmpCode').errors['required']">Company is
                                            required</span>
                                    </span></span>
                            </div>
                            <div class="form-group col-md-3">
                                <ng-select (change)="getMasterData()" formControlName="Masters"
                                    placeholder="Select Data Master">
                                    <ng-option *ngFor="let item of DatamasterList" [value]="item.code">
                                        {{item.name}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!viewMasterData.get('Masters').valid && viewMasterData.get('Masters').touched">
                                        <span *ngIf="viewMasterData.get('Masters').errors['required']">Company is
                                            required</span>
                                    </span></span>
                            </div>


                        </div>
                    </form>

                    <div class="table-responsive"
                        [ngStyle]="{display: projectmasterList.length >0 && dataSource ? 'block' : 'none'}">
                        <!-- Table Filter -->
                        <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <mat-table mat-table [dataSource]="dataSource" matSort>

                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <!-- {{row |json}} -->
                                    <mat-icon (click)="editMasterData(row,null)" title="Edit">update</mat-icon>
                                    <mat-icon (click)="editMasterData(row,'view')"
                                        title="View">remove_red_eye</mat-icon>
                                    <mat-icon (click)="deleteMaster(row)" title="Delete">delete</mat-icon>
                                </mat-cell>
                            </ng-container>

                            <!-- IDC Table  -->
                            <ng-container matColumnDef="cmpCode"
                                *ngIf="this.viewMasterData.controls.Masters.value == 'idc'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company Code </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.cmpCode}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="cmpName"
                                *ngIf="this.viewMasterData.controls.Masters.value == 'idc'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company Name </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.cmpName}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="idcActivityID"
                                *ngIf="this.viewMasterData.controls.Masters.value == 'idc'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>IDC ID</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.idcActivityID}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="description"
                                *ngIf="this.viewMasterData.controls.Masters.value == 'idc'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
                            </ng-container>

                            <!-- Account Group Master -->
                            <ng-container matColumnDef="cmpCode" *ngIf="viewMasterData.value.Masters=='accountGroup'">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Company Code
                                </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.cmpCode}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="actGroupCode"
                                *ngIf="viewMasterData.value.Masters=='accountGroup'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Act Group Code</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.actGroupCode}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="actGroupDesc"
                                *ngIf="viewMasterData.value.Masters=='accountGroup'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Act Group Desc</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.actGroupDesc}} </mat-cell>
                            </ng-container>

                            <!-- Unit Master -->
                            <ng-container matColumnDef="cmpCode" *ngIf="viewMasterData.value.Masters=='unitMaster'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company Code</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.cmpCode}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="standardrUnitCode"
                                *ngIf="viewMasterData.value.Masters=='unitMaster'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Standard Unit Code</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.standardrUnitCode}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="unitDesc" *ngIf="viewMasterData.value.Masters=='unitMaster'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Unit Description</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.unitDesc}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="unitCode1" *ngIf="viewMasterData.value.Masters=='unitMaster'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Unit Code1</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.unitCode1}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="unitCode2" *ngIf="viewMasterData.value.Masters=='unitMaster'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Unit Code 2</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.unitCode2}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="unitCode3" *ngIf="viewMasterData.value.Masters=='unitMaster'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Unit Code 3</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.unitCode3}} </mat-cell>
                            </ng-container>
                            <!-- Department Details -->
                            <ng-container matColumnDef="cmpCode"
                                *ngIf="viewMasterData.value.Masters=='departmentDetails'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company Code </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.cmpCode}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="deptDesc"
                                *ngIf="viewMasterData.value.Masters=='departmentDetails'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Dept Desc</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.deptDesc}} </mat-cell>
                            </ng-container>
                            <!-- Employee Designation -->
                            <ng-container matColumnDef="cmpCode" *ngIf="viewMasterData.value.Masters=='empDesignation'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company Code </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.cmpCode}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="designationDesc"
                                *ngIf="viewMasterData.value.Masters=='empDesignation'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.designationDesc}} </mat-cell>
                            </ng-container>
                            <!-- Labour Master -->
                            <ng-container matColumnDef="cmpCode" *ngIf="viewMasterData.value.Masters=='labour'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company Code</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.cmpCode}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="labourID" *ngIf="viewMasterData.value.Masters=='labour'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>labour ID</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> <span
                                        *ngIf="row.labourID">{{row.labourID}}</span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="descripption" *ngIf="viewMasterData.value.Masters=='labour'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.descripption}} </mat-cell>
                            </ng-container>
                            <!-- Material Master -->
                            <ng-container matColumnDef="cmpCode" *ngIf="viewMasterData.value.Masters=='material'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company Code </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.cmpCode}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="materialID" *ngIf="viewMasterData.value.Masters=='material'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Material ID</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.materialID}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="descripption" *ngIf="viewMasterData.value.Masters=='material'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.descripption}} </mat-cell>
                            </ng-container>

                            <!-- Apply Supply -->
                            <ng-container matColumnDef="cmpCode" *ngIf="viewMasterData.value.Masters=='applysupply'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company Code </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.cmpCode}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="applySupplyID"
                                *ngIf="viewMasterData.value.Masters=='applysupply'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Apply Supply ID</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.applySupplyID}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="descripption"
                                *ngIf="viewMasterData.value.Masters=='applysupply'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.descripption}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="cmpCode" *ngIf="viewMasterData.value.Masters=='vmm'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company Code</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.cmpCode}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="vmmID" *ngIf="viewMasterData.value.Masters=='vmm'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>VmmID</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.vmmID}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="description" *ngIf="viewMasterData.value.Masters=='vmm'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>description</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
                            </ng-container>


                            <!-- 'cmpCode', 'mmmID', 'description' -->
                            <ng-container matColumnDef="cmpCode" *ngIf="viewMasterData.value.Masters=='mmm'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>cmpCode</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.cmpCode}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="mmmID" *ngIf="viewMasterData.value.Masters=='mmm'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>mmmID</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.mmmID}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="description" *ngIf="viewMasterData.value.Masters=='mmm'">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>description</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
                            </ng-container>



                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>

                    </div>
                </mat-card>
            </mat-tab>

            <mat-tab label="Create Data Master">
                <mat-card class="mb-2 min-height-500">
                    <mat-card-header>
                        <mat-card-title *ngIf="isCreate==0">Create Data Master</mat-card-title>
                        <mat-card-title *ngIf="isCreate==1">Update Data Master </mat-card-title>
                        <mat-card-title *ngIf="isCreate==2">View Data Master</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>

                    <form *ngIf="datamaster" [formGroup]="datamaster">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <ng-select formControlName="cmpCode" (change)="onChangeCompany($event);"
                                    placeholder="Select Company" required>
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!datamaster.get('cmpCode').valid && datamaster.get('cmpCode').touched">
                                        <span *ngIf="datamaster.get('cmpCode').errors['required']">Company is
                                            required</span>
                                    </span></span>
                            </div>
                            <div class="form-group col-md-3">
                                <ng-select (change)="datamastertype()" formControlName="masterType"
                                    placeholder="Select Master">
                                    <ng-option *ngFor="let item of DatamasterList" [value]="item.code">
                                        {{item.name}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!datamaster.get('masterType').valid && datamaster.get('masterType').touched">
                                        <span *ngIf="datamaster.get('masterType').errors['required']">Master is
                                            required</span>
                                    </span></span>
                            </div>

                            <div class="row" *ngIf="datamaster.value.masterType=='unitMaster'">

                                <mat-form-field class="form-group col-md-3">
                                    <input type="text" matInput placeholder="Standard Unit Code"
                                        formControlName="standardrUnitCode">
                                    <mat-error *ngIf="myError('standardrUnitCode', 'required')">Unit standard code is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('standardrUnitCode', 'maxlength')">Maximum size is
                                        20</mat-error>
                                </mat-form-field>

                                <mat-form-field class="form-group col-md-3">
                                    <input type="text" matInput placeholder="Unit Description"
                                        formControlName="unitDesc">
                                    <mat-error *ngIf="myError('unitDesc', 'required')"> Unit Description is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('unitDesc', 'maxlength')">Maximum size is 45</mat-error>
                                </mat-form-field>


                                <mat-form-field class="form-group col-md-3">
                                    <input type="text" matInput placeholder="Unit Code 1" formControlName="unitCode1">
                                    <!-- <mat-error *ngIf="datamaster.get('unitCode1').touched">Unit code 1 is
                                        required</mat-error> -->
                                    <mat-error *ngIf="myError('unitCode1', 'maxlength')">Maximum size is 20</mat-error>
                                </mat-form-field>

                                <mat-form-field class="form-group col-md-3">
                                    <input type="text" matInput placeholder="Unit Code 2" formControlName="unitCode2">
                                    <!-- <mat-error *ngIf="datamaster.get('unitCode2').touched">Unit code 2 is
                                        required</mat-error> -->
                                    <mat-error *ngIf="myError('unitCode2', 'maxlength')">Maximum size is 20</mat-error>
                                </mat-form-field>

                                <mat-form-field class="form-group col-md-3">
                                    <input type="text" matInput placeholder="Unit Code 3" formControlName="unitCode3">
                                    <!-- <mat-error *ngIf="datamaster.get('unitCode3').touched">Unit code 3 is
                                        required</mat-error> -->
                                    <mat-error *ngIf="myError('unitCode3', 'maxlength')">Maximum size is 20</mat-error>
                                </mat-form-field>
                            </div>

                            <mat-form-field class="form-group col-md-3"
                                *ngIf="datamaster.value.masterType=='departmentDetails'">
                                <input type="text" matInput placeholder="Department Description"
                                    formControlName="deptDesc">
                                <mat-error *ngIf="myError('deptDesc', 'required')"> Department description is
                                    required</mat-error>
                                <mat-error *ngIf="myError('deptDesc', 'maxlength')">Maximum size is 50</mat-error>
                            </mat-form-field>


                            <mat-form-field class="form-group col-md-3"
                                *ngIf="datamaster.value.masterType=='empDesignation'">
                                <input type="text" matInput placeholder="Designation Description"
                                    formControlName="designationDesc">

                                <mat-error *ngIf="myError('designationDesc', 'required')"> Designation is
                                    required</mat-error>
                                <mat-error *ngIf="myError('designationDesc', 'maxlength')">Maximum size is
                                    50</mat-error>
                            </mat-form-field>

                            <mat-form-field class="form-group col-md-3"
                                *ngIf="datamaster.value.masterType=='accountGroup'">
                                <input type="text" matInput placeholder="Account Group Code"
                                    formControlName="actGroupCode">
                                <mat-error *ngIf="datamaster.get('actGroupCode').touched"> Account Group is
                                    required</mat-error>

                            </mat-form-field>

                            <mat-form-field class="form-group col-md-3"
                                *ngIf="datamaster.value.masterType=='accountGroup'">
                                <input type="text" matInput placeholder="Account Group Description"
                                    formControlName="actGroupDesc">
                                <mat-error *ngIf="datamaster.get('actGroupDesc').touched"> Account Description is
                                    required</mat-error>

                            </mat-form-field>

                        </div>
                        <div class="row" *ngIf="datamaster.value.masterType=='labour'">

                            <div class="form-group col-md-3">
                                <ng-select formControlName="descripption" placeholder="Select Labour"
                                    (change)="OnSelectLabourGroup($event)">
                                    <ng-option *ngFor="let item of labourList" [value]="item.labourID">
                                        {{item.labourID}} {{item.descripption}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!datamaster.get('descripption').valid && datamaster.get('descripption').touched">
                                        <span *ngIf="datamaster.get('descripption').errors['required']">Labour
                                            description is
                                            required</span>
                                    </span></span>
                            </div>

                            <div class=" col-md-3">
                                <button *ngIf="isCreate==0 || isCreate==1" (click)="modal()" type="button"
                                    class="mat-button-gradient-green" mat-button>Add New
                                    Labour Group
                                </button>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="mat-button-gradient-green" mat-button
                                        *ngIf="isCreate==0 || isCreate==1" (click)="addLabour()">Add Labour
                                    </button>
                                </div>
                            </div>
                            <!-- Labour Form Aarray -->
                            <mat-accordion class="row">
                                <div formArrayName="labourDetails">
                                    <div *ngFor="let lab of labour()['controls'];  let i = index">
                                        <div [formGroupName]="i" class="mb-3">
                                            <mat-expansion-panel>

                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="row">
                                                        <div class="col-md-11">
                                                            Add Labour Details
                                                        </div>
                                                        <div class="col-md-1">
                                                            <mat-icon class="mat-icon-delete" title="Delete"
                                                                *ngIf="isCreate==0 || isCreate==1"
                                                                (click)="removeLabour(i)">delete_outline</mat-icon>
                                                        </div>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-divider></mat-divider>

                                                <div class="row">

                                                    <mat-form-field class="form-group col-md-9">
                                                        <input type="text" matInput placeholder="Labour Description"
                                                            title="descripption" formControlName="descripption">
                                                        <mat-error
                                                            *ngIf="myErrorArray('descripption', 'required',i)">Labour
                                                            description
                                                            is required</mat-error>
                                                            <mat-error
                                                            *ngIf="myErrorArray('descripption', 'maxlength',i)">Maximum
                                                            size is 1000</mat-error>
                                                    </mat-form-field>

                                                    <div class="form-group col-md-3">
                                                        <ng-select formControlName="StandardrUnitCode"
                                                            placeholder="Select Standard Unit Code">
                                                            <ng-option *ngFor="let item of unitList"
                                                                [value]="item.standardrUnitCode">
                                                                {{item.standardrUnitCode}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <span style="color:#f44336"><span
                                                                *ngIf="!lab.get('StandardrUnitCode').valid && lab.get('StandardrUnitCode').touched">
                                                                <span
                                                                    *ngIf="lab.get('StandardrUnitCode').errors['required']">Standard
                                                                    Unit Code
                                                                    is
                                                                    required</span>
                                                            </span></span>
                                                    </div>
                                                </div>

                                            </mat-expansion-panel>

                                        </div>
                                    </div>
                                </div>
                            </mat-accordion>
                        </div>

                        <div class="row" *ngIf="datamaster.value.masterType=='material'">

                            <div class="form-group col-md-3">
                                <ng-select formControlName="materialID" (change)="onChangeMaterial($event);"
                                    placeholder="Select Material Group">
                                    <ng-option *ngFor="let item of MaterialList" [value]="item.materialID">
                                        {{item.materialID}} {{item.descripption}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!datamaster.get('materialID').valid && datamaster.get('materialID').touched">
                                        <span *ngIf="datamaster.get('materialID').errors['required']">
                                            Description is
                                            required</span>
                                    </span></span>
                            </div>

                            <div class=" col-md-3">
                                <button (click)="modal('group',null)" *ngIf="isCreate==0 || isCreate==1" type="button"
                                    class="mat-button-gradient-green" mat-button>Add
                                    New Material Group
                                </button>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="mat-button-gradient-green" mat-button
                                        *ngIf="isCreate==0 || isCreate==1" (click)="addMaterial()">Add Material Sub
                                        Group
                                    </button>
                                </div>
                            </div>

                            <!-- SubMaterial Form Aarray -->
                            <mat-accordion class="row">
                                <div formArrayName="subMaterial">
                                    <div *ngFor="let mat of materials()['controls'];  let i = index">
                                        <div [formGroupName]="i" class="mb-3">

                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="row">
                                                        <div class="col-md-11">
                                                            Material Sub Details
                                                        </div>
                                                        <div class="col-md-1">
                                                            <mat-icon *ngIf="isCreate==0 || isCreate==1" title="Delete"
                                                                class="mat-icon-delete"
                                                                (click)="removeSubMaterial(i)">delete_outline</mat-icon>
                                                        </div>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-divider></mat-divider>

                                                <div class="row">

                                                    <ng-select class="form-group col-md-3"
                                                        formControlName="materialSubID"
                                                        placeholder="Select Sub Material">
                                                        <ng-option *ngFor="let item of subMaterialList"
                                                            [value]="item.materialSubID">
                                                            {{item.materialSubID}} {{item.descripption}}
                                                        </ng-option>
                                                    </ng-select>


                                                    <div class=" col-md-3">
                                                        <button (click)="modal('subGroup',i)"
                                                            *ngIf="isCreate==0 || isCreate==1" type="button"
                                                            class="mat-button-gradient-green" mat-button>Add New
                                                            Material sub Group
                                                        </button>
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button type="button" *ngIf="isCreate==0 || isCreate==1"
                                                            class="mat-button-gradient-green" mat-button
                                                            (click)="addSubMaterial(i)">Add Actual Group
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- MaterialDetails Form Array -->
                                                <div formArrayName="materialDetails">
                                                    <div
                                                        *ngFor="let subMate of MaterialDet(i)['controls']; let j = index">
                                                        <div [formGroupName]="j" class="mb-3">

                                                            <mat-expansion-panel>
                                                                <mat-expansion-panel-header>
                                                                    <mat-panel-title class="row">
                                                                        <div class="col-md-11">
                                                                            Actual Material Details
                                                                        </div>
                                                                        <div class="col-md-1">
                                                                            <mat-icon class="mat-icon-delete"
                                                                                title="Delete"
                                                                                *ngIf="isCreate==0 || isCreate==1"
                                                                                (click)="removeMaterialDet(i,j)">delete_outline</mat-icon>
                                                                        </div>
                                                                    </mat-panel-title>
                                                                </mat-expansion-panel-header>

                                                                <mat-divider></mat-divider>

                                                                <div class="row">

                                                                    <mat-form-field class="form-group col-md-9">
                                                                        <input type="text" matInput
                                                                            placeholder="Actual Group Description"
                                                                            formControlName="descripption">
                                                                        <mat-error
                                                                            *ngIf="datamaster.get('descripption').hasError('maxlength')">Description
                                                                            is required</mat-error>
                                                                    </mat-form-field>

                                                                    <ng-select class="form-group col-md-3"
                                                                        formControlName="StandardrUnitCode"
                                                                        placeholder="Select Standard Unit Code">
                                                                        <ng-option *ngFor="let item of unitList"
                                                                            [value]="item.standardrUnitCode">
                                                                            {{item.standardrUnitCode}}
                                                                        </ng-option>
                                                                    </ng-select>
                                                                </div>
                                                            </mat-expansion-panel>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </mat-accordion>
                        </div>

                        <div class="row" *ngIf="datamaster.value.masterType=='applysupply'">

                            <div class="form-group col-md-3">
                                <ng-select formControlName="descripption" placeholder="Select Apply Supply Description">
                                    <ng-option *ngFor="let item of applySupplyList" [value]="item.applySupplyID">
                                        {{item.applySupplyID}} {{item.descripption}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!datamaster.get('descripption').valid && datamaster.get('descripption').touched">
                                        <span *ngIf="datamaster.get('descripption').errors['required']">
                                            Description is
                                            required</span>
                                    </span></span>
                            </div>


                            <div class=" col-md-3">
                                <button *ngIf="isCreate==0 || isCreate==1" (click)="modal()" type="button"
                                    class="mat-button-gradient-green" mat-button>Add New
                                    Apply Supply Group
                                </button>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="mat-button-gradient-green" mat-button
                                        *ngIf="isCreate==0 || isCreate==1" (click)="addapplysupply()">Add
                                        Sub Apply Supply Group
                                    </button>
                                </div>
                            </div>
                            <!-- Apply supply Form Aarray -->
                            <mat-accordion class="row">
                                <div formArrayName="applySupplyDetails">
                                    <div *ngFor="let aplspl of applysupply()['controls'];  let i = index">
                                        <div [formGroupName]="i" class="mb-3">
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="row">
                                                        <div class="col-md-11">
                                                            Add Sub Apply Supply
                                                        </div>
                                                        <div class="col-md-1">
                                                            <mat-icon class="mat-icon-delete" title="Delete"
                                                                *ngIf="isCreate==0 || isCreate==1"
                                                                (click)="removeapplysupply(i)">delete_outline</mat-icon>
                                                        </div>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-divider></mat-divider>

                                                <div class="row">

                                                    <mat-form-field class="form-group col-md-9">
                                                        <input type="text" matInput
                                                            placeholder="Sub Apply Supply Group Description"
                                                            formControlName="descripption">
                                                        <mat-error
                                                            *ngIf="myErrorApplySupply('descripption', 'maxlength',i)">Maximum
                                                            size is 1000</mat-error>
                                                    </mat-form-field>

                                                    <ng-select class="form-group col-md-3"
                                                        formControlName="StandardrUnitCode"
                                                        placeholder="Select Standard Unit Code">
                                                        <ng-option *ngFor="let item of unitList"
                                                            [value]="item.standardrUnitCode">
                                                            {{item.standardrUnitCode}}
                                                        </ng-option>
                                                    </ng-select>

                                                </div>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </mat-accordion>
                        </div>

                        <div class="row" *ngIf="datamaster.value.masterType=='idc'">

                            <div class="form-group col-md-3">
                                <ng-select formControlName="idcActivityID" placeholder="Select IDC Group"
                                    (change)="onChangeIDC($event)">
                                    <ng-option *ngFor="let item of IDCList" [value]="item.idcActivityID">
                                        {{item.idcActivityID}} {{item.description}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!datamaster.get('idcActivityID').valid && datamaster.get('idcActivityID').touched">
                                        <span *ngIf="datamaster.get('idcActivityID').errors['required']">
                                            IDC Group is
                                            required</span>
                                    </span></span>


                            </div>
                            <div class="form-group col-md-3">
                                <mat-checkbox type="mat-checkbox " formControlName="isFixed"
                                    value="isFixed">isFixed</mat-checkbox>
                            </div>
                            <div class=" col-md-3">
                                <button *ngIf="isCreate==0 || isCreate==1" (click)="modal('group',null)" type="button"
                                    class="mat-button-gradient-green" mat-button>Add New IDC
                                </button>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="mat-button-gradient-green" mat-button
                                        *ngIf="isCreate==0 || isCreate==1" (click)="addIDC()">Add Sub IDC
                                    </button>
                                </div>
                            </div>
                            <!-- IDC Form Aarray -->
                            <mat-accordion class="row">
                                <div formArrayName="subHead">
                                    <div *ngFor="let items of idc()['controls'];  let i = index">
                                        <div [formGroupName]="i" class="mb-3">
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="row">
                                                        <div class="col-md-11">
                                                            Add Sub IDC Details
                                                        </div>
                                                        <div class="col-md-1">
                                                            <mat-icon class="mat-icon-delete" title="Delete"
                                                                *ngIf="isCreate==0 || isCreate==1"
                                                                (click)="removeIDC(i)">delete_outline</mat-icon>
                                                        </div>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-divider></mat-divider>

                                                <div class="row">
                                                    <div class="form-group col-md-3">
                                                        <ng-select formControlName="idcSubHeadID"
                                                            placeholder="Select IDC Sub Group">
                                                            <ng-option *ngFor="let item of subIDCList"
                                                                [value]="item.idcSubHeadID">
                                                                {{item.idcSubHeadID}} {{item.description}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <span style="color:#f44336"><span
                                                                *ngIf="!items.get('idcSubHeadID').valid && items.get('idcSubHeadID').touched">
                                                                <span
                                                                    *ngIf="items.get('idcSubHeadID').errors['required']">
                                                                    IDC Sub Group is
                                                                    required</span>
                                                            </span></span>
                                                    </div>
                                                    <div class=" col-md-3">
                                                        <button (click)="modal('subGroup',i)"
                                                            *ngIf="isCreate==0 || isCreate==1" type="button"
                                                            class="mat-button-gradient-green" mat-button>Add New
                                                            IDC sub Group
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button type="button" *ngIf="isCreate==0 || isCreate==1"
                                                            class="mat-button-gradient-green" mat-button
                                                            (click)="addSubActualIDC(i)">Add Actual IDC
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- MaterialDetails Form Array -->
                                                <div formArrayName="idcDetails">
                                                    <div
                                                        *ngFor="let subMate of idcActualArray(i)['controls']; let j = index">
                                                        <div [formGroupName]="j" class="mb-3">

                                                            <mat-expansion-panel>
                                                                <mat-expansion-panel-header>
                                                                    <mat-panel-title class="row">
                                                                        <div class="col-md-11">
                                                                            Actual IDC Details
                                                                        </div>
                                                                        <div class="col-md-1">
                                                                            <mat-icon class="mat-icon-delete"
                                                                                title="Delete"
                                                                                *ngIf="isCreate==0 || isCreate==1"
                                                                                (click)="removeIDCActual(i,j)">delete_outline</mat-icon>
                                                                        </div>
                                                                    </mat-panel-title>
                                                                </mat-expansion-panel-header>

                                                                <mat-divider></mat-divider>

                                                                <div class="row">


                                                                    <mat-form-field class="form-group col-md-12">
                                                                        <input type="text" matInput
                                                                            placeholder="Actual Group Description"
                                                                            formControlName="description">
                                                                        <mat-error>Description</mat-error>
                                                                    </mat-form-field>


                                                                </div>
                                                            </mat-expansion-panel>
                                                        </div>
                                                    </div>
                                                </div>

                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </mat-accordion>
                        </div>
                        <!-- Miscellaneous -->
                        <div class="row" *ngIf="datamaster.value.masterType=='miscellaneous'">


                            <mat-form-field class="form-group col-md-3">
                                <input type="text" matInput placeholder="Description" formControlName="descripption">
                                <mat-error *ngIf="datamaster.get('descripption').touched">Description is
                                    required</mat-error>
                            </mat-form-field>

                            <div class=" col-md-3">
                                <button *ngIf="isCreate==0 || isCreate==1" (click)="modal()" type="button"
                                    class="mat-button-gradient-green" mat-button>Add New
                                    miscellaneous Group
                                </button>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="mat-button-gradient-green" mat-button
                                        *ngIf="isCreate==0 || isCreate==1" (click)="addmiscellaneous()">Add
                                        Sub_Miss_Lynious
                                    </button>
                                </div>
                            </div>
                            <!-- Apply supply Form Aarray -->
                            <mat-accordion class="row">
                                <div formArrayName="miscellaneousArray">
                                    <div *ngFor="let missly of miscellaneous()['controls'];  let i = index">
                                        <div [formGroupName]="i" class="mb-3">
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="row">
                                                        <div class="col-md-11">
                                                            Add Miscellaneous
                                                        </div>
                                                        <div class="col-md-1">
                                                            <mat-icon class="mat-icon-delete" title="Delete"
                                                                *ngIf="isCreate==0 || isCreate==1"
                                                                (click)="removemiscellaneous(i)">delete_outline</mat-icon>
                                                        </div>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-divider></mat-divider>

                                                <div class="row">

                                                    <mat-form-field class="form-group col-md-3">
                                                        <input type="text" matInput
                                                            placeholder="Miscellaneous Description Group"
                                                            formControlName="descripption">
                                                        <mat-error>Description</mat-error>
                                                    </mat-form-field>

                                                </div>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </mat-accordion>
                        </div>
                        <div class="row" *ngIf="datamaster.value.masterType=='vmm'">

                            <ng-select class="form-group col-md-3" formControlName="descripption"
                                placeholder="Select VMM">
                                <ng-option *ngFor="let item of vmmList" [value]="item.vmmID">
                                    {{item.vmmID}} {{item.description}}
                                </ng-option>
                            </ng-select>

                            <div class=" col-md-3">
                                <button *ngIf="isCreate==0 || isCreate==1" (click)="modal()" type="button"
                                    class="mat-button-gradient-green" mat-button>Add New
                                    VMM group
                                </button>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="mat-button-gradient-green" mat-button
                                        *ngIf="isCreate==0 || isCreate==1" (click)="addVmm()">Add VMM
                                    </button>
                                </div>
                            </div>
                            <!-- Labour Form Aarray -->
                            <mat-accordion class="row">
                                <div formArrayName="details">
                                    <div *ngFor="let vehi of vmm()['controls'];  let i = index">
                                        <div [formGroupName]="i" class="mb-3">
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="row">
                                                        <div class="col-md-11">
                                                            Add VMM Details
                                                        </div>
                                                        <div class="col-md-1">
                                                            <mat-icon class="mat-icon-delete" title="Delete"
                                                                *ngIf="isCreate==0 || isCreate==1"
                                                                (click)="removeVmm(i)">delete_outline</mat-icon>
                                                        </div>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-divider></mat-divider>

                                                <div class="row">

                                                    <mat-form-field class="form-group col-md-3">
                                                        <input type="text" matInput placeholder="Vmm Description"
                                                            formControlName="descripption">
                                                        <mat-error
                                                            *ngIf="vmErrorArray('descripption', 'required',i)">Vmm
                                                            Description
                                                            is required</mat-error>
                                                    </mat-form-field>


                                                    <ng-select class="form-group col-md-3"
                                                        formControlName="StandardrUnitCode"
                                                        placeholder="Select Standard Unit Code">
                                                        <ng-option *ngFor="let item of unitList"
                                                            [value]="item.standardrUnitCode">
                                                            {{item.standardrUnitCode}}
                                                        </ng-option>
                                                    </ng-select>
                                                </div>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </mat-accordion>
                        </div>
                        <div class="row" *ngIf="datamaster.value.masterType=='mmm'">

                            <ng-select class="form-group col-md-3" formControlName="Description"
                                placeholder="Select MMM">
                                <ng-option *ngFor="let item of mmmList" [value]="item.mmmID">
                                    {{item.mmmID}} {{item.description}}
                                </ng-option>
                            </ng-select>

                            <div class=" col-md-3">
                                <button *ngIf="isCreate==0 || isCreate==1" (click)="modal()" type="button"
                                    class="mat-button-gradient-green" mat-button>Add New
                                    MMM group
                                </button>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="mat-button-gradient-green" mat-button
                                        *ngIf="isCreate==0 || isCreate==1" (click)="addMmm()">Add MMM
                                    </button>
                                </div>
                            </div>
                            <!-- Labour Form Aarray -->
                            <mat-accordion class="row">
                                <div formArrayName="details">
                                    <div *ngFor="let mat of materialmm()['controls'];  let i = index">
                                        <div [formGroupName]="i" class="mb-3">
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="row">
                                                        <div class="col-md-11">
                                                            Add VMM Details
                                                        </div>
                                                        <div class="col-md-1">
                                                            <mat-icon class="mat-icon-delete" title="Delete"
                                                                *ngIf="isCreate==0 || isCreate==1"
                                                                (click)="removeMmm(i)">delete_outline</mat-icon>
                                                        </div>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-divider></mat-divider>

                                                <div class="row">

                                                    <mat-form-field class="form-group col-md-3">
                                                        <input type="text" matInput placeholder="Description"
                                                            formControlName="description">
                                                    </mat-form-field>


                                                    <ng-select class="form-group col-md-3"
                                                        formControlName="StandardrUnitCode"
                                                        placeholder="Select Standard Unit Code">
                                                        <ng-option *ngFor="let item of unitList"
                                                            [value]="item.standardrUnitCode">
                                                            {{item.standardrUnitCode}}
                                                        </ng-option>
                                                    </ng-select>
                                                </div>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </mat-accordion>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                <button type="button" (click)="addMasterData()" class="mat-button-gradient"
                                    *ngIf="isCreate==0 " mat-button>Save Data Master</button>
                                <button type="button" (click)="addMasterData()" class="mat-button-gradient"
                                    *ngIf="isCreate==1" mat-button>Update Data Master</button>
                            </div>
                        </div>

                    </form>

                </mat-card>
            </mat-tab>

            <mat-tab label="Upload Data Master">
                <mat-card class="mt-2 min-height-500">
                    <mat-card-header>
                        <mat-card-title>Upload Data Master</mat-card-title>

                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <form *ngIf="uploadDataMaster" [formGroup]="uploadDataMaster" (ngSubmit)="addMasterData()">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <ng-select formControlName="cmpCode" placeholder="Select Company"
                                    (change)="onChangeCompany($event);">
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!uploadDataMaster.get('cmpCode').valid && uploadDataMaster.get('cmpCode').touched">
                                        <span *ngIf="uploadDataMaster.get('cmpCode').errors['required']">
                                            Company is
                                            required</span>
                                    </span></span>
                            </div>

                            <div class="form-group col-md-3">
                                <ng-select formControlName="uploadMastersType" placeholder="Select Master">
                                    <ng-option *ngFor="let item of uploadDatamasterList" [value]="item.code">
                                        {{item.name}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!uploadDataMaster.get('uploadMastersType').valid && uploadDataMaster.get('uploadMastersType').touched">
                                        <span *ngIf="uploadDataMaster.get('uploadMastersType').errors['required']">
                                            Master is
                                            required</span>
                                    </span></span>
                            </div>

                            <mat-form-field class="col-md-3" style="font-size: 15px;">
                                <mat-label>Choose file</mat-label>
                                <input matInput formControlName="FileUpload" readonly>
                                <button type="button" mat-icon-button matSuffix (click)="fileInput.click();resetFile()">
                                    <mat-icon>attach_file</mat-icon>
                                </button>
                                <input hidden (change)="selectFile($event)" #fileInput type="file"
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                    id="file">
                            </mat-form-field>
                            <div class="col-md-3">
                                <button type="submit" class="  mat-button-gradient" mat-button>Upload Data
                                    Master</button>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="mat-button-gradient" (click)="downloadFile()"
                                    mat-button>Download
                                    Data Master</button>
                            </div>
                        </div>

                    </form>

                </mat-card>
            </mat-tab>

        </mat-tab-group>
    </mat-card>
</section>

<!-- Delete Company Dialog -->
<ng-template #deleteDialog>

    <mat-dialog-content>
        <div class="card-body" style="align-content: center;">
            <i class="material-icons" style="font-size: 80px; color: #FFBF00; margin-left: 30%;">
                error_outline
            </i>
            <h5 class="card-title" style="text-align: center;"><strong>Are You Sure?</strong></h5>
            <h6 class="card-title" style="text-align: center;">You won't able to revert this!</h6>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" style="margin-bottom: 0.5%;">
        <button mat-button matDialogClose color="primary" (click)="deleteMasterData()">Yes, delete it!</button>
        <button mat-button matDialogClose color="primary">Cancel</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #viewDialog>

    <mat-dialog-content>
        <div class="card-body" style="align-content: center;">
            <ion-card>
                <form [formGroup]="modalDescription" (ngSubmit)="addmodalDescription()">
                    <div class="row">
                        <h4>Add New Description</h4>
                        <mat-form-field class="form-group col-md-6">
                            <input type="text" matInput placeholder="Description" formControlName="descripption">
                            <mat-error>Description</mat-error>
                        </mat-form-field>

                        <mat-dialog-actions align="end" style="margin-bottom: 0.5%;">
                            <button matDialogClose type="submit" [disabled]="modalDescription.invalid" mat-button>Save
                            </button>
                            <button mat-button matDialogClose color="primary">Cancel</button>
                        </mat-dialog-actions>
                    </div>
                </form>
            </ion-card>
        </div>
    </mat-dialog-content>
</ng-template>