<section>
    <mat-card>
        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event,0)">
            <mat-tab label="Approve BOQ">
                <mat-card class="mt-2 min-height-500 ">

                    <!-- Header -->
                    <mat-card-header>
                        <mat-card-title>Approval</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <mat-card class="mt-2 min-height-500 ">
                        <form *ngIf="approvalForm" [formGroup]="approvalForm" (ngSubmit)="Approval()">
                            <div class="row">
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="cmpCode" placeholder="Select Company"
                                        (change)="onChangeCompany($event)">
                                        <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                            {{item.cmpCode}} {{item.cmpName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!approvalForm.get('cmpCode').valid && approvalForm.get('cmpCode').touched">
                                            <span *ngIf="approvalForm.get('cmpCode').errors['required']">Company
                                                is required</span>
                                        </span></span>
                                </div>
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="plantCode" placeholder="Select Plant"
                                        (change)="onChangePlant()">
                                        <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                            {{item.plantCode}} {{item.plantName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!approvalForm.get('plantCode').valid && approvalForm.get('plantCode').touched">
                                            <span *ngIf="approvalForm.get('plantCode').errors['required']">Plant
                                                is required</span>
                                        </span></span>
                                </div>
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="projCode" placeholder="Select Project"
                                        (change)="onChangeProject($event)">
                                        <ng-option *ngFor="let item of ProjectList" [value]="item.projCode">
                                            {{item.projCode}} {{item.projName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!approvalForm.get('projCode').valid && approvalForm.get('projCode').touched">
                                            <span *ngIf="approvalForm.get('projCode').errors['required']">Project
                                                is required</span>
                                        </span></span>
                                </div>
                            </div>

                        </form>
                        <div class=" table-responsive" [ngStyle]="{display: BOQList.length > 0  ? 'block' : 'none'}">
                            <!-- Table Filter -->
                            <!-- <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                         </mat-form-field> -->
                            <!-- Table -->
                            <mat-table [dataSource]="dataSource" matSort>
                                <!-- Update Company Column -->
                                <ng-container matColumnDef="action">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <!-- <mat-icon (click)="edit(row)" >update</mat-icon> -->
                                        <button mat-icon-button (click)="view(row);"
                                            [disabled]="BtnDisabled==1"><mat-icon>remove_red_eye</mat-icon></button>
                                        <button mat-icon-button
                                            (click)="downloadUplodedView(row)"><mat-icon>download</mat-icon></button>
                                        <button mat-icon-button
                                            (click)="ApproveBOQ(row,'BOQ')"><mat-icon>done</mat-icon></button>
                                        <button mat-icon-button
                                            (click)="DisApprove(row,'BOQ')"><mat-icon>close</mat-icon></button>
                                    </mat-cell>
                                </ng-container>
                                <!-- Company Code Column -->
                                <ng-container matColumnDef="cmpCode">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Company Code </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.cmpCode}} </mat-cell>
                                </ng-container>

                                <!-- Plant Code Column -->
                                <ng-container matColumnDef="plantCode">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Code </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.plantCode}} </mat-cell>
                                </ng-container>

                                <!-- BOQ Id Column -->
                                <ng-container matColumnDef="boqId">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> BOQ Id </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.boqId}} </mat-cell>
                                </ng-container>

                                <!-- Account Group Id Column -->
                                <ng-container matColumnDef="actGroupId">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Account Group Id
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.actGroupId}} </mat-cell>
                                </ng-container>

                                <!-- Project Code Column -->
                                <ng-container matColumnDef="projCode">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Project Code </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.projCode}} </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;">
                                </mat-row>
                            </mat-table>

                            <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                        </div>
                    </mat-card>


                </mat-card>
            </mat-tab>

            <mat-tab label="Approve Rate Analysis">
                <mat-card class="mt-2 min-height-500 ">

                    <!-- Header -->
                    <mat-card-header>
                        <mat-card-title>Approval</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <mat-card class="mt-2 min-height-500 ">
                        <form *ngIf="approvalForm" [formGroup]="approvalForm" (ngSubmit)="Approval()">
                            <div class="row">
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="cmpCode" placeholder="Select Company"
                                        (change)="onChangeCompany($event)">
                                        <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                            {{item.cmpCode}} {{item.cmpName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!approvalForm.get('cmpCode').valid && approvalForm.get('cmpCode').touched">
                                            <span *ngIf="approvalForm.get('cmpCode').errors['required']">Company
                                                is required</span>
                                        </span></span>
                                </div>

                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="plantCode" placeholder="Select Plant"
                                        (change)="onChangePlant()">
                                        <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                            {{item.plantCode}} {{item.plantName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!approvalForm.get('plantCode').valid && approvalForm.get('plantCode').touched">
                                            <span *ngIf="approvalForm.get('plantCode').errors['required']">Plant
                                                is required</span>
                                        </span></span>
                                </div>

                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="projCode" placeholder="Select Project"
                                        (change)="onChangeProject($event)">
                                        <ng-option *ngFor="let item of ProjectList" [value]="item.projCode">
                                            {{item.projCode}} {{item.projName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!approvalForm.get('projCode').valid && approvalForm.get('projCode').touched">
                                            <span *ngIf="approvalForm.get('projCode').errors['required']">Project
                                                is required</span>
                                        </span></span>

                                </div>
                            </div>

                        </form>
                        <div class=" table-responsive"
                            [ngStyle]="{display: RateAnalysisList.length > 0  ? 'block' : 'none'}">
                            <!-- Table Filter -->
                            <!-- <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                         </mat-form-field> -->
                            <!-- Table -->
                            <mat-table [dataSource]="dataSource" matSort>
                                <!-- Update Company Column -->
                                <ng-container matColumnDef="action">

                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <ng-container *ngIf="row.isApproved==2">
                                            <!-- <mat-icon (click)="edit(row)" >update</mat-icon> -->
                                            <!-- <button mat-icon-button (click)="view(row);"
                                            [disabled]="BtnDisabled==1"><mat-icon>remove_red_eye</mat-icon></button>
                                        <button mat-icon-button
                                            (click)="downloadUplodedView(row)"><mat-icon>download</mat-icon></button> -->
                                            <button mat-icon-button
                                                (click)="ApproveBOQ(row,'RateAnalysis')"><mat-icon>done</mat-icon></button>
                                            <button mat-icon-button
                                                (click)="DisApprove(row,'RateAnalysis')"><mat-icon>close</mat-icon></button>
                                        </ng-container>
                                        <ng-container *ngIf="row.isApproved==1">
                                            <button mat-icon-button> <mat-icon title="Approved"
                                                    style="color:hsl(127, 95%, 54%) !important">done_outline</mat-icon></button>
                                        </ng-container>
                                    </mat-cell>
                                </ng-container>
                                <!-- Company Code Column -->
                                <ng-container matColumnDef="cmpCode">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Company Code </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.cmpName}} </mat-cell>
                                </ng-container>

                                <!-- Plant Code Column -->
                                <ng-container matColumnDef="plantCode">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Code </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.plantName}} </mat-cell>
                                </ng-container>

                                <!-- BOQ Id Column -->
                                <!-- <ng-container matColumnDef="boqId">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> BOQ Id </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.boqId}} </mat-cell>
                                </ng-container> -->

                                <!-- Project Code Column -->
                                <ng-container matColumnDef="projCode">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Project Code </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.projName}} </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;">
                                </mat-row>
                            </mat-table>

                            <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                        </div>
                    </mat-card>
                </mat-card>
            </mat-tab>
            
            <mat-tab label="IDC Analysis">
                <mat-card class="mt-2 min-height-500 ">

                    <!-- Header -->
                    <mat-card-header>
                        <mat-card-title>Approval</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <mat-card class="mt-2 min-height-500 ">
                        <form *ngIf="approvalForm" [formGroup]="approvalForm" (ngSubmit)="Approval()">
                            <div class="row">
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="cmpCode" placeholder="Select Company"
                                        (change)="onChangeCompany($event)">
                                        <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                            {{item.cmpCode}} {{item.cmpName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!approvalForm.get('cmpCode').valid && approvalForm.get('cmpCode').touched">
                                            <span *ngIf="approvalForm.get('cmpCode').errors['required']">Company
                                                is required</span>
                                        </span></span>
                                </div>
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="plantCode" placeholder="Select Plant"
                                        (change)="onChangePlant()">
                                        <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                            {{item.plantCode}} {{item.plantName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!approvalForm.get('plantCode').valid && approvalForm.get('plantCode').touched">
                                            <span *ngIf="approvalForm.get('plantCode').errors['required']">Plant
                                                is required</span>
                                        </span></span>
                                </div>

                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="projCode" placeholder="Select Project"
                                        (change)="onChangeProject($event)">
                                        <ng-option *ngFor="let item of ProjectList" [value]="item.projCode">
                                            {{item.projCode}} {{item.projName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!approvalForm.get('projCode').valid && approvalForm.get('projCode').touched">
                                            <span *ngIf="approvalForm.get('projCode').errors['required']">Project
                                                is required</span>
                                        </span></span>

                                </div>
                            </div>

                        </form>
                        <div class=" table-responsive" [ngStyle]="{display: IDCList.length > 0  ? 'block' : 'none'}">
                            <!-- Table Filter -->
                            <!-- <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                         </mat-form-field> -->
                            <!-- Table -->
                            <mat-table [dataSource]="dataSource" matSort>
                                <!-- Update Company Column -->
                                <ng-container matColumnDef="action">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <ng-container *ngIf="row.isApproved==2">
                                            <!-- <mat-icon (click)="edit(row)" >update</mat-icon> -->
                                            <!-- <button mat-icon-button (click)="view(row);"
                                            [disabled]="BtnDisabled==1"><mat-icon>remove_red_eye</mat-icon></button>
                                        <button mat-icon-button
                                            (click)="downloadUplodedView(row)"><mat-icon>download</mat-icon></button> -->
                                            <button mat-icon-button
                                                (click)="ApproveBOQ(row,'IDCAnalysis')"><mat-icon>done</mat-icon></button>
                                            <button mat-icon-button
                                                (click)="DisApprove(row,'IDCAnalysis')"><mat-icon>close</mat-icon></button>
                                        </ng-container>
                                        <ng-container *ngIf="row.isApproved==1">
                                            <button mat-icon-button> <mat-icon title="Approved"
                                                    style="color:hsl(127, 95%, 54%) !important">done_outline</mat-icon></button>
                                        </ng-container>

                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="cmpCode">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Company Code </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> <span>{{row.cmpCode}} </span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="cmpName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> <span>{{row.cmpName}} </span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="plantName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Plant Name
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> <span>{{row.plantName}} </span>
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="projName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> <span>{{row.projName}} </span>
                                    </mat-cell>
                                </ng-container>



                                <mat-header-row *matHeaderRowDef="displayedColumnss"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumnss;">
                                </mat-row>
                            </mat-table>

                            <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                        </div>
                    </mat-card>
                </mat-card>
            </mat-tab>

        </mat-tab-group>
    </mat-card>
</section>






<!-- View Dialog -->
<ng-template #viewDialog>

    <mat-dialog-content>

        <mat-card>
            <button mat-icon-button color="warn" class="float-right" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
            </button>
            <!-- Header -->
            <mat-card-header>
                <mat-card-title>BOQ Details View</mat-card-title>
            </mat-card-header>

            <mat-divider class="mt-2"></mat-divider>


            <!-- Container -->
            <div class="table-responsive">

                <!-- Table Filter -->
                <!-- <mat-form-field class="col-md-3 float-right filter-class">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field> -->
                <!-- Table -->
                <mat-table [dataSource]="viewDataSource" matSort class="mt-3">

                    <!--actGroupId Code Column -->
                    <ng-container matColumnDef="actGroupId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ActGroupId Code </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.actGroupId}} </mat-cell>
                    </ng-container>

                    <!--actSeqNo Code Column -->
                    <ng-container matColumnDef="actSeqNo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ActSeqNo </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.actSeqNo}} </mat-cell>
                    </ng-container>

                    <!-- displaySequence Column -->
                    <ng-container matColumnDef="displaySequence">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> DisplaySequence </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.displaySequence}} </mat-cell>
                    </ng-container>

                    <!-- actDesc Column -->
                    <ng-container matColumnDef="actDesc">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ActDesc </mat-header-cell>
                        <mat-cell *matCellDef="let row" class=" truncate-cell"> {{row.actDesc}} </mat-cell>
                    </ng-container>

                    <!-- quntity Column -->
                    <ng-container matColumnDef="quntity">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Quntity </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.quntity}} </mat-cell>
                    </ng-container>

                    <!-- displayUnit Column -->
                    <ng-container matColumnDef="displayUnit">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> DisplayUnit </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.displayUnit}} </mat-cell>
                    </ng-container>

                    <!-- rate Column -->
                    <ng-container matColumnDef="rate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Rate </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.rate}} </mat-cell>
                    </ng-container>

                    <!-- rate Column -->
                    <ng-container matColumnDef="amount">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.amount}} </mat-cell>
                    </ng-container>

                    <!-- subSequence -->


                    <mat-header-row *matHeaderRowDef="displayedColumnsview"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumnsview;">
                    </mat-row>
                </mat-table>

                <!-- <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator> -->
            </div>



        </mat-card>
    </mat-dialog-content>

</ng-template>

<ng-template #RemarkDialog>

    <mat-dialog-content>

        <mat-card>
            <button mat-icon-button color="warn" class="float-right" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
            </button>
            <!-- Header -->
            <mat-card-header>
                <mat-card-title>BOQ Approve/Disapprove Remark</mat-card-title>
            </mat-card-header>

            <mat-divider class="mt-2"></mat-divider>
            <form *ngIf="remarkForm" [formGroup]="remarkForm" (ngSubmit)="SubmitArpprovalOrDisapproval()">
                <mat-form-field class="col-md-12 form-group">
                    <input type="text" matInput placeholder="Remark" formControlName="remark" />
                    <mat-error>Please Provide Remark</mat-error>
                </mat-form-field>

                <div class="row">
                    <div class="col-md-12">
                        <button [disabled]="remarkForm.invalid" type="submit" [mat-dialog-close]="true"
                            class="mat-button-gradient-green" mat-button>Submit</button>
                    </div>
                </div>

            </form>

        </mat-card>
    </mat-dialog-content>

</ng-template>