<section>
    <mat-card>
        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event.index,0)">
            
            <mat-tab label="Create IDC Analysis">
                <mat-card class="mb-5 min-height-500">
                    <mat-card-header>
                        <mat-card-title *ngIf="isCreate==0">Add IDC Analysis</mat-card-title>
                        <mat-card-title *ngIf="isCreate==1">Update IDC Analysis</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>

                    <form *ngIf="IDCmaster" [formGroup]="IDCmaster">
                        <div class="row">
                            <div class="col-md-3 form-group ">
                                <ng-select formControlName="cmpCode" placeholder="Select Company"
                                    (change)="OnChangeCompany($event)">
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!IDCmaster.get('cmpCode').valid && IDCmaster.get('cmpCode').touched">
                                        <span *ngIf="IDCmaster.get('cmpCode').errors['required']">Company
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="col-md-3 form-group ">
                                <ng-select formControlName="plantCode" placeholder="Select Plant"
                                    (change)="onChangePlant(IDCmaster.value.cmpCode,IDCmaster.value.plantCode)">
                                    <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                        {{item.plantCode}} {{item.plantName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!IDCmaster.get('plantCode').valid && IDCmaster.get('plantCode').touched">
                                        <span *ngIf="IDCmaster.get('plantCode').errors['required']">Plant
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="col-md-3 form-group ">
                                <ng-select formControlName="projCode" placeholder="Select Project">
                                    <ng-option *ngFor="let item of ProjectList" [value]="item.projCode">
                                        {{item.projCode}} {{item.projName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!IDCmaster.get('projCode').valid && IDCmaster.get('projCode').touched">
                                        <span *ngIf="IDCmaster.get('projCode').errors['required']">Project
                                            is required</span>
                                    </span></span>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="mat-button-gradient-green" mat-button
                                        *ngIf="isCreate==0 || isCreate==1" (click)="addIDCActivity()">Add IDC Activity
                                    </button>
                                </div>
                            </div>

                            <!-- subHead Form Aarray -->
                            <mat-accordion class="row" #accordion="matAccordion" multi>
                                <div formArrayName="subHead">
                                    <div *ngFor="let IDC of IDCActivity()['controls'];  let i = index">
                                        <div [formGroupName]="i" class="mb-3">

                                            <mat-expansion-panel #mapanel="matExpansionPanel">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="row">
                                                        <div class="col-md-11">
                                                            IDC Activity
                                                        </div>
                                                        <div class="col-md-1">
                                                            <mat-icon *ngIf="isCreate==0 || isCreate==1"
                                                                class="mat-icon-delete" title="Delete"
                                                                (click)="removeIDCActivity(i)">delete_outline</mat-icon>
                                                        </div>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-divider></mat-divider>

                                                <div class="row">

                                                    <div class="form-group col-md-3">
                                                        <ng-select formControlName="idcActivityID"
                                                            (change)="onChangeActivityIDList($event,i);"
                                                            placeholder="Select IDC Group Description">
                                                            <ng-option *ngFor="let item of IDCActivityIDList"
                                                                [value]="item.idcActivityID">
                                                                {{item.idcActivityID}} {{item.description}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <span style="color:#f44336"><span
                                                                *ngIf="!IDC.get('idcActivityID').valid && IDC.get('idcActivityID').touched">
                                                                <span
                                                                    *ngIf="IDC.get('idcActivityID').errors['required']">IDC
                                                                    group description
                                                                    is required</span>
                                                            </span></span>
                                                    </div>


                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button type="button" *ngIf="isCreate==0 || isCreate==1"
                                                            class="mat-button-gradient-green" mat-button
                                                            (click)="addIDCSubHead(i)">Add IDC Activity SubGroup
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- idcDetails Form Array -->
                                                <div formArrayName="idcDetails">
                                                    <div
                                                        *ngFor="let subMate of IDCSubHead(i)['controls']; let j = index">
                                                        <div [formGroupName]="j" class="mb-3">

                                                            <mat-expansion-panel #mapanel="matExpansionPanel">
                                                                <mat-expansion-panel-header>
                                                                    <mat-panel-title class="row">
                                                                        <div class="col-md-11">
                                                                            IDC Activity SubGroup
                                                                        </div>
                                                                        <div class="col-md-1">
                                                                            <mat-icon class="mat-icon-delete"
                                                                                *ngIf="isCreate==0 || isCreate==1"
                                                                                title="Delete"
                                                                                (click)="removeIDCSubHead(i,j)">delete_outline</mat-icon>
                                                                        </div>
                                                                    </mat-panel-title>
                                                                </mat-expansion-panel-header>

                                                                <mat-divider></mat-divider>

                                                                <div class="row">
                                                                    <div class="form-group col-md-3">
                                                                        <ng-select formControlName="idcSubHeadID"
                                                                            (change)="onChangeSubActivityIDList($event,i,j)"
                                                                            placeholder="Select IDC SubHead Description">
                                                                            <ng-option
                                                                                *ngFor="let item of IDCSubHeadIDList[i]"
                                                                                [value]="item.idcSubHeadID">
                                                                                {{item.idcSubHeadID}}
                                                                                {{item.description}}
                                                                            </ng-option>
                                                                        </ng-select>
                                                                        <span style="color:#f44336"><span
                                                                                *ngIf="!subMate.get('idcSubHeadID').valid && subMate.get('idcSubHeadID').touched">
                                                                                <span
                                                                                    *ngIf="subMate.get('idcSubHeadID').errors['required']">IDC
                                                                                    Subhead
                                                                                    is required</span>
                                                                            </span></span>
                                                                    </div>


                                                                    <div class="form-group col-md-3"
                                                                        *ngIf="subMate.get('idcSubHeadID').value ">
                                                                        <ng-select formControlName="idcDetailsID"
                                                                            placeholder="Select IDC Details Description">
                                                                            <ng-option
                                                                                *ngFor="let item of idcDetailsList[i][j]"
                                                                                [value]="item.idcDetailsID">
                                                                                {{item.idcDetailsID}}
                                                                                {{item.description}}
                                                                            </ng-option>
                                                                        </ng-select>
                                                                        <span style="color:#f44336"><span
                                                                                *ngIf="!subMate.get('idcDetailsID').valid && subMate.get('idcDetailsID').touched">
                                                                                <span
                                                                                    *ngIf="subMate.get('idcDetailsID').errors['required']">IDC
                                                                                    Details
                                                                                    is required</span>
                                                                            </span></span>
                                                                    </div>
                                                                    <div class="col-md-3 form-group ">
                                                                        <ng-select formControlName="grouptype"
                                                                            placeholder="Group Type"
                                                                            (change)="getMasterRates(IDCmaster.value.cmpCode,IDCmaster.value.plantCode,IDCmaster.value.projCode,$event,i,j)">
                                                                            <ng-option
                                                                                *ngFor="let item of grouptypeList"
                                                                                [value]="item">
                                                                                {{item}}
                                                                            </ng-option>
                                                                        </ng-select>
                                                                        <span style="color:#f44336"><span
                                                                                *ngIf="!subMate.get('grouptype').valid && subMate.get('grouptype').touched">
                                                                                <span
                                                                                    *ngIf="subMate.get('grouptype').errors['required']">Group
                                                                                    type
                                                                                    is required</span>
                                                                            </span></span>
                                                                    </div>

                                                                    <ng-select class="col-md-3 form-group "
                                                                        *ngIf="IDCSubHead(i)['controls'][j].value.grouptype=='Material'   "
                                                                        formControlName="materialDetailID"
                                                                        placeholder="Material ID"
                                                                        (change)="patchMasterRate($event,IDCSubHead(i)['controls'][j].value.grouptype,i,j)">
                                                                        <ng-option *ngFor="let item of MaterialList"
                                                                            [value]="item.materialDetailID">
                                                                            {{item.materialDetailID}}
                                                                            {{item.descripption}}
                                                                        </ng-option>
                                                                    </ng-select>

                                                                    <ng-select class="col-md-3 form-group "
                                                                        *ngIf="IDCSubHead(i)['controls'][j].value.grouptype=='Labour'  "
                                                                        formControlName="labourDetailsID"
                                                                        placeholder="Labour ID"
                                                                        (change)="patchMasterRate($event,IDCSubHead(i)['controls'][j].value.grouptype,i,j)">
                                                                        <ng-option *ngFor="let item of LabourList"
                                                                            [value]="item.labourDetailsID">
                                                                            {{item.labourDetailsID}}
                                                                            {{item.descripption}}
                                                                        </ng-option>
                                                                    </ng-select>

                                                                    <ng-select class="col-md-3 form-group "
                                                                        *ngIf="IDCSubHead(i)['controls'][j].value.grouptype=='Apply Supply' "
                                                                        formControlName="applySupplyDetailsID"
                                                                        placeholder="Apply Supply ID"
                                                                        (change)="patchMasterRate($event,IDCSubHead(i)['controls'][j].value.grouptype,i,j)">
                                                                        <ng-option *ngFor="let item of ApplySupplyList"
                                                                            [value]="item.applySupplyDetailsID">
                                                                            {{item.applySupplyDetailsID}}
                                                                            {{item.descripption}}
                                                                        </ng-option>
                                                                    </ng-select>


                                                                    <mat-form-field class="col-md-3 form-group ">
                                                                        <input type="text" matInput
                                                                            placeholder="Standard Unit Code"
                                                                            formControlName="standardrUnitCode"
                                                                            readonly />
                                                                    </mat-form-field>

                                                                    <mat-form-field class="col-md-3 form-group ">
                                                                        <input type="text" matInput placeholder="Rate"
                                                                            formControlName="rate" readonly />
                                                                    </mat-form-field>

                                                                    <mat-form-field class="col-md-3 form-group ">
                                                                        <input type="text" matInput
                                                                            placeholder="Quantity"
                                                                            formControlName="quantity" />
                                                                    </mat-form-field>

                                                                    <mat-form-field class="col-md-3 form-group ">
                                                                        <input type="text" matInput placeholder="Days"
                                                                            formControlName="days" />
                                                                    </mat-form-field>

                                                                    <mat-form-field class="col-md-3 form-group ">
                                                                        <input type="text" matInput placeholder="Month"
                                                                            formControlName="months" />
                                                                    </mat-form-field>



                                                                </div>
                                                            </mat-expansion-panel>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </mat-accordion>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <button type="button" class="mat-button-gradient" (click)="addIDCMaster()"
                                    *ngIf="isCreate==0" mat-button>Save
                                    IDC Master</button>
                                <button type="button" class="mat-button-gradient" (click)="addIDCMaster()"
                                    *ngIf="isCreate==1" mat-button>Update
                                    IDC Master</button>
                            </div>
                        </div>
                    </form>
                </mat-card>
            </mat-tab>            
            
            <mat-tab label="View IDC Analysis">
                <mat-card class="mt-2 min-height-500">
                    <mat-card-header>
                        <mat-card-title>View IDC Analysis
                        </mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <form *ngIf="IDCViewmaster" [formGroup]="IDCViewmaster" (ngSubmit)="ADDIDCViewmaster()">
                        <div class="row">
                            <div class="col-md-3 form-group ">
                                <ng-select (change)="OnChangeCompany($event)" formControlName="cmpCode"
                                    placeholder="Select Company">
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!IDCViewmaster.get('cmpCode').valid && IDCViewmaster.get('cmpCode').touched">
                                        <span *ngIf="IDCViewmaster.get('cmpCode').errors['required']">Company
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="col-md-3 form-group "> <ng-select
                                    (change)="onChangePlant(IDCViewmaster.value.cmpCode,$event)"
                                    formControlName="plantCode" placeholder="Select Plant">

                                    <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                        {{item.plantCode}} {{item.plantName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!IDCViewmaster.get('plantCode').valid && IDCViewmaster.get('plantCode').touched">
                                        <span *ngIf="IDCViewmaster.get('plantCode').errors['required']">Plant
                                            is required</span>
                                    </span></span>
                            </div>
                            <div class="col-md-3 form-group ">
                                <ng-select formControlName="projCode"
                                    (change)="OnChangeProject(IDCViewmaster.value.cmpCode,IDCViewmaster.value.plantCode,$event)"
                                    placeholder="Select Project">
                                    <ng-option *ngFor="let item of ProjectList" [value]="item.projCode">
                                        {{item.projCode}} {{item.projName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!IDCViewmaster.get('projCode').valid && IDCViewmaster.get('projCode').touched">
                                        <span *ngIf="IDCViewmaster.get('projCode').errors['required']">Project
                                            is required</span>
                                    </span></span>
                            </div>
                        </div>
                    </form>

                    <div class=" table-responsive"
                        [ngStyle]="{display: IDCList?.length >0 && dataSource ? 'block' : 'none'}">

                        <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>

                        <mat-table [dataSource]="dataSource" matSort>

                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <ng-container *ngIf="row.isApproved==0">
                                        <mat-icon (click)="editView(row,'edit')" title="Edit">update </mat-icon>
                                        <mat-icon (click)="editView(row,'view')" title="View">remove_red_eye</mat-icon>
                                        <mat-icon (click)="sendToApproval(row)" title="Send To Approval">send</mat-icon>
                                        <!-- <button mat-icon-button (click)="download(row)"><mat-icon
                                                title="Download">download</mat-icon></button> -->
                                    </ng-container>
                                    <ng-container *ngIf="row.isApproved==1">
                                        <button mat-icon-button> <mat-icon title="Approved"
                                                style="color:hsl(127, 95%, 54%) !important">done_outline</mat-icon></button>
                                        <!-- <button mat-icon-button (click)="download(row)"><mat-icon
                                                title="Download">download</mat-icon></button> -->
                                    </ng-container>
                                    <!-- <mat-icon (click)="editMasterData(row,null)" title="Edit">update</mat-icon>
                                    <mat-icon (click)="editMasterData(row,'view')"
                                        title="View">remove_red_eye</mat-icon>
                                    <mat-icon (click)="deleteMaster(row)" title="Delete">delete</mat-icon> -->
                                </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="cmpCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Company Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.cmpCode}} </span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="cmpName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.cmpName}} </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="plantName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.plantName}} </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="projName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.projName}} </span>
                                </mat-cell>
                            </ng-container>



                            <ng-container matColumnDef="idcActivityID">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> idcActivityID </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.idcActivityID}} </span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="standardrUnitCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> standardrUnitCode </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.standardrUnitCode}} </span>
                                </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="quantity">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> quantity </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.quantity}} </span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="days">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> days </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.days}} </span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="months">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> months </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.months}} </span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="rate">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> rate </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <span>{{row.rate}} </span>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                    </div>
                </mat-card>
            </mat-tab>
           

        </mat-tab-group>
    </mat-card>
</section>

<ng-template #viewDialog>

    <mat-dialog-content>
        <div class="card-body" style="align-content: center;">
            <ion-card>
                <form [formGroup]="modalDescription" (ngSubmit)="addmodalDescription()">
                    <div class="row">
                        <h4>Add New Description</h4>
                        <mat-form-field class="form-group col-md-6">
                            <input type="text" matInput placeholder="Description" formControlName="descripption">
                            <mat-error>Descripption</mat-error>
                        </mat-form-field>

                        <mat-dialog-actions align="end" style="margin-bottom: 0.5%;">
                            <button matDialogClose type="submit" [disabled]="modalDescription.invalid" mat-button>Save
                            </button>
                            <button mat-button matDialogClose color="primary">Cancel</button>
                        </mat-dialog-actions>
                    </div>
                </form>
            </ion-card>
        </div>
    </mat-dialog-content>
</ng-template>