<section>
    <!-- Mat Card -->
    <mat-card>
        <!-- Mat Tab Group -->
        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event,0)">
            <!-- Mat Tab -->
            
            <mat-tab label="Create Rate Analysis">
                <!-- Mat Card -->
                <mat-card class="mt-2 min-height-500">
                    <!-- Mat Card Header-->
                    <mat-card-header>
                        <mat-card-title>Rate Analysis Creation</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <!-- Mat Card Content -->
                    <mat-card-content>
                        <form *ngIf="prestartestimation" [formGroup]="prestartestimation"
                            (ngSubmit)="AddRateAnalysis()">
                            <div class="row">
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="cmpCode" placeholder="Select Company"
                                        (change)="OnChangeCompany($event)">
                                        <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                            {{item.cmpCode}} {{item.cmpName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!prestartestimation.get('cmpCode').valid && prestartestimation.get('cmpCode').touched">
                                            <span *ngIf="prestartestimation.get('cmpCode').errors['required']">Company
                                                is required</span>
                                        </span></span>
                                </div>
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="plantCode" placeholder="Select Plant"
                                        (change)="OnChangePlant(prestartestimation.value.cmpCode,$event)">
                                        <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                            {{item.plantCode}} {{item.plantName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!prestartestimation.get('plantCode').valid && prestartestimation.get('plantCode').touched">
                                            <span *ngIf="prestartestimation.get('plantCode').errors['required']">Plant
                                                is required</span>
                                        </span></span>
                                </div>

                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="projCode" placeholder="Select Project"
                                        (change)="OnChangeProject(prestartestimation.value.cmpCode,prestartestimation.value.plantCode,$event)">
                                        <ng-option *ngFor="let item of ProjectList" [value]="item.projCode">
                                            {{item.projCode}} {{item.projName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!prestartestimation.get('projCode').valid && prestartestimation.get('projCode').touched">
                                            <span *ngIf="prestartestimation.get('projCode').errors['required']">Project
                                                is required</span>
                                        </span></span>

                                </div>

                                <div formArrayName="header" *ngIf="showSub">
                                    <div *ngFor="let element of headerArray['controls']; let i=index">
                                        <div [formGroupName]="i" class="mb-3">
                                            <mat-card>
                                            <div class="row">
                                                <div class="col-md-3 form-group ">
                                                    <ng-select formControlName="actGroupId" placeholder="BOQ Head"
                                                        (change)="OnChangeBOQHead($event,i)">
                                                        <ng-option *ngFor="let item of BOQList"
                                                            [value]="item.actGroupId">
                                                            {{item.actGroupId}} {{item.actGroupDesc}}
                                                        </ng-option>
                                                    </ng-select>

                                                    <span style="color:#f44336"><span
                                                            *ngIf="!element.get('actGroupId').valid && element.get('actGroupId').touched">
                                                            <span
                                                                *ngIf="element.get('actGroupId').errors['required']">BOQ
                                                                Head
                                                                is required</span>
                                                        </span></span>
                                                </div>
                                                <div class="col-md-9 form-group ">
                                                    <ng-select formControlName="actSeqNo"
                                                        (change)="OnChangeBOQSubHead($event,i)" placeholder="Sub Head">
                                                        <ng-option *ngFor="let item of jsonsublist[i]"
                                                            [value]="item.nActSeqNo">
                                                            <span [title]="item.actDesc"> {{item.nActSeqNo}}
                                                                {{item.actDesc}}</span>
                                                        </ng-option>
                                                    </ng-select>
                                                    <span style="color:#f44336"><span
                                                            *ngIf="!element.get('actSeqNo').valid && element.get('actSeqNo').touched">
                                                            <span *ngIf="element.get('actSeqNo').errors['required']">Sub
                                                                Head
                                                                is required</span>
                                                        </span></span>
                                                </div>

                                                <mat-form-field class="col-md-3 form-group ">
                                                    <input type="text" matInput placeholder="Tender Quantity" readonly
                                                        formControlName="quntity" />
                                                    <mat-error *ngIf="myErrorArray('quntity', 'required',i)">Tender
                                                        quantity is required</mat-error>
                                                    <mat-error *ngIf="myErrorArray('quntity', 'pattern',i)">Please
                                                        provide
                                                        a valid tender quantity</mat-error>
                                                </mat-form-field>

                                                <mat-form-field class="col-md-3 form-group ">
                                                    <input type="text" matInput placeholder="Rate" readonly
                                                        formControlName="rate" />
                                                    <mat-error *ngIf="myErrorArray('rate', 'required',i)">Rate
                                                        is required</mat-error>
                                                    <mat-error *ngIf="myErrorArray('rate', 'pattern',i)">Please
                                                        provide
                                                        a valid rate</mat-error>
                                                </mat-form-field>

                                                <mat-form-field class="col-md-3 form-group ">
                                                    <input type="text" matInput placeholder="Unit"
                                                        formControlName="boqUnitCode" readonly />
                                                    <mat-error *ngIf="myErrorArray('boqUnitCode', 'required',i)">Unit
                                                        is required</mat-error>
                                                    <mat-error *ngIf="myErrorArray('boqUnitCode', 'pattern',i)">Please
                                                        provide
                                                        a valid unit</mat-error>
                                                </mat-form-field>


                                                <mat-form-field class="col-md-3 form-group ">
                                                    <input type="text" matInput placeholder="Material Total"
                                                        formControlName="materialAmt" readonly />

                                                </mat-form-field>
                                                <mat-form-field class="col-md-3 form-group ">
                                                    <input type="text" matInput placeholder="Labour Total"
                                                        formControlName="labourAmt" readonly />

                                                </mat-form-field>
                                                <mat-form-field class="col-md-3 form-group ">
                                                    <input type="text" matInput placeholder="Apply Supply Total"
                                                        formControlName="applysupplyAmt" readonly />

                                                </mat-form-field>
                                                <!-- <mat-form-field class="col-md-3 form-group ">
                                                    <input type="text" matInput placeholder="Miscellaneous Total"
                                                        formControlName="miscellaneousAmt" readonly />

                                                </mat-form-field> -->
                                                <mat-form-field class="col-md-3 form-group ">
                                                    <input type="text" matInput placeholder="Total"
                                                        formControlName="totalAmt" readonly />

                                                </mat-form-field>

                                            </div>
                                            <mat-accordion class="row">
                                                <div formArrayName="details">
                                                    <div
                                                        *ngFor="let element of DetailsArray(i)['controls']; let j=index">

                                                        <div [formGroupName]="j" class="mb-3">

                                                            <mat-expansion-panel>
                                                                <mat-expansion-panel-header>
                                                                    <mat-panel-title class="row">
                                                                        <div class="col-md-11">
                                                                            Details
                                                                        </div>
                                                                        <div class="col-md-1">
                                                                            <mat-icon
                                                                                *ngIf="DetailsArray(i).length > 1 && isCreate==0 || DetailsArray(i).length > 1 && isCreate==1"
                                                                                class="mat-icon-delete"
                                                                                (click)="removeDetailsArray(i,j)">delete_outline</mat-icon>
                                                                        </div>
                                                                    </mat-panel-title>

                                                                </mat-expansion-panel-header>
                                                                <mat-divider></mat-divider>
                                                                <div class="row">
                                                                    <div class="col-md-3 form-group ">
                                                                        <ng-select formControlName="groupType"
                                                                            placeholder="Group Type"
                                                                            (change)="getMasterRates(prestartestimation.value.cmpCode,prestartestimation.value.plantCode,prestartestimation.value.projCode,$event,i,j)">
                                                                            <ng-option *ngFor="let item of GroupType"
                                                                                [value]="item">
                                                                                {{item}}
                                                                            </ng-option>
                                                                        </ng-select>
                                                                        <span style="color:#f44336"><span
                                                                                *ngIf="!element.get('groupType').valid && element.get('groupType').touched">
                                                                                <span
                                                                                    *ngIf="element.get('groupType').errors['required']">Group
                                                                                    type
                                                                                    is required</span>
                                                                            </span></span>
                                                                    </div>
                                                                    <ng-select class="col-md-3 form-group "
                                                                        *ngIf="DetailsArray(i)['controls'][j].value.groupType=='Material' "
                                                                        formControlName="materialDetailID"
                                                                        placeholder="Material ID"
                                                                        (change)="patchMasterRate($event,DetailsArray(i)['controls'][j].value.groupType,i,j)">
                                                                        <ng-option *ngFor="let item of MaterialList"
                                                                            [value]="item.materialDetailID">
                                                                            {{item.materialDetailID}}
                                                                            {{item.descripption}}
                                                                        </ng-option>
                                                                    </ng-select>

                                                                    <ng-select class="col-md-3 form-group "
                                                                        *ngIf="DetailsArray(i)['controls'][j].value.groupType=='Labour'"
                                                                        formControlName="labourDetailsID"
                                                                        placeholder="Labour ID"
                                                                        (change)="patchMasterRate($event,DetailsArray(i)['controls'][j].value.groupType,i,j)">
                                                                        <ng-option *ngFor="let item of LabourList"
                                                                            [value]="item.labourDetailsID">
                                                                            {{item.labourDetailsID}}
                                                                            {{item.descripption}}
                                                                        </ng-option>
                                                                    </ng-select>

                                                                    <ng-select class="col-md-3 form-group "
                                                                        *ngIf="DetailsArray(i)['controls'][j].value.groupType=='Apply Supply'"
                                                                        formControlName="applySupplyDetailsID"
                                                                        placeholder="Labour ID"
                                                                        (change)="patchMasterRate($event,DetailsArray(i)['controls'][j].value.groupType,i,j)">
                                                                        <ng-option *ngFor="let item of ApplySupplyList"
                                                                            [value]="item.applySupplyDetailsID">
                                                                            {{item.applySupplyDetailsID}}
                                                                            {{item.descripption}}
                                                                        </ng-option>
                                                                    </ng-select>



                                                                    <mat-form-field class="col-md-3 ">
                                                                        <input type="text" matInput placeholder="Unit"
                                                                            formControlName="unitCode" readonly
                                                                            [ngClass]="{ 'is-invalid': submitted &&  details.get('unitCode')?.invalid }" />
                                                                        <mat-error>Unit is
                                                                            required</mat-error>
                                                                    </mat-form-field>

                                                                    <mat-form-field class="col-md-3 ">
                                                                        <input type="text" matInput placeholder="Rate"
                                                                            formControlName="rate" readonly
                                                                            [ngClass]="{ 'is-invalid': submitted &&  details.get('rate')?.invalid }" />
                                                                        <mat-error>Rate is
                                                                            required</mat-error>
                                                                    </mat-form-field>

                                                                    <mat-form-field class="col-md-3 ">
                                                                        <input type="text" matInput
                                                                            placeholder="Constant"
                                                                            formControlName="constant"
                                                                            (change)="patchSingleTotal(i,j)"
                                                                            [ngClass]="{ 'is-invalid': submitted &&  details.get('constant')?.invalid }" />
                                                                        <mat-error>Constant is
                                                                            required</mat-error>
                                                                    </mat-form-field>

                                                                    <mat-form-field class="col-md-3 ">
                                                                        <input type="text" matInput placeholder="Amount"
                                                                            formControlName="amount" readonly
                                                                            [ngClass]="{ 'is-invalid': submitted &&  details.get('amount')?.invalid }" />
                                                                        <mat-error>Amount is
                                                                            required</mat-error>
                                                                    </mat-form-field>
                                                                </div>

                                                            </mat-expansion-panel>
                                                        </div>
                                                    </div>


                                                </div>
                                            </mat-accordion>
                                            <div class="row mt-4">
                                                <div class="col-md-12">
                                                    <button type="button" *ngIf="isCreate==0 || isCreate==1"
                                                        class="mat-button-gradient-green" mat-button
                                                        (click)="addDetailsArray(i,j)">Add
                                                        Details</button>
                                                </div>
                                            </div>
                                        </mat-card>
                                            <div class="row mt-4">
                                               
                                                <div class="col-md-11">
                                                    <button type="button" class="mat-button-gradient-green" mat-button
                                                        *ngIf="isCreate==0 || isCreate==1" (click)="addHeadArray()">Add
                                                        Head</button>
                                                </div>
                                                <div class="col-md-1">
                                                    <mat-icon class="mat-icon-delete"
                                                        *ngIf=" headerArray.length > 1 && isCreate==0 || headerArray.length > 1 && isCreate==1"
                                                        (click)="removeheaderArray(i)">delete_outline</mat-icon>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <button type="submit" class="mat-button-gradient" mat-button
                                        *ngIf="isCreate==0 ">Save Rate Analysis</button>
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==1"
                                        mat-button>Update Rate Analysis</button>
                                </div>
                            </div>
                           
                        </form>
                    </mat-card-content>
                </mat-card>
            </mat-tab>          
            
            <mat-tab label="View Rate Analysis">
                <!-- Mat Card -->
                <mat-card class="mt-2 min-height-500">
                    <!-- Header -->
                    <mat-card-header>
                        <mat-card-title>Rate Analysis Details</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <form *ngIf="prestartestimationView" [formGroup]="prestartestimationView"
                        (ngSubmit)="prestartestimationViews()">
                        <div class="row">
                            <div class="col-md-3 form-group ">
                                <ng-select formControlName="cmpCode" placeholder="Select Company"
                                    (change)="OnChangeCompany($event)">
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!prestartestimationView.get('cmpCode').valid && prestartestimationView.get('cmpCode').touched">
                                        <span *ngIf="prestartestimationView.get('cmpCode').errors['required']">Company
                                            is required</span>
                                    </span></span>

                            </div>
                            <div class="col-md-3 form-group ">
                                <ng-select formControlName="plantCode" placeholder="Select Plant"
                                    (change)="OnChangePlant(prestartestimationView.value.cmpCode,$event)">
                                    <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                        {{item.plantCode}} {{item.plantName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!prestartestimationView.get('plantCode').valid && prestartestimationView.get('plantCode').touched">
                                        <span *ngIf="prestartestimationView.get('plantCode').errors['required']">Plant
                                            is required</span>
                                    </span></span>

                            </div>

                            <div class="col-md-3 form-group ">
                                <ng-select formControlName="projCode" placeholder="Select Project"
                                    (change)="OnChangeProject(prestartestimationView.value.cmpCode,prestartestimationView.value.plantCode,$event)">
                                    <ng-option *ngFor="let item of ProjectList" [value]="item.projCode">
                                        {{item.projCode}} {{item.projName}}
                                    </ng-option>
                                </ng-select>
                                <span style="color:#f44336"><span
                                        *ngIf="!prestartestimationView.get('projCode').valid && prestartestimationView.get('projCode').touched">
                                        <span *ngIf="prestartestimationView.get('projCode').errors['required']">Project
                                            is required</span>
                                    </span></span>

                            </div>

                            <!-- <mat-form-field class="col-md-2" style="font-size: 15px;">
                                <mat-label>Choose file</mat-label>
                                <input matInput formControlName="DocumentFileUpload" readonly>
                                <button type="button" mat-icon-button matSuffix (click)="fileInput.click()">
                                    <mat-icon>attach_file</mat-icon>
                                </button>
                                <input hidden (change)="selectFile($event)" #fileInput type="file"
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                    id="file">
                            </mat-form-field>

                            <div class="col-md-2">
                                <button type="submit" class="float-right mat-button-gradient" mat-button
                                    [disabled]="prestartestimationView?.invalid!">Upload Rates</button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="float-right mat-button-gradient" mat-button
                                    (click)="downloadUploadRA()">Download Rates</button>
                            </div> -->

                        </div>

                    </form>

                    <!-- Container -->
                    <div class=" table-responsive"
                        [ngStyle]="{display: RateAnalysisList.length > 0 ? 'block' : 'none'}">
                        <!-- Table Filter -->
                        <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <!-- Table -->
                        <mat-table [dataSource]="dataSource" matSort>
                            <!-- Update Company Column -->
                            <ng-container matColumnDef="isApproved">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>

                                <mat-cell *matCellDef="let row">
                                    <ng-container *ngIf="row.isApproved==0">
                                        <mat-icon (click)="editView(row,'edit')" title="Edit">update </mat-icon>
                                        <mat-icon (click)="editView(row,'view')" title="View">remove_red_eye</mat-icon>
                                        <mat-icon (click)="sendToApproval(row)" title="Send To Approval">send</mat-icon>
                                        <button mat-icon-button (click)="download(row)"><mat-icon
                                                title="Download">download</mat-icon></button>
                                    </ng-container>
                                    <ng-container *ngIf="row.isApproved==1">
                                        <button mat-icon-button> <mat-icon title="Approved"
                                                style="color:hsl(127, 95%, 54%) !important">done_outline</mat-icon></button>
                                        <button mat-icon-button (click)="download(row)"><mat-icon
                                                title="Download">download</mat-icon></button>
                                    </ng-container>
                                </mat-cell>


                            </ng-container>
                            <!-- Company Name Column -->
                            <ng-container matColumnDef="cmpName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.cmpName}} </mat-cell>
                            </ng-container>

                            <!-- Plant Name Column -->
                            <ng-container matColumnDef="plantName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.plantName}} </mat-cell>
                            </ng-container>

                            <!-- Project Name Column -->
                            <ng-container matColumnDef="projName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.projName}} </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                    </div>
                </mat-card>
            </mat-tab>

        </mat-tab-group>