<div class="example-container" style="height: 100vh;">
    <mat-toolbar style="flex: 0 0 128px; background-color: #6a241e;height:50px; color: white; margin-top: -0.3%;">
        <span style="flex: 1 1 auto;"></span>
        <div>
            <button mat-icon-button matTooltip="Full Screen"  toggleFullscreen mat-button (click)="toggleFullscreen()">
                <mat-icon>{{hide ? 'crop_free' : 'fullscreen_exit'}}</mat-icon>
            </button>
            <button mat-icon-button  (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="all-wrap">
        <mat-sidenav mode="side" #sidenav [opened]="screenWidth! > 640" position="start" style="margin-top:50px; ">
            <div class="profile-card mt-3 mb-3">
                <div class="header">
                    <img class="img-login-logo" src="../../../../assets/img/primuslg.png" style="width:100px;height:90px;" alt="Logo">
                </div>
            </div>

            <mat-divider></mat-divider>

            <mat-nav-list class="side-navnar">
                <ng-container *ngFor="let menu of menuList ; index as i;">
                    <ng-container [ngTemplateOutlet]="menu.children ?  childMenu : parentMenu"
                        [ngTemplateOutletContext]="{menu:menu}">
                    </ng-container>
                </ng-container>
            </mat-nav-list>

            <ng-template #parentMenu let-menu="menu">
                <mat-list-item [routerLink]="menu.routerLink" routerLinkActive="active-list-item"   [routerLinkActiveOptions]="{exact:true}">
                    <mat-icon>{{menu.icon}}</mat-icon> {{menu.text}}
                </mat-list-item>
            </ng-template>

            <ng-template #childMenu let-menu="menu">
                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header>
                        <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>{{menu.text}} 
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <mat-list-item [routerLink]="submenu.routerLink"  *ngFor="let submenu of menu.children"
                            routerLinkActive="active-list-item" [routerLinkActiveOptions]="{exact:
                        true}">
                            <mat-icon>{{submenu.icon}}</mat-icon> {{submenu.text}}
                        </mat-list-item>
                    </mat-nav-list>
                </mat-expansion-panel>
            </ng-template>
            
           
            <mat-divider></mat-divider>
        </mat-sidenav>
        <mat-sidenav-content class="page-wrap">
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>