* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Georgia, serif;
    color: #000; height:100%; min-height:100px;
    background: #fff; height:100%; min-height:100px; overflow:hidden;  
}

body {
    background: #fff; height:100%; min-height:100px; overflow:hidden;   
}