<section>
    <mat-card>
        <mat-tab-group>

            <mat-tab label="Create Work Order">
                <!-- Mat Card -->
                <mat-card class="mt-2 min-height-500">
                    <!-- Header -->
                    <mat-card-header>
                        <mat-card-title>Create Work Order</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <form *ngIf="CreateWorkOrder" [formGroup]="CreateWorkOrder" (ngSubmit)="addWorkOrder()">
                            <div class="row">
                                <div class="col-md-3 form-group ">
                                    <ng-select (change)="OnChangeCompany($event)" formControlName="cmpCode"
                                        placeholder="Select Company">
                                        <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                            {{item.cmpCode}} {{item.cmpName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!CreateWorkOrder.get('cmpCode').valid && CreateWorkOrder.get('cmpCode').touched">
                                            <span *ngIf="CreateWorkOrder.get('cmpCode').errors['required']">Company
                                                is required</span>
                                        </span></span>
                                </div>
                                <div class="col-md-3 form-group "> <ng-select
                                        (change)="onChangePlant(CreateWorkOrder.value.cmpCode,$event)"
                                        formControlName="plantCode" placeholder="Select Plant">

                                        <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                            {{item.plantCode}} {{item.plantName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!CreateWorkOrder.get('plantCode').valid && CreateWorkOrder.get('plantCode').touched">
                                            <span *ngIf="CreateWorkOrder.get('plantCode').errors['required']">Plant
                                                is required</span>
                                        </span></span>
                                </div>
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="projCode" placeholder="Select Project"
                                    (change)="OnChangeProject(CreateWorkOrder.value.cmpCode,CreateWorkOrder.value.plantCode,$event)">
                                        <ng-option *ngFor="let item of ProjectList" [value]="item.projCode">
                                            {{item.projCode}} {{item.projName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!CreateWorkOrder.get('projCode').valid && CreateWorkOrder.get('projCode').touched">
                                            <span *ngIf="CreateWorkOrder.get('projCode').errors['required']">Project
                                                is required</span>
                                        </span></span>
                                </div>
                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="Masters" placeholder="Select Master">
                                        <ng-option *ngFor="let item of MasterList" [value]="item">
                                            {{item}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!CreateWorkOrder.get('Masters').valid && CreateWorkOrder.get('Masters').touched">
                                            <span *ngIf="CreateWorkOrder.get('Masters').errors['required']">Master
                                                is required</span>
                                        </span></span>
                                </div>
                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Work order no"
                                        formControlName="workOrderNo" />
                                    <!-- <mat-error *ngIf="myError('workOrderNo', 'required')">Work order no is
                                        required</mat-error> -->
                                </mat-form-field>


                                <mat-form-field class="col-md-3" style="font-size: 15px;">

                                    <input placeholder="Date" required matInput [min]="startMinDate"
                                        [matDatepicker]="pickerStart" [matDatepicker]="picker1" formControlName="date"
                                        readonly>
                                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerStart></mat-datepicker>
                                    <mat-error *ngIf="myError('date', 'required')">Start date is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('date', 'pattern')">Please provide a valid start
                                        date</mat-error>
                                </mat-form-field>

                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="vendorselect" placeholder="Select Vender"
                                        (change)="onChangeVendorCP($event);">
                                        <ng-option *ngFor="let item of venderList" [value]="item.bpCode">
                                            {{item.bpCode}} {{item.bpFName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!CreateWorkOrder.get('vendorselect').valid && CreateWorkOrder.get('vendorselect').touched">
                                            <span *ngIf="CreateWorkOrder.get('vendorselect').errors['required']">Vendor
                                                is required</span>
                                        </span></span>
                                </div>

                                <div class="col-md-3 form-group ">
                                    <ng-select formControlName="contactPerson" placeholder="Select Sub Material">
                                        <ng-option *ngFor="let item of subCpList" [value]="item.bpCode">
                                            {{item.bpCode}} {{item.bpFName}}
                                        </ng-option>
                                    </ng-select>
                                    <span style="color:#f44336"><span
                                            *ngIf="!CreateWorkOrder.get('contactPerson').valid && CreateWorkOrder.get('contactPerson').touched">
                                            <span
                                                *ngIf="CreateWorkOrder.get('contactPerson').errors['required']">Contact
                                                person is required</span>
                                        </span></span>
                                </div>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="PAN" formControlName="pan" />
                                    <mat-error *ngIf="myError('pan', 'required')">Pan is required</mat-error>
                                    <mat-error *ngIf="myError('pan', 'pattern')">Please provide a valid pan</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="GSTIN" formControlName="gstin" />
                                    <mat-error *ngIf="myError('gstin', 'required')">Gstin is required</mat-error>
                                    <mat-error *ngIf="myError('gstin', 'pattern')">Please provide a valid
                                        gstin</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Phone" formControlName="phone" />
                                    <mat-error *ngIf="myError('phone', 'required')">Phone is required</mat-error>
                                    <mat-error *ngIf="myError('phone', 'pattern')">Please provide a valid
                                        phone</mat-error>
                                </mat-form-field>


                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Billing address"
                                        formControlName="billingAddress" />
                                    <mat-error *ngIf="myError('billingAddress', 'required')">Billing address is
                                        required</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Detail address"
                                        formControlName="detailAddress" />
                                    <mat-error *ngIf="myError('detailAddress', 'required')">Detail address is
                                        required</mat-error>
                                </mat-form-field>
                            </div>

                            <!-- <div class="col-md-3 form-group ">
                                <ng-select formControlName="actGroupId" placeholder="BOQ Head"
                                    (change)="OnChangeBOQHead($event)">
                                    <ng-option *ngFor="let item of BOQList"
                                        [value]="item.actGroupId">
                                        {{item.actGroupId}} {{item.actGroupDesc}}
                                    </ng-option>
                                </ng-select>
                                
                                
                            </div>
                            <div class="col-md-9 form-group ">
                                <ng-select formControlName="actSeqNo"
                                     placeholder="Sub Head">
                                    <ng-option *ngFor="let item of subCpList"
                                        [value]="item.nActSeqNo">
                                        <span [title]="item.actDesc"> {{item.nActSeqNo}}
                                            {{item.actDesc}}</span>
                                    </ng-option>
                                </ng-select>
                               
                            </div> -->

                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <button type="submit" class="mat-button-gradient" 
                                        mat-button>Save Work Order</button>
                                    
                                </div>
                            </div>

                        </form>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
        
    </mat-card>

</section>


<!-- Delete Dialog -->
<ng-template #deleteDialog>
    <mat-dialog-content>
        <div class="card-body" style="align-content: center;">
            <i class="material-icons" style="font-size: 80px; color: #FFBF00; margin-left: 30%;">
                error_outline
            </i>
            <h5 class="card-title" style="text-align: center;"><strong>Are You Sure?</strong></h5>
            <h6 class="card-title" style="text-align: center;">You won't able to revert this!</h6>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" style="margin-bottom: 0.5%;">
        <button mat-button matDialogClose color="primary" (click)="deleteEmployee()">Yes, delete it!</button>
        <button mat-button matDialogClose color="primary">Cancel</button>
    </mat-dialog-actions>
</ng-template>


<!-- <div class=" table-responsive"> -->
    <!-- [ngStyle]="{display: ServiceRequestNoteList?.length >0 && dataSource ? 'block' : 'none'}" --> 
    <!-- <mat-form-field class="col-md-3 float-right filter-class">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field> -->
    <!-- <mat-table [dataSource]="dataSource" matSort> -->

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <!-- {{row |json}} -->
                <mat-icon (click)="editMasterData(row,null)" title="Edit">update</mat-icon>
                <mat-icon (click)="editMasterData(row,'view')" title="View">remove_red_eye</mat-icon>
                <mat-icon (click)="deleteMaster(row)" title="Delete">delete</mat-icon>
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="Srno">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Sr.No</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span>{{row.Srno}} </span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="laborCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Labour Code </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span>{{row.laborCode}} </span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="descriptionofServices">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Description Of Services </mat-header-cell>
            <mat-cell *matCellDef="let row"> <span>{{row.descriptionofServices}} </span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Quantity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</mat-header-cell>
            <mat-cell *matCellDef="let row"> <span>{{row.Quantity}} </span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Unit">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Unit</mat-header-cell>
            <mat-cell *matCellDef="let row"> <span>{{row.Unit}} </span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Rate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Rate</mat-header-cell>
            <mat-cell *matCellDef="let row"> <span>{{row.Rate}} </span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
            <mat-cell *matCellDef="let row"> <span>{{row.Amount}} </span>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    <!-- </mat-table>

    <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator> -->
<!-- </div>  -->
